{% extends "/layout/provider_nav.html" %}

{% set active_page = "address" %}

{% block subhead %}{{ _('Address') }}{% endblock %}
{% block lead %}{{ _('Get patients in your neighborhood by completing your contact information.') }}{% endblock %}

{% block content %}
<!-- Form -->
<form method="post" action="" class="form-horizontal">
	<div class="row">
		<div class="span4">
			<fieldset>
				{{ makeStandardForm() }}
			</fieldset>
			<input type="hidden" name="provider_key" value="{{p.key.urlsafe()}}" />
		</div>
		<div class="span8" align="center">
			{% if not p.profile_photo_blob %}
				<img src="/assets/img/default-profile.png" width="100" height="100">
			{% else %}
				<img src="/serve/{{ p.profile_photo_blob }}" width="300" height="400">
			{% endif %}

			<br>
			<br>
			<a class="btn btn-mini" data-toggle="modal" href="#uploadProfileModal">{{ _('Upload') }}</a>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
						{{ _('Save') }}
				</button>
			</div>
		</div>
	</div>
</form>
<form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
	<div class="modal hide" id="uploadProfileModal" style="display: none;">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>{{ _('Upload') }}</h3>
		</div>
		<div class="modal-body">
			{{ uploadForm.profilePhoto }}
		</div>
		<input type="hidden" name="key" value="{{ p.key.urlsafe()}}" />
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">
				{{ _('Save') }}
			</button>
			<a class="btn" data-dismiss="modal">{{ _('Cancel') }}</a>
		</div>
	</div>
</form>
{% endblock %} 

{% block extra_javascript %}
<script src="/assets/js/bootstrap-modal.js"></script>
{% endblock extra_javascript %} 
