{% extends "/layout/provider.html" %}

{% set active_page = "address" %}

{% block subhead %}Addresse{% endblock %}
{% block lead %}Votre addresse.{% endblock %}

{% block content %}
<div class="span1" align="center">
	<img src="/assets/img/default-profile.png" width="100" height="100">
	<a class="btn btn-mini" data-toggle="modal" href="#uploadProfileModal" >T&eacute;l&eacute;charger</a>
</div>
<div class="span4">
	<form class="form-horizontal">
		<fieldset>
			{{ makeStandardForm() }}
		</fieldset>
	</form>
</div>
<form action="{{ upload_url }}" method="post" enctype="multipart/form-data">
	<div class="modal hide" id="uploadProfileModal" style="display: none;">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>T&eacute;l&eacute;charger</h3>
		</div>
		<div class="modal-body">
			{{ uploadForm.profilePhoto }}
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">
				Sauvegarder
			</button>
			<a class="btn" data-dismiss="modal">Annuler</a>
		</div>
	</div>
</form>
{% endblock %} 