{% extends "/layout/provider.html" %}

{% set active_page = "bookings" %}

{% block subhead %}Bookings{% endblock %}
{% block lead %}Your upcoming bookings{% endblock %}

{% block content %}
<div class="row">
	<div class="span9">
		{% if bookings|length > 0 %}
			{% for b in bookings %}
				<li>{{b.patient.firstName}} {{b.patient.lastName}} - {{b.requestDate}} </li>
			{% endfor %}
		{% else %}
			<div class="alert alert-error">
  				{{ _('No upcoming bookings.') }}
			</div>
		{% endif %}
	</div>	
</div>
{% endblock content %} 