{% extends "/layout/provider_nav.html" %}

{% set active_page = "bookings" %}

{% block subhead %}{{ _('Bookings') }}{% endblock %}
{% block lead %}{{ _('Your upcoming bookings.') }}{% endblock %}

{% block content %}
<div class="row">
		{% if bookings|length > 0 %}
		<div class="span6">

			<table class="table">
			<thead>
				<tr>
					<!-- <th>Key</th> -->
					<th>{{ _('Date and Time') }}</th>
					<th>{{ _('Patient') }}</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for b in bookings %}
					{% if b.patient %}
						{% set patient = b.patient.get() %}
					<tr>
						<!-- Date (Booking) -->
						<td> {{b.request_datetime|format_datetime_full}} </td>
						<!-- Patient -->
						<td><a href="#" class="" rel="popover" title="{{patient.first_name}} {{patient.last_name}}" data-content="{{patient.phone}} <br> {{patient.email}} <br>">{{patient.first_name}} {{patient.last_name}}</a></td>
					</tr>
					{% else %}
						<!-- booking with a linked patient -->
					{% endif%}
				{% endfor %}
			</tbody>
			</table>
		</div>	

			
		{% else %}
		<div class="span6">
			<div class="alert alert-error">
  				{{ _('No upcoming bookings. Is there any time marked as available in your schedule?') }}
			</div>
		</div>
		{% endif %}
		
		<!-- Bio Preview -->
		<div class="span6">
				{{ macro.make_provider_bio(provider) }}
		</div>
</div> <!-- row -->
{% endblock content %} 

{% block extra_javascript %}
	<script>
		$(function() {
			$('a[rel=tooltip]').tooltip();
			$('a[rel=popover]').popover();
		});
	</script>
{% endblock extra_javascript %}
