{% extends "/layout/base.html" %}

{% block subhead %}{{ _('My Account') }}{% endblock %}
{% block lead %}{{ _('Please log in with your email address below') }}{% endblock %}

{% block content %}
<div class="row">
	<form action="/provider/login" method="post" class="form-horizontal">
		<fieldset>
			{{ makeStandardForm(inputClass="input-xlarge") }}
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					{{ _('Login') }}
				</button>
			</div>
		</fieldset>
	</form>
</div>
{% endblock content %} 