{% extends "/layout/base.html" %}


{% block subhead %}{{ _('Select your password') }}{% endblock %}

{% block content %}
<!-- Error Message -->
{% if error_message %}
<div class="alert alert-error">
	{{error_message}}
</div>
{% endif %}

<!-- Form -->

<div class="row">
	<div class="span12">
		<form method="post" action="/provider/password" class="form-horizontal">
			<!-- email display as read-only -->
			<fieldset>
				<div class="control-group ">
					<label class="control-label" for="email">Email</label>
					<div class="controls">
						<input class="input-xlarge" id="email" name="email" type="text" value="{{p.email}}" readonly="true">
					</div>
				</div>
				
				{{ makeStandardForm() }}
			
			</fieldset>
			<input type="hidden" name="provider_key" value="{{p.key.urlsafe()}}" />
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
						{{ _('Save') }}
				</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}