{% extends "/layout/base.html" %}

{% block subhead %}Profile{% endblock %}
{% block lead %}Votre profile.{% endblock %}

{% block content %}
<div class="span1" align="center">
	<img src="/assets/img/default-profile.png" width="100" height="100">
	<br>
	<a href="#">T&eacute;l&eacute;charger</a>
</div>
<div class="span4">
	<form class="form-horizontal">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="input01"><strong>Pr&eacute;nom</strong></label>
				<div class="controls">
					<input type="text" class="input-xlarge">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01"><strong>Nom</strong></label>
				<div class="controls">
					<input type="text" class="input-xlarge">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01"><strong>Courriel</strong></label>
				<div class="controls">
					<input type="text" class="input-xlarge">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01"><strong>T&eacute;l&eacute;phone</strong></label>
				<div class="controls">
					<input type="text" class="input-xlarge">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="selectWhere"><strong>Lieu</strong></label>
				<div class="controls">
					<select name="where" id="selectWhere">
						<option>Montr&eacute;al - Centre-Ville</option>
						<option>Montr&eacute;al - Ouest de l'ile</option>
						<option>etc.</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01"><strong>Addresse</strong></label>
				<div class="controls">
					<input type="text" class="input-xlarge">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01"><strong>Ville</strong></label>
				<div class="controls">
					<input type="text" class="input-xlarge">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01"><strong>Code Postal</strong></label>
				<div class="controls">
					<input type="text" class="input-xlarge">
				</div>
			</div>
		</fieldset>
	</form>
</div>
<div class="span1">
	&nbsp;
</div>
<div class="span4">
	<form class="form-horizontal">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="selectSpecialty"><strong>Cat&eacute;gorie</strong></label>
				<div class="controls">
					<select name="what" id="selectSpecialty">
						<option>Physioth&eacute;rapeute</option>
						<option>Orthoth&eacute;rapeute</option>
						<option>Chiropracticien</option>
						<option>Ost&eacute;opathe</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="selectSpecialty"><strong>Specialites</strong></label>
				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" name="a" value="a">
						Cardiologie</label>
					<label class="checkbox">
						<input type="checkbox" name="a" value="a">
						Pneumologie</label>
					<label class="checkbox">
						<input type="checkbox" name="a" value="a">
						Orthopédie</label>
					<label class="checkbox">
						<input type="checkbox" name="a" value="a">
						Sportive</label>
					<label class="checkbox">
						<input type="checkbox" name="a" value="a">
						Neurologie</label>
					<label class="checkbox">
						<input type="checkbox" name="a" value="a">
						Pédiatrie</label>
					<label class="checkbox">
						<input type="checkbox" name="a" value="a">
						Gériatrie</label>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="selectSpecialty"><strong>&Eacute;cole</strong></label>
				<div class="controls">
					<select name="what" id="selectSpecialty">
						<option>Concordia</option>
						<option>McGill</option>
						<option>Universit&eacute; de Montr&eacute;al</option>
						<option>etc.</option>
						<option>Autre</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="selectSpecialty"><strong>Niveau de scolarit&eacute;</strong></label>
				<div class="controls">
					<select name="what" id="selectSpecialty">
						<option>Bac</option>
						<option>Maitrise</option>
						<option>Doctorat</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="selectSpecialty"><strong>Ann&eacute;e d'obtention</strong></label>
				<div class="controls">
					<input type="text" class="input-min">
				</div>
			</div>
		</fieldset>
	</form>
</div>
<div class="span1"></div>
<div class="span1"></div>
</div>
<div class="form-actions">
	<button type="submit" class="btn btn-primary">
		Sauvegarder
	</button>
	<button type="submit" class="btn">
		Annuler
	</button>
</div>
{% endblock %} 