{% extends "/layout/provider.html" %}

{% set active_page = "profile" %}

{% block subhead %}Profile{% endblock %}
{% block lead %}Votre profile.{% endblock %}

{% block content %}
<div class="row">
	<div class="span12">
		{% if flow == 'new' %}
		<form method="post" action="/provider/new/address" class="form-horizontal">
		{% else %}
		<form method="post" action="/provider/profile" class="form-horizontal">
		{% endif %}
			<fieldset>
				{{ makeStandardForm() }}
			</fieldset>
			<input type="hidden" name="flow" value="{{flow}}" />
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					{% if flow == 'new' %}
						Next
					{% else %}
						Sauvegarder
					{% endif %}
				</button>
			</div>
		</form>
	</div>
</div>
{% endblock %} 