{% extends "/layout/provider_nav.html" %}

{% set active_page = "schedule" %}

{% block subhead %}{{ _('Schedule') }}{% endblock %}
{% block lead %}{{ _('Organize your time.') }}{% endblock %}

{% block content %}
<div class="row">
	<div class="span12">
		<table class="table table-condensed centered">
			<thead>
				<th></th>
				{% for day in days %}
				<th style="min-width: 55px; text-align: center">
					{{day[1]}}
				</th>
				{% endfor %}
			</thead>
			
			<!-- timeslots are (name, starttime, endtime) -->
			{% for (ts_name, ts_start_time, ts_end_time) in timeslots %}
			<tr>
				<td> 
					{{ts_name}}
					<br>
					<small>{{ts_start_time|format_hour}}-{{ts_end_time|format_hour}}</small>
				</td>
				
				{% for day in days %}
				<td id="tt" style="text-align: center;">
					{% set button_id = day[0] ~ '-' ~ ts_start_time ~ '-' ~ ts_end_time %}
					{% if button_id in availableIds %}
						<a id="{{button_id}}" href="#" class="btn btn-mini btn-success" rel="tooltip" title="{{ _('Free') }}" style="width: 70%">
							<div style="width: 100%">
								<strong>{{day[1]}} <br> 
								{{ts_name}}</strong> <br>
								<br>
								<i id="{{button_id}}" class="icon-ok-circle"></i> <br>
								<!--{{ _('Busy') }}<br> -->
								<br>
								<small>{{ts_start_time|format_hour}}-{{ts_end_time|format_hour}}</small><br>
								<!-- <code>{{button_id}}</code> -->
							</div> 
						</a>
					{% else %}
						<a id="{{button_id}}" href="#" class="btn btn-mini" rel="tooltip" title="{{ _('Busy') }}" style="width: 70%">
							<div style="width: 100%">
								<strong>{{day[1]}} <br> 
								{{ts_name}}</strong> <br>
								<br>
								<i id="{{button_id}}" class="icon-ban-circle"></i> <br>
								<!--{{ _('Busy') }}<br> -->
								<br>
								<small>{{ts_start_time|format_hour}}-{{ts_end_time|format_hour}}</small><br>
								<!-- <code>{{button_id}}</code> -->
							</div> 
						</a>
					{% endif %}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</div>
	
</div>
{% endblock %}


{% block extra_javascript %}
<script>
	$(function() {
		$('a[rel=tooltip]').tooltip();
	});

    $("#tt a").click(function () {
    	//alert("I am an alert box! " + $("#b14").attr("Class"));
    	
     	$(this).toggleClass("btn-success");
     	// TODO change icon inside the <a>
     	var $icon = $(this).find('div i');
     	var $new_tooltip = ''
     	
     	if ($(this).hasClass('btn-success')) {
     		op = 'add'
     		$icon.addClass('icon-ok-circle')
     		$icon.removeClass('icon-ban-circle')
			$new_tooltip = '{{ _("Free") }}'
     	}
     	else {
     		op = 'remove'
     		$icon.addClass('icon-ban-circle')
     		$icon.removeClass('icon-ok-circle')
     		//$(this).attr('title', 'Not Free')
     		$new_tooltip = '{{ _("Busy") }}'
     	}
     	// Weird workaround for tooltip change	
     	$(this).attr('data-original-title', $new_tooltip).tooltip('fixTitle'); 	
     	$(this).tooltip('toggle') 
     	$(this).tooltip('toggle')
     	
     	post_data = {
     		key: "{{ provider.key.urlsafe() }}",
     		day_time: $(this).attr("id"),
     		operation: op
     	}
     	// post a save for the clicked schedule
     	$.post('/provider/schedule', post_data)
    });
</script>
{% endblock extra_javascript %}

