{% extends "/layout/base.html" %}

{% block content %}
<table class="table table-striped">
	<thead>
		<th></th>
		<th>Lundi</th>
		<th>Mardi</th>
		<th>Mercredi</th>
		<th>Jeudi</th>
		<th>Vendredi</th>
		<th>Samedi</th>
		<th>Dimanche</th>
	</thead>
	<tr>
		<td>Avant 7h00</td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
	</tr>
	<tr>
		<td>7h00 &agrave; 9h00</td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn btn-success" type="submit">
			<i class="icon-ok"></i> Oui
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
	</tr>
	<tr>
		<td>9h00 &agrave; 11h00</td>
		<td>
		<button class="btn btn-success" type="submit">
			<i class="icon-ok"></i> Oui
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn btn-success" type="submit">
			<i class="icon-ok"></i> Oui
		</button></td>
		<td>
		<button class="btn btn-success" type="submit">
			<i class="icon-ok"></i> Oui
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
	</tr>
	<tr>
		<td>11h00 &agrave; 13h00</td>
		<td>
		<button class="btn btn-success" type="submit">
			<i class="icon-ok"></i> Oui
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn btn-success" type="submit">
			<i class="icon-ok"></i> Oui
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
	</tr>
	<tr>
		<td>13h00 &agrave; 15h00</td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn btn-success" type="submit">
			<i class="icon-ok"></i> Oui
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn btn-success" type="submit">
			<i class="icon-ok"></i> Oui
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
	</tr>
	<tr>
		<td>15h00 &agrave; 17h00</td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn btn-success" type="submit">
			<i class="icon-ok"></i> Oui
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn btn-success" type="submit">
			<i class="icon-ok"></i> Oui
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
	</tr>
	<tr>
		<td>17h00 &agrave; 19h00</td>
		<td>
		<button class="btn btn-success" type="submit">
			<i class="icon-ok"></i> Oui
		</button></td>
		<td>
		<button class="btn btn-success" type="submit">
			<i class="icon-ok"></i> Oui
		</button></td>
		<td>
		<button class="btn btn-success" type="submit">
			<i class="icon-ok"></i> Oui
		</button></td>
		<td>
		<button class="btn btn-success" type="submit">
			<i class="icon-ok"></i> Oui
		</button></td>
		<td>
		<button class="btn btn-success" type="submit">
			<i class="icon-ok"></i> Oui
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
	</tr>
	<tr>
		<td>Apr&egrave;s 19h00</td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
		<td>
		<button class="btn" type="submit">
			<i class="icon-remove"></i> Non
		</button></td>
	</tr>
</table>
<label class="checkbox">
	<input type="checkbox">
	J'accepte de visiter les patients &agrave; leur domicile. </label>
<div class="form-actions">
	<button type="submit" class="btn btn-primary">
		Sauvegarder
	</button>
	<button type="submit" class="btn">
		Annuler
	</button>
</div>
{% endblock %} 