{% extends "/layout/provider.html" %}

{% set active_page = "schedule" %}

{% block subhead %}Horaire{% endblock %}
{% block lead %}Votre horaire.{% endblock %}

{% block content %}
<div class="row">
	<div class="span12">
		<table class="table table-striped table-condensed">
			<thead>
				<th></th>
				<th></th>
				{% for day in days %}
				<th style="min-width: 55px">{{day[1]}}
				<div class="btn-group" data-toggle="buttons-radio">
					<a href="#" class="btn btn-mini" rel="tooltip" title="Journ&eacute;e Non-Disponble"> <i class="icon-ban-circle"></i> </a>
					<a href="#" class="btn btn-mini" rel="tooltip" title="Journ&eacute;e Libre"> <i class="icon-ok-circle"></i> </a>
				</div></th>
				
				{% endfor %}
			</thead>
			{% for hour in hours %}
			<tr>
				<td rowspan="1">{{hour[0]|format_hour}}</td>
				<td></td>
				
				{% for day in days %}
				<td>
					<div class="btn-group" data-toggle="buttons-radio">
						<a href="#" class="btn btn-mini btn-success" rel="popover" title="Rendez-Vous" data-content="Jean Smith"><i class="icon-time"></i> </a>
						<a href="#" class="btn btn-mini" rel="tooltip" title="Non-Disponble"> <i class="icon-ban-circle"></i> </a>
						<a href="#" class="btn btn-mini btn-warning" rel="tooltip" title="Libre"> <i class="icon-ok-circle"></i> </a>
					</div>
				</td>
				{% endfor %}

			</tr>
			<tr>
				<td rowspan="1"> <!--blank :30 --> </td>
				<td></td>
				
				{% for day in days %}
				<td>
					<div class="btn-group" data-toggle="buttons-radio">
						<a href="#" class="btn btn-mini btn-success" rel="popover" title="Rendez-Vous" data-content="Jean Smith"><i class="icon-time"></i> </a>
						<a href="#" class="btn btn-mini" rel="tooltip" title="Non-Disponble {{hour[0]|format_30min_period(30)}}"> <i class="icon-ban-circle"></i> </a>
						<a href="#" class="btn btn-mini btn-warning" rel="tooltip" title="Libre"> <i class="icon-ok-circle"></i> </a>
					</div>
				</td>
				{% endfor %}
				
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %} 

				<!--
				<td>
				<div class="btn-group" data-toggle="buttons-radio">
					<a href="#" class="btn btn-mini" rel="tooltip" title="Non-Disponble"> <i class="icon-ban-circle"></i> </a>
					<a href="#" class="btn btn-mini btn-warning" rel="tooltip" title="Libre"> <i class="icon-ok-circle"></i> </a>
				</div></td>
				<td>
				<div class="btn-group" data-toggle="buttons-radio">
					<a href="#" class="btn btn-mini btn-danger" rel="tooltip" title="Non-Disponble"> <i class="icon-ban-circle"></i> </a>
					<a href="#" class="btn btn-mini" rel="tooltip" title="Libre"> <i class="icon-ok-circle"></i> </a>
				</div></td>
				<td>
				<div class="btn-group" data-toggle="buttons-radio">
					<a href="#" class="btn btn-mini" rel="tooltip" title="Non-Disponble"> <i class="icon-ban-circle"></i> </a>
					<a href="#" class="btn btn-mini btn-warning" rel="tooltip" title="Libre"> <i class="icon-ok-circle"></i> </a>
				</div></td>
				<td>
				<div class="btn-group" data-toggle="buttons-radio">
					<a href="#" class="btn btn-mini" rel="tooltip" title="Non-Disponble"> <i class="icon-ban-circle"></i> </a>
					<a href="#" class="btn btn-mini btn-warning" rel="tooltip" title="Libre"> <i class="icon-ok-circle"></i> </a>
				</div></td>
				<td>
				<div class="btn-group" data-toggle="buttons-radio">
					<a href="#" class="btn btn-mini" rel="tooltip" title="Non-Disponble"> <i class="icon-ban-circle"></i> </a>
					<a href="#" class="btn btn-mini btn-warning" rel="tooltip" title="Libre"> <i class="icon-ok-circle"></i> </a>
				</div></td>
				<td>
				<div class="btn-group" data-toggle="buttons-radio">
					<a href="#" class="btn btn-mini" rel="tooltip" title="Non-Disponble"> <i class="icon-ban-circle"></i> </a>
					<a href="#" class="btn btn-mini btn-warning" rel="tooltip" title="Libre"> <i class="icon-ok-circle"></i> </a>
				</div></td>
				-->