<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>cliksant&eacute;! Trouver des soins de sant&eacute;</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Le styles -->
		<link href="/assets/css/bootstrap.css" rel="stylesheet">
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
		</style>
		<link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
					<a class="brand" href="./index.html">cliksant&eacute</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li class="divider-vertical"></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Mon Compte <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">Mes Coordonn&eacute;es</a>
									</li>
									<li>
										<a href="schedule.html">Mes Disponibilit&eacute;s</a>
									</li>
									<li>
										<a href="#">Conditions</a>
									</li>
								</ul>
							</li>
							<li class="divider-vertical"></li>
							<li>
								<a href="#">Contact</a>
							</li>
							<li class="divider-vertical"></li>
							<li>
								<a href="#">English</a>
							</li>
							<li class="divider-vertical"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="container">
			<header class="jumbotron subhead">
				<h1>Conditions</h1>
				<p class="lead">
					Our contract with you.
				</p>
			</header>
			<div class="well span6">
				<h3>John Smith</h3>
				Provider Address
				<br>
				Provider Email
				<br>
				Provider Phone
				<br><br>
				
				<ol>
					<li>
						Provider (“provider”) is licensed to practice X (“profession”) by association Y in the Province of Quebec.
					</li>
					<li>
						Provider will charge clients at the rate of $90 per session, reflecting the established reasonable and customary rate from insurance co in area.
					</li>
					<li>
						For each new customer referred, provider will be billed at $20 per referral. New customer defined as X (not visited in the previous year?), payment terms (once per month?).
					</li>
					<li>
						For each recurring customer provider will be billed at $10 per referral. Recurring customer defined as X (visited in the previous year?)
					</li>
					<li>
						For an initial period of 1 year, provider agrees to accept new clients in any time slot from 8am to 6pm.
					</li>
					<li>
						The company retains the right of first refusal to provide external booking services, electronic patient records, loyalty programs, advertising campaigns, customer relationship management and more for an initial period of 2 years, subject to automatic renewal on condition of having no less than 10 new patients referred during this period.
					</li>
					<li>
						Provider must maintain a valid license to practise their profession and be in good standing with all relevant professional organizations, insurance companies, etc.
					</li>
				</ol>
				Date of agreement.
			</div>
		</div>
		<!-- /container -->
		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="../../assets/js/jquery.js"></script>
		<script src="../../assets/js/bootstrap-button.js"></script>
		<script src="../../assets/js/bootstrap-dropdown.js"></script>
		<script src="../../assets/js/bootstrap-collapse.js"></script>
	</body>
</html>
