{% extends "/layout/base.html" %}

{% set active_page = 'index' %}

{% block subhead %}{% endblock %}

{% block lead %}
{% if booking_enabled %}
{{ _("Get started by making a reservation today!") }}
{% endif %}
{% endblock %}

{% block content %}

{% if booking_enabled %}
{# For testing, bookings are enabled #}
<div class="row">
	<div class="span6">
		<div class="well">
			<form class="form-inline" action="/" method="post">
				<fieldset>
					<div class="control-group">
						{{ form.category.label(class="control-label",style="font-size:large; font-weight:bold") }}
						<div class="controls">
							{{ form.category }}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="dateSelect" style="font-size:large; font-weight:bold"> {{ _('When') }}</label>
						<div class="controls">
							{{ form.booking_date }}
							{{ form.booking_time }}
						</div>
					</div>
					<div class="control-group">
						{{ form.location.label(class="control-label", style="font-size:large; font-weight:bold") }}
						<div class="controls">
							{{ form.location }}
							{{ form.homecare(class="checkbox") }}
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-primary btn-large">
								{{ _('Book Now') }}
							</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div class="span6">
		<div id="carouselProfile" class="carousel slide">
			<!-- Carousel items -->
			<div class="carousel-inner">
				{# TODO: replace with calls to make_provider_bio #}

				<div class="item active" style="width:100%">
					<div style="margin: 0px auto; width:75%;">
						<div class="row-fluid">
							<div class="span4">
								<img src="/assets/img/profile-thumb1.jpeg">
							</div>
							<div class="span8">
								<h3>JULIE S.</h3>
								<h6>B.Sc., M.Cl.Sc., FCAMT</h6>
								<br>
								<br>
								<h5>Specialities</h5>
								<ul class="unstyled">
									<li>
										Manual therapy
									</li>
									<li>
										Rehabilitation
									</li>
									<li>
										Chronic Pain
									</li>
									<li>
										Spinal Conditions
									</li>
									<li>
										Athletic Injuries
									</li>
								</ul>
							</div>
						</div>
						<br>
						<br>
						<div class="row-fluid">
							<blockquote>
								<p>
									“I like to show patients a different perspective. Physiotherapy is all about communication.”
								</p>
							</blockquote>
						</div>
					</div>
				</div>
				<div class="item " style="width:100%">
					<div style="margin: 0px auto; width:75%;">
						<div class="row-fluid">
							<div class="span4">
								<img src="/assets/img/profile-thumb2.jpeg">
							</div>
							<div class="span8">
								<h3>CARLA T.</h3>
								<h6>B.Sc., M.Cl.Sc., FCAMT</h6>
								<br>
								<br>
								<h5>Specialities</h5>
								<ul class="unstyled">
									<li>
										Manual therapy
									</li>
									<li>
										Rehabilitation
									</li>
									<li>
										Chronic Pain
									</li>
									<li>
										Spinal Conditions
									</li>
									<li>
										Athletic Injuries
									</li>
								</ul>
							</div>
						</div>
						<br>
						<br>
						<div class="row-fluid">
							<blockquote>
								<p>
									“I like to show patients a different perspective. Physiotherapy is all about communication.”
								</p>
							</blockquote>
						</div>
					</div>
				</div>
				<div class="item " style="width:100%">
					<div style="margin: 0px auto; width:75%;">
						<div class="row-fluid">
							<div class="span4">
								<img src="/assets/img/profile-thumb3.jpeg">
							</div>
							<div class="span8">
								<h3>PATRICK I.</h3>
								<h6>B.Sc., M.Cl.Sc., FCAMT</h6>
								<br>
								<br>
								<h5>Specialities</h5>
								<ul class="unstyled">
									<li>
										Manual therapy
									</li>
									<li>
										Rehabilitation
									</li>
									<li>
										Chronic Pain
									</li>
									<li>
										Spinal Conditions
									</li>
									<li>
										Athletic Injuries
									</li>
								</ul>
							</div>
						</div>
						<br>
						<br>
						<div class="row-fluid">
							<blockquote>
								<p>
									“I like to show patients a different perspective. Physiotherapy is all about communication.”
								</p>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#carouselProfile" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#carouselProfile" data-slide="next">&rsaquo;</a>
		</div>
	</div>
</div>
{% else %}
{# -------------------------------------- #}
{# BOOKING is disabled, show Signup Block #}
{# FOR PRODUCTION #}
{# -------------------------------------- #}

<div id="switch_to_english" class="pull-right" style="border-bottom-left-radius: 5px; border-top-left-radius: 5px; white-space: nowrap; background: #cccccc; position: absolute; top: 120px; right:0; width:0; z-index: 1">
	<button type="button" class="close pull-left" onClick="$(this).parent().hide();" style="padding-top: 6px; padding-left:10px; padding-right: 10px">
		x
	</button>
	<div  style="padding-top: 8px; margin-left:20px; padding-bottom: 8px; padding-right: 10px">
		{% if lang == 'fr' %}
		<a href="/lang/en">Switch to English</a>
		{% elif lang == 'en' %}
		<a href="/lang/fr">Changer en Français</a>
		{% endif %}
	</div>
</div>

<div class="row">
	<div class="span4">
		<img src="/assets/img/home.jpeg">
	</div>
	<div class="span8">
		<table width="100%">
			<tr>
				<td valign="top" width="49%" style="border-top-left-radius: 5px; border-top-right-radius: 5px; background: #dddddd; padding: 15px;" valign="top"><h1 style="border-bottom: solid 1px #999999">Pour les professionnels</h1>
				<br>
				</td>
				{# spacer #} <td rowspan="5" width="2%">&nbsp;&nbsp;&nbsp;</td>
				<td valign="top" width="49%" style="padding:15px" valign="top"><h1 style="border-bottom: solid 1px #999999">Pour les patients</h1></td>
			</tr>
			<tr>
				<td style="background: #dddddd; padding: 15px" valign="top"><h2>Marketing</h2><h3>Your profile allows patients to find and learn more about you.</h3></td>
				<td style="padding:15px" valign="top"><h2>Convenient Care</h2><h3>Find the best medical professional for your needs.</h3></td>
			</tr>
			<tr>
				<td style="background: #dddddd; padding: 15px" valign="top"><h2>Scheduling</h2><h3>Spend less time on the phone with patients and more time caring for them.</h3></td>
				<td style="padding:15px" valign="top"><h2>Head 2</h2><h3>Point 2</h3></td>
			</tr>
			<tr>
				<td style="background: #dddddd; padding: 15px"><h2>Professional Networking</h2><h3>Show your credentials to patients and extend your professional network. </h3></td>
				<td style="padding:15px" valign="top"><h2>Improve Communication</h2><h3>Point 3</h3></td>
			</tr>
			<tr>
				<td style="background: #dddddd; padding: 15px; text-align: center" valign="top"><a href="/signup/provider/fr" class="btn btn-large btn-success"> I'm a professional
				<div style="margin-top: 5px; margin-bottom: 5px">
					<i class="bs-icon icon-briefcase"> </i>
				</div> Get Started! </a></td>
				<td style="text-align: center; padding:15px" valign="top"><a href="/signup/provider/fr" class="btn btn-large btn-primary" style="height:50px; width:120px;">
				<br>
				Get Started! </a></td>
			</tr>
		</table>
	</div>
</div>
{% endif %}

{% endblock content %}

{% block extra_javascript %}
<script>
	$(function() {
		setTimeout(function() {
			$('#switch_to_english').animate({
				width : '-=160',
			}, 1000, function() {
				// Animation complete.
			});

		}, 15000);

		$('#carouselProfile').carousel({
			interval : 15000
		});

		$('#switch_to_english').animate({
			width : '+=160',
		}, 1000, function() {
			// Animation complete.
		});
	});

</script>

{% endblock extra_javascript %}
