{% extends "/layout/base.html" %}

{% set active_page = 'index' %}

{% block subhead %}{% endblock %}

{% block lead %}
{% if booking_enabled %}
{{ _("Get started by making a reservation today!") }}
{% endif %}
{% endblock %}

{% block content %}

<div id="switch_to_english" class="pull-right" style="border-bottom-left-radius: 5px; border-top-left-radius: 5px; white-space: nowrap; background: #436EEE; position: absolute; top: 70px; right:0; width:0; z-index: 1; box-shadow: 2px 2px 6px #000;">
	<button type="button" class="close pull-left" onClick="$(this).parent().hide();" style="padding-top: 6px; padding-left:10px; padding-right: 10px">
		x
	</button>
	<div  style="padding-top: 8px; margin-left:20px; padding-bottom: 8px; padding-right: 10px">
		{% if lang == 'fr' %}
		<a href="/lang/en" style="color: white">Switch to English</a>
		{% elif lang == 'en' %}
		<a href="/lang/fr" style="color: white">Changer en Français</a>
		{% endif %}
	</div>
</div>

<div id="patient" class="pull-right" style="border-bottom-left-radius: 5px; border-top-left-radius: 5px; white-space: nowrap; background: #436EEE; position: absolute; top: 350px; right:0; width:0; z-index: 1; box-shadow: 2px 2px 6px #000;">
	<button type="button" class="close pull-left" onClick="$(this).parent().hide();" style="padding-top: 6px; padding-left:10px; padding-right: 10px">
		x
	</button>
	<div style="padding-top: 8px; margin-left:20px; padding-bottom: 8px; padding-right: 10px">
		<h4><a href="/signup/patient" style="color: white;">Are you a patient?</a></h4>
		<br>
		<p style="color: #eeeeee; font-size: small;">Veosan is currently <br>opening patient<br> accounts on a<br> limited basis!</p>
	</div>
</div>

<div class="row">
	<div class="span4">
		<div style="position: relative">
			<img src="/assets/img/home.jpeg" width="400" height="453">
			<div style="position: absolute; bottom: 0px; background-color: rgba(64,64,64,0.7); padding:15px;">
				<h2 style="color: white; font-size: 140%;"><span style="font-family: serif; font-size:120%; font-style: italic;">“</span> Veosan gives me a place to show my skills and helps patients find me. <span style="font-family: serif; font-size: 140%; font-style: italic;"> ”</span></h2>
			</div>
		</div>
	</div>
	<div class="span6" style="padding-left: 20px; position: relative; height:453px">
		<div style="margin-bottom: 16px" >
			<h1>{{ _('For Health Care Professionals')}}</h1>
		</div>

		<div style="margin-bottom: 10px" >
			<h2>Marketing</h2><h3>Your profile allows patients to find and learn more about you.</h3>
		</div>
		<div style="margin-bottom: 10px" >
			<h2>Scheduling</h2><h3>Spend less time on the phone with patients and more time caring for them.</h3>
		</div>
		<div style="margin-bottom: 10px" >
			<h2>Professional Networking</h2><h3>Show your credentials to patients and extend your professional network. </h3>
		</div>

		<div style="position: absolute; bottom: 15px; width: 100%">
			<div style="margin: 0 auto; text-align: center">
				<a href="/signup/provider/fr" class="btn btn-large btn-success" style="padding: 12px 24px; font-size:20px" > Click Here to Create
				<br>
				Your Free Profile </a>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

{% block extra_javascript %}
<script>
	$(function() {
		setTimeout(function() {
			$('#switch_to_english').animate({
				width : '-=160',
			}, 1000, function() {
				// Animation complete.
			});

		}, 15000);

		setTimeout(function() {
			$('#patient').animate({
				width : '+=160',
			}, 1000, function() {
				// Animation complete.
			});

		}, 2000);

		$('#switch_to_english').animate({
			width : '+=160',
		}, 1000, function() {
			// Animation complete.
		});
	});

</script>

{% endblock extra_javascript %}
