{% extends "/layout/base.html" %}

{% block subhead %}{{ _('Unsupported Browser') }}{% endblock %}
{% block lead %}It looks like you're using Internet Explorer!{% endblock %}

{% block content %}
<div class="row">
	<div class="span12">
		<p>
			Hi there, unfornately due to compatibility issues we don't support Internet Explorer. We made this decision so we can focus all our
			energy on giving the best possible experience to users with modern browsers such as Chrome, Safari, and Firefox as well as our mobile
			users on iPhones, iPads and Android-enabled devices.
		</p>

		<p>
			We recommend using <a href="http://www.google.com/chrome">Google Chrome</a>, 
			<a href="http://www.mozilla.org/firefox/new">Firefox</a>, 
			or <a href="http://www.apple.com/safari/">Apple Safari</a>.
		</p>
	</div>
</div>
{% endblock content %} 