/* Add additional stylesheets below
 -------------------------------------------------- */

/* Marketing section of Overview
 -------------------------------------------------- */

h2 {
	line-height:1;
}

.marketing .row {
	margin-bottom: 9px;
}

.marketing h1 {
	font-size: 28px;
	font-weight: 200;
	text-align: center;
}
.marketing h1, h2, h3 {
	font-family: "Karla";
	color: #333333;
}
.marketing h2 {
	font-size: 22px;
}
.marketing p {
	margin-right: 10px;
}
.marketing .bs-icon {
	float: left;
	margin: 7px 10px 0 0;
	opacity: .8;
}

.marketing .small-bs-icon {
	float: left;
	margin: 5px 5px 5px 0;
}

.navbar .brand {
	padding: 4px 10px 6px 22px;
	font-size: 27px;
	letter-spacing: 2px;
	line-height: 1;
	color: #FFFFFF;
	font-weight: lighter;
	text-shadow: 0px 0px 4px rgba(0,0,0,0.75);
	font-family: 'Kreon', sans-serif;
}

.page-header {
	margin: 0px 0px 15px 0px;
	padding-bottom: 4px;
	border-bottom: 1px solid #e5e5e5;
}

.lead {
	margin: 0px 0px 0px 0px;
	font-size: 16px;
	color: #999999;
}