.navbar {
	font-family: 'Karla', sans-serif;
}

.navbar .navbar-inner {
	background-color: #7FA9C5;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#369bd7), color-stop(90%, #369bd7), to(#61b0df));
	background-image: -webkit-linear-gradient(#369bd7, #369bd7 90%, #61b0df);
	background-image: -moz-linear-gradient(top, #369bd7, #369bd7 90%, #61b0df);
	background-image: -ms-linear-gradient(#369bd7, #369bd7 90%, #61b0df);
	background-image: -o-linear-gradient(#369bd7, #369bd7 90%, #61b0df);
	background-image: linear-gradient(#369bd7, #369bd7 90%, #61b0df);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#369bd7', endColorstr='#61b0df', GradientType=0);
}

.navbar .divider-vertical {
	height: 40px;
	width: 1px;
	margin: 0 9px;
	overflow: hidden;
	background-color: #369bd7;
	border-right: 1px solid #61b0df;
}

h1 {
	color: #317eac;
}

.nav-tabs .dropdown-toggle:hover .caret, .nav-pills .dropdown-toggle:hover .caret {
	border-top-color: #2071a1;
	border-bottom-color: #2071a1;
}
