{% extends "/layout/base.html" %}

{% block subnav %}
<ul class="nav nav-tabs">
	<li id="providers" {% if  "providers" == active_page %} class="active" {% endif %}>
		<a href="/admin/providers">{{ _('Providers') }}</a>
	</li>
	<li id="patients" {% if  "patients" == active_page %} class="active" {% endif %}>
		<a href="/admin/patients">{{ _('Patients') }}</a>
	</li>
	<li id="bookings" {% if  "bookings" == active_page %} class="active" {% endif %}>
		<a href="/admin/bookings">{{ _('Bookings') }}</a>
	</li>
	<li id="data" {% if  "data" == active_page %} class="active" {% endif %}>
		<a href="/admin/data">{{ _('Data') }}</a>
	</li>
</ul>
{% endblock %}