{% extends "/layout/base.html" %}

{% block subnav %}
<ul class="nav nav-tabs">
	<li id="dashboard" {% if  "dashboard" == active_page %} class="active" {% endif %}>
		<a href="/admin/dashboard">{{ _('Dashboard') }}</a>
	</li>
	<li id="providers" {% if  "providers" == active_page %} class="active" {% endif %}>
		<a href="/admin/providers">{{ _('Providers') }}</a>
	</li>
	<li id="patients" {% if  "patients" == active_page %} class="active" {% endif %}>
		<a href="/admin/patients">{{ _('Patients') }}</a>
	</li>
	<li id="prospects" {% if  "prospects" == active_page %} class="active" {% endif %}>
		<a href="/admin/prospects">{{ _('Prospects') }}</a>
	</li>
	<li id="campaigns" {% if  "campaigns" == active_page %} class="active" {% endif %}>
		<a href="/admin/campaigns">{{ _('Campaigns') }}</a>
	</li>
	<li id="bookings" {% if  "bookings" == active_page %} class="active" {% endif %}>
		<a href="/admin/bookings">{{ _('Bookings') }}</a>
	</li>
	<li id="bookings" {% if  "invites" == active_page %} class="active" {% endif %}>
		<a href="/admin/invites">{{ _('Invites') }}</a>
	</li>
	<li id="data" {% if  "data" == active_page %} class="active" {% endif %}>
		<a href="/admin/data">{{ _('Data') }}</a>
	</li>
</ul>
{% endblock %}