{% import '/layout/macros.html' as macro with context %}

<!DOCTYPE html>
<html lang="{{ lang }}">
	<head>
		<meta charset="utf-8">
		<title>
			{% if provider and provider.last_name %}
			{# show provider name in title for SEO #}
			{{ macro.display_provider_name(provider) }}
			- {{ category_dict[provider.category] }}
			{{ _('at Veosan') }}
			
			{% elif page_title %}
				{{ page_title }}
			{% else %}
			{# default title #}
			{{ _('Veosan! Find a Health Care Professional') }}
			{% endif %} </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		{% if active_page == 'public_profile' %}
		<link rel="canonical" href="http://www.veosan.com/{{ provider.vanity_url }}" />
		{% endif %}

		<!-- Le styles -->
		<style type="text/css">
			body {
				position: relative;
				padding-top: 60px; /* causes extra space at top on ios */
				padding-bottom: 40px;
			}

			.foot {
				font-size: small;
				color: #aaaaaa;
				margin: 18px 0px 0px 0px;
				padding-top: 4px;
				border-top: 1px solid #e5e5e5;
			}
			.foot ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
				list-style-image: none;
			}
			.foot li {
				display: inline;
				padding: 0px 5px 0px 0px
			}
			.foot a {
				color: #777777;
			}
			.foot a:hover {
				color: #555555;
			}

		</style>
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="/assets/img/favicon.ico">
		<link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/apple-touch-icon-114x114.png">
		<link href="/assets/css/docs.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Kreon:400|Karla:400' rel='stylesheet' type='text/css'>
		{% block extra_css %}{% endblock %}

		{% if google_analytics_enabled and not 'admin' in roles %}
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-33465053-1']);
			_gaq.push(['_trackPageview']);
			
			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();
		</script>
		{% endif %}
	</head>
	<body>
		{% include "/layout/navbar.html" with context %}

		{# microdata #}
		<div class="container">
			{% if active_page == 'public_profile' %}
			<div itemscope itemtype="http://schema.org/Person">
			{% endif %}
			
				{% block subnav %}{% endblock %}
				
				{% if not (active_page == 'index' or active_page == 'tour') %}
				<header class="page-header">
					<h1>{% block subhead %}{% endblock %}</h1>
					<h2 class="lead">
						{% block lead %}{% endblock %}
					</h2>
				</header>
				{% endif %}

				{% if error_message %}
				<!-- Error Message -->
				<div class="alert alert-error">
					{{error_message|safe}}
				</div>
				{% endif %}

				{% if success_message %}
				<!-- Success Message -->
				<div class="alert alert-success">
					{{success_message|safe}}
				</div>
				{% endif %}

				{% block content %}
				<!-- content goes here -->
				{% endblock %}
				
			{% if active_page == 'public_profile' %}
			</div> {# end microdata #}
			{% endif %}
			{% include "/layout/footer.html" with context %}
		</div>

		<!-- /container -->

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->

		<script src="/assets/js/jquery.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>

		{% block extra_javascript %}{% endblock %}
	</body>
</html>