<div class="foot">
	<ul>
		<li>
			<a href="/{{ lang }}/tour">{{ _('Tour') }}</a>
		</li>
		<li>
			<a href="/{{ lang }}/tour">{{ _('Blog') }}</a>
		</li>
		<li>
			<a href="/{{ lang }}/about">{{ _('About') }}</a>
		</li>
		<li>
			<a href="/{{ lang }}/contact">{{ _('Contact') }}</a>
		</li>
		<li>
			<a href="/{{ lang }}/terms">{{ _('Terms') }}</a>
		</li>
		<li>
			<a href="/{{ lang }}/privacy">{{ _('Privacy') }}</a>
		</li>
		{#
		<li>
			<a href="/{{ lang }}/careers">{{ _('Careers') }}</a>
		</li>
		#}
		<li class="pull-right">
			&copy; 2012
		</li>
	</ul>
</div>