{# Macro to display the errors in a given field for a form #}

{% macro display_errors_for_field(field) -%}
{% if field.errors %}
<p class="help-block">
	{% for error in field.errors %} <i class="icon-exclamation-sign"></i> {{ error }}
	<br>
	{% endfor %}
</p>
{% endif %}
{%- endmacro %}

{#

Macro to generate a standard form.

This will iterate over a WTForms form object and print out every
field in the order it was created. Displays well inside the
Twitter Bootstrap horizontal form layout.

#}

{% macro make_standard_form(form_name, inputClass='input-xlarge') -%}
{% for field in form_name %}
{% if field.type != "FileField" %}
<div class="control-group {% if field.errors %} error {% endif %}">
	{% if field.type == "CustomBooleanField" %}
	{# don't show the label on the left side for boolean #}
	{% else %}
	{{ field.label(class="control-label") }}
	{% endif %}
	<div class="controls">
		{{ display_errors_for_field(field) }}

		{% if field.type in ['MultiCheckboxField', 'CustomBooleanField'] %}
		{{ field(class="checkbox") }}
		{% elif field.type == 'TextAreaField' %}
		{{ field(class="field span4", rows="4") }}
		{% else %}
		{{ field(class=inputClass) }}
		{% endif %}

		{% if field.description %}
		<p class="help-block" style="font-style:italic; font-size:smaller; color:#767676">
			{{ field.description }}
		</p>
		{% endif %}
	</div>
</div>
{% endif %}
{% endfor %}
{%- endmacro %}

{# backwards compatible makeStandardForm() form all old pages that
don't give form_name as a parameter
#}
{% macro makeStandardForm(inputClass='input-xlarge') -%}
{{ make_standard_form(form, inputClass) }}
{%- endmacro %}

{#
Macro to generate a provider bio
#}

{% macro make_provider_bio(provider) -%}

<div style="width:100%">
	<div style="margin: 0px auto; width:75%;">
		<div class="row-fluid">
			<div class="span4">
				{% if provider.profile_photo_blob_key == None %}
				<img src="/assets/img/default-profile.png" width="100" height="100">
				{% else %}
				<img src="{{ provider.get_profile_photo_image_url(100) }}" width="100">
				{% endif %}

				<h5>Specialities</h5>
				<ul class="unstyled">
					{% for s in provider.specialty %}
					<li>
						{{ specialty_dict[s] }}
					</li>
					{% endfor %}
				</ul>

			</div>
			<div class="span8">
				<h3> {{provider.title|code_to_string or ''}} {{provider.first_name or ''}}
				{% if provider.address_enabled %} {{provider.last_name}}
				{% else %}
				{% if provider.last_name %}
				{{provider.last_name|first}}.
				{% endif %}
				{% endif %}</h3>
				<h6>{{ category_dict[provider.category] }}</h6>

				{% if provider.quote %}
				<p style="font-style: italic">
					{{ provider.quote }}
				</p>
				{% endif %}
				<p>
					{{ provider.bio }}
				</p>
			</div>
		</div>
	</div>
</div>

{%- endmacro %}

{#
Macro to generate provider name
#}

{% macro display_provider_name(provider) -%}

{{provider.first_name or ''}}

{% if provider.last_name %}
{{ provider.last_name }}
{% endif %}

{%- endmacro %}



{#
Macro to display year in CV
#}

{% macro display_cv_years(start_year, end_year) -%}

({{ start_year }} -
				{% if end_year %}
				{{ end_year }})
				{% else %}
				{{ _('Present') }})
				{% endif %}
				
{%- endmacro %}
