<div class="marketing">
	<h1> {{ _("Finding care is quick and simple. Here's why.") }} </h1>

	<br>

	<div class="row">
		<div class="span4">
			<i class="bs-icon icon-home"></i><h3>{{ _("Local Providers") }}</h3>
			<p>
				{{ _("We match your health care needs with the best providers in your area. Consultations can be done in clinic or conveniently at your home. Our team is ready to help you today.") }}
			</p>
		</div>
		<div class="span4">
			<i class="bs-icon icon-time"></i>
			<h3>{{ _("Simple Booking") }}</h3>
			<p>
				{{ _("Booking an appointment is just one step away. Forget about spending hours searching and trying to make sense of the results. It's better with Veosan.") }}
			</p>
		</div>
		<div class="span4">
			<i class="bs-icon icon-ok"></i>
			<h3>{{ _("Quality and Experience") }}</h3>
			<p>
				{{ _("Our care providers are screened to meet the highest industry standards. We look at things like education, experience, and accreditations so you don't have to.") }}
			</p>
		</div>
	</div><!--/row-->
	<div class="row">
		<div class="span4">
			<i class="bs-icon icon-heart"></i>
			<h3>{{ _("We Care") }}</h3>
			<p>
				{{ _("We know how difficult it can be to navigate the health care system and want to make it better. We use Veosan to find care for our family and friends.") }}
			</p>
		</div>
		<div class="span4">
			<i class="bs-icon icon-user"></i>
			<h3>{{ _("Community") }}</h3>
			<p>
				{{ _("We are actively engaged in the healthcare community. A portion of our proceeds goes to fund local initiatives aimed at making care more accessible for everyone.") }}
			</p>
		</div>
		<div class="span4">
			<i class="bs-icon icon-plus"></i>
			<h3>{{ _("Positive Impact") }}</h3>
			<p>
				{{ _("We believe using great technology is the key to creating a sustainable healthcare ecosystem for the next generation. Let's work together to make this a reality.") }}
			</p>
		</div>
	</div><!--/row-->
</div>
<!-- class marketing -->