<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<a class="brand" href="/">{{ _('veosan') }}</a>
			<div class="nav-collapse">
				<ul class="nav pull-right">
					<li>
						<a href="/{{ lang }}/tour">{{ _('Tour') }}</a>
					</li>
					<li class="divider-vertical">
					</li>
					<li>
						<a href="/blog">{{ _('Blog') }}</a>
					</li>
					<li class="divider-vertical">
					</li>

					{% if user %}
					<!-- User menu -->

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.get_email() }} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							{% if provider_from_user %}
							{% if provider_from_user.display_welcome_page %}
							<li id="welcome" {% if "welcome" == active_page %} class="active" {% endif %}>
								<a href="/provider/welcome/{{ provider_from_user.vanity_url }}">{{ _('Welcome') }}</a>
							</li>
							{% endif %}

							<li {% if "profile" == active_page %} class="active" {% endif %}>
								<a href="/provider/profile/{{ provider_from_user.vanity_url }}">{{ _('Profile') }}</a>
							</li>
							<li {% if "cv" == active_page %} class="active" {% endif %}>
								<a href="/provider/cv/{{ provider_from_user.vanity_url }}">{{ _('CV') }}</a>
							</li>
							<li {% if "address" == active_page %} class="active" {% endif %}>
								<a href="/provider/address/{{ provider_from_user.vanity_url }}">{{ _('Address') }}</a>
							</li>
							<li {% if "schedule" == active_page %} class="active" {% endif %}>
								<a href="/provider/schedule/{{ provider_from_user.vanity_url }}">{{ _('Schedule') }}</a>
							</li>
							<li {% if "network" == active_page %} class="active" {% endif %}>
								<a href="/provider/network/{{ provider_from_user.vanity_url }}">{{ _('Network') }}</a>
							</li>
							{% endif%}

							{% if patient %}
							<li>
								<a href="/patient/bookings">{{ _('Bookings') }}</a>
							</li>
							{% endif%}

							{# Always show logout #}
							<li class="divider"></li>
							<li class="">
								<a href="{{logout_url}}">{{ _('Logout') }}</a>
							</li>

							{% if provider and 'admin' in roles %}
							{# Show provider administration menu items #}
							<li class="divider"></li>
							<li {% if "bookings" == active_page %} class="active" {% endif %} style="font-style:italic">
								<a href="/provider/bookings/{{ provider.vanity_url }}">{{ _('Bookings') }}</a>
							</li>
							<li id="administration" style="font-style:italic">
								<a href="/provider/admin/{{ provider.vanity_url }}">{{ _('Administration') }}</a>
							</li>
							{% endif%}
						</ul>
					</li>
					<li class="divider-vertical">
					</li>

					{% else %}
					{# No user logged in #}

					{% if site_config.signup_enabled %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ _('Sign Up') }} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/signup/provider">{{ _('For Professionals') }}</a>
							</li>
							<li>
								<a href="/signup/patient">{{ _('For Patients') }}</a>
							</li>
						</ul>
					</li>
					<li class="divider-vertical">
					</li>
					{% endif %}

					<li>
						<a href="{{login_url}}">{{ _('My Account') }}</a>
					</li>
					<li class="divider-vertical">
					</li>
					{% endif%}

					<!-- language -->
					{% for l in other_languages %}
					<li>
						<a href="/lang/{{l}}">{{ language_labels[l] }}</a>
					</li>
					{% endfor %}

					{% if 'admin' in roles %}
					{# Possible to have no user logged in but still have an admin logged in #}
					{# show only admin menu #}
					<li class="divider"></li>
					<li style="font-style:italic">
						<a href="/admin"  title="{{ google_user.nickname() }}">System Admin</a>
					</li>
					<li style="font-style:italic">
						<a href="{{ admin_logout_url }}"  title="Logout of {{ google_user.nickname() }}">Admin Logout</a>
					</li>
					{% endif%}
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- /navbar -->
