{% extends "/layout/base.html" %}

{% block subnav %}
{% if provider_from_user and ('provider' or 'admin' in roles) %}
<ul class="nav nav-tabs">
	{% if provider_from_user.display_welcome_page %}
	<li id="welcome" {% if "welcome" == active_page %} class="active" {% endif %}>
		<a href="/provider/welcome/{{ provider_from_user.vanity_url }}">{{ _('Welcome') }}</a>
	</li>
	{% endif %}
	
	
	<li id="profile" {% if  "profile" == active_page %} class="active" {% endif %}>
		<a href="/provider/profile/{{ provider_from_user.vanity_url }}">{{ _('Profile') }}</a>
	</li>
	<li id="cv" {% if  "cv" == active_page %} class="active" {% endif %}>
		<a href="/provider/cv/{{ provider_from_user.vanity_url }}">{{ _('CV') }}</a>
	</li>
	<li id="address" {% if  "address" == active_page %} class="active" {% endif %}>
		<a href="/provider/address/{{ provider_from_user.vanity_url }}">{{ _('Address') }}</a>
	</li>
	<li id="schedule" {% if "schedule" == active_page %} class="active" {% endif %}>
		<a href="/provider/schedule/{{ provider_from_user.vanity_url }}">{{ _('Schedule') }}</a>
	</li>
	{% if provider_from_user.booking_enabled %}
	<li id="bookings" {% if "bookings" == active_page %} class="active" {% endif %}>
		<a href="/provider/bookings/{{ provider_from_user.vanity_url }}">{{ _('Bookings') }}</a>
	</li>
	{% endif %}
	<li id="network" {% if "network" == active_page %} class="active" {% endif %}>
		<a href="/provider/network/{{ provider_from_user.vanity_url }}">{{ _('Network') }}</a>
	</li>

	{% if provider_from_user.upgrade_enabled %}
	<li id="upgrade" {% if "upgrade" == active_page %} class="active" {% endif %}>
		<a href="/provider/upgrade/{{ provider_from_user.vanity_url }}">{{ _('Activate') }}</a>
	</li>
	{% endif %}

	{% if 'patient' in roles %}
	<li id="provider" {% if "patient" == active_page %} class="active" {% endif %}>
		<a href="/patient/bookings">{{ _('As Patient') }}</a>
	</li>
	{% endif %}

	{% if 'admin' in roles %}
	<li id="administration" {% if  "administration" == active_page %} class="active" {% endif %} style="font-style:italic">
		<a href="/admin/provider/admin/{{ provider_from_user.vanity_url }}">{{ _('Administration') }}</a>
	</li>
	<li id="notes" {% if  "logs" == active_page %} class="active" {% endif %} style="font-style:italic">
		<a href="/admin/provider/logs/{{ provider_from_user.vanity_url }}">{{ _('Event Logs') }}</a>
	</li>
	{% endif %}
	
	<li id="bookings" class="pull-right">
		<a href="/{{ provider_from_user.vanity_url }}">{{ _('Public Profile') }}</a>
	</li>
</ul>
{% endif %}
{% endblock %}