{% extends "/layout/provider_nav.html" %}

{% set active_page = "address" %}

{% block subhead %}{{ _('Address') }}{% endblock %}
{% block lead %}{{ _('Get patients in your neighborhood by completing your contact information.') }}{% endblock %}

{% block content %}
<!-- Form -->
<form method="post" action="/admin/provider/address/{{ provider.vanity_url }}" class="form-horizontal">
	<div class="row">
		<div class="span4">
			<fieldset>
				{{ macro.makeStandardForm() }}
			</fieldset>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
						{{ _('Save') }}
				</button>
			</div>
		</div>
	</div>
</form>

{% endblock %} 