{% extends "/layout/provider_nav.html" %}

{% set active_page = "address" %}

{% block subhead %}{{ _('Address') }}{% endblock %}
{% block lead %}{{ _('Get patients in your neighborhood by completing your contact information.') }}{% endblock %}

{% block content %}
<!-- Form -->
<div class="row">
	<div class="span6">
		<form method="post" action="/provider/address/{{ provider.vanity_url }}" class="form-horizontal" id="address_form">
			<fieldset>
				{{ macro.make_standard_form(address_form) }}
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					{{ _('Save') }}
				</button>
			</div>
		</form>
	</div>
	<div class="span6">
		<div class="control-group {% if vanity_url_form.vanity_url.errors %} error {% endif %}">
			<h3 style="margin-top: 18px">{{ _('Personal Link' )}}</h3>
			<p>
				{{ _('Your personal link allows people to find and remember you easily.') }}
				<br>
			</p>
			{{ macro.display_errors_for_field(vanity_url_form.vanity_url) }}
			<div class="input-prepend">
				<span class="add-on">&nbsp;veosan.com&nbsp;</span><span class="add-on">/</span>{{ vanity_url_form.vanity_url(class="span2", placeholder=_('Personal Link')) }}
			</div>
		</div>
	</div>
</div>

{% endblock %} 