{% extends "/layout/provider_nav.html" %}

{% set active_page = "administration" %}

{% block subhead %}
{{ provider.first_name }} {{ provider.last_name }}
<!-- TODO: Make this a block, reuse on provider list -->
{% if provider.recently_created() %} <span class="label label-success">new</span>{% endif %}
{% if not provider.terms_agreement %} <span class="label label-important">missing terms</span>{% endif %}
{% endblock %}

{% block lead %} {{ _('Provider Administration') }} {% endblock %}

{% block content %}

<!-- Form -->

<div class="row">

	<div class="span6">
		<h3>Link custom domain</h3>
		<form method="post" action="/admin/provider/domain/{{ provider.vanity_url }}" class="form-inline">
			<fieldset>
				<input type="text" name="domain" id="domain" value="{{ provider.vanity_domain }}">

				<button type="submit" class="btn btn-success">
					Link Domain
				</button>
			</fieldset>
		</form>
		
		<br>
		<br>
		<h3>Force friends</h3>
		<form method="post" action="/admin/provider/forcefriends/{{ provider.vanity_url }}" class="form-inline" id="force_friends">
			<fieldset>
				<input type="text" name="email" id="email" placeholder="Other provider email">

				<button type="submit" class="btn btn-success">
					Make Friends!
				</button>
			</fieldset>
		</form>

	</div>

	<div class="span6">
		<h3>Bio Preview</h3>
		{{ macro.make_provider_bio(provider) }}

		<h3>Public Profile</h3>
		<div class="well">
			<table class="table" width="100%">
				<thead>
					<tr>
						<th>Feature</th>
						<th>enable / disable</th>
					</tr>
				</thead>

				<tbody>

					<tr>
						<td width="60%">Show address={{ provider.address_enabled }}</td>
						<td width="40%">
							{% if provider.address_enabled %}
							<a href="/admin/provider/feature/address_enabled/{{ provider.vanity_url }}" class="btn btn-danger">
								Disable Address Link
							</a>
							{% else %}
							<a href="/admin/provider/feature/address_enabled/{{ provider.vanity_url }}" class="btn btn-success">
								Enable Address Link
							</a>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td width="60%">Show booking={{ provider.booking_enabled }}</td>
						<td width="40%">
							{% if provider.booking_enabled %}
							<a href="/admin/provider/feature/booking_enabled/{{ provider.vanity_url }}" class="btn btn-danger">
								Disable Booking
							</a>
							{% else %}
							<a href="/admin/provider/feature/booking_enabled/{{ provider.vanity_url }}" class="btn btn-success">
								Enable Booking
							</a>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td width="60%">Show connect={{ provider.connect_enabled }}</td>
						<td width="40%">
							{% if provider.connect_enabled %}
							<a href="/admin/provider/feature/connect_enabled/{{ provider.vanity_url }}" class="btn btn-danger">
								Disable Connect
							</a>
							{% else %}
							<a href="/admin/provider/feature/connect_enabled/{{ provider.vanity_url }}" class="btn btn-success">
								Enable Connect
							</a>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td width="60%">Show stats={{ provider.stats_enabled }}</td>
						<td width="40%">
							{% if provider.stats_enabled %}
							<a href="/admin/provider/feature/stats_enabled/{{ provider.vanity_url }}" class="btn btn-danger">
								Disable Stats
							</a>
							{% else %}
							<a href="/admin/provider/feature/stats_enabled/{{ provider.vanity_url }}" class="btn btn-success">
								Enable Stats
							</a>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td width="60%">Show upgrade={{ provider.upgrade_enabled }}</td>
						<td width="40%">
							{% if provider.upgrade_enabled %}
							<a href="/admin/provider/feature/upgrade_enabled/{{ provider.vanity_url }}" class="btn btn-danger">
								Disable Upgrade
							</a>
							{% else %}
							<a href="/admin/provider/feature/upgrade_enabled/{{ provider.vanity_url }}" class="btn btn-success">
								Enable Upgrade
							</a>
							{% endif %}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}