{% extends "/layout/provider_nav.html" %}

{% set active_page = "administration" %}

{% block subhead %}
{{ provider.full_name() }}
<!-- TODO: Make this a block, reuse on provider list -->
{% if provider.recently_created() %} <span class="label label-success">new</span>{% endif %}
{% if not provider.terms_agreement %} <span class="label label-important">missing terms</span>{% endif %}
{% endblock %}

{% block lead %} {{ _('Provider Administration') }} {% endblock %}

{% block content %}

<!-- Form -->

<div class="row">

	<div class="span6">

		<h3>Status and Terms</h3>
		<div class="well">
			<p>
				Current status is {{ provider.status }}
				<br>
			</p>
			

			{% if provider.terms_agreement %}
				Agreed to terms on {{ provider.terms_date }}
				<br>
			{% else %}
				Terms not signed
				<br>
			{% endif %}
			<br>
			{% if provider.user %}
				{% set u = provider.user.get() %}
				User email: {{u.auth_ids|join}}
				<br>
				{% if u.password %} Password is set {% else %} Password is not set {% endif %}
				<br>
			{% else %}
				Provider is not activated. There is no user linked to this profile
				<br>
			{% endif %}
			<br>
			
			<form method="post" action="/admin/provider/status" class="form-inline">
				<fieldset>
					<input type="hidden" name="provider_key" value="{{ provider.key.urlsafe() }}" />
					
					{{ form.status() }}
					
					<button type="submit" class="btn btn-success">
						Change Status
					</button>

				</fieldset>
			</form>
		</div>

		<h3>Solicit</h3>
		<form method="post" action="/admin/provider/solicit" class="well form-inline">
			<p>
				Make sure profile is completed before sending the invitation for the provider to agree to the terms and take over his profile.
			</p>
			<fieldset>
				<input type="hidden" name="provider_key" value="{{ provider.key.urlsafe() }}" />
				<button type="submit" class="btn btn-primary">
					Solicit Provider
				</button>
				<span>&lt;{{ provider.email }}&gt;</span>
			</fieldset>
		</form>

		
	</div>

	<div class="span6">
		<h3>Bio Preview</h3>
		{{ macro.make_provider_bio(provider) }}

		<h3>Public Profile</h3>
		<div class="well">
			<table class="table" width="100%">
				<thead>
					<tr>
						<th>Feature</th>
						<th>enable / disable</th>
					</tr>
				</thead>

				<tbody>

					<tr>
						<td width="60%">Show address={{ provider.address_enabled }}</td>
						<td width="40%">
						<form method="post" action="/admin/provider/feature/address_enabled" class="form-inline">
							<fieldset>
								<input type="hidden" name="provider_key" value="{{ provider.key.urlsafe() }}" />
								{% if provider.address_enabled %}
								<button type="submit" class="btn btn-danger">
									Disable Address Link
								</button>
								{% else %}
								<button type="submit" class="btn btn-success">
									Enable Address Link
								</button>
								{% endif %}
							</fieldset>
						</form></td>
					</tr>
					<tr>
						<td width="60%">Show booking={{ provider.booking_enabled }}</td>
						<td width="40%">
						<form method="post" action="/admin/provider/feature/booking_enabled" class="form-inline">
							<fieldset>
								<input type="hidden" name="provider_key" value="{{ provider.key.urlsafe() }}" />
								{% if provider.booking_enabled %}
								<button type="submit" class="btn btn-danger">
									Disable Booking
								</button>
								{% else %}
								<button type="submit" class="btn btn-success">
									Enable Booking
								</button>
								{% endif %}
							</fieldset>
						</form></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}