{% extends "/layout/base.html" %}

{% set active_page = "public_profile" %}


{% block subhead %}
<span itemprop="name">{{ macro.display_provider_name(provider) }}</span>
{% endblock %}
{% block lead %}
<span itemprop="jobTitle">{{ category_dict[provider.category] }}</span>
{% endblock %}

{% block content %}


<div class="row">
	<!-- left column -->
	<div class="span2">
		{% if provider.profile_photo_blob_key == None %}
		<img src="/assets/img/default-profile.png" width="150" height="150"
		alt="{{ macro.display_provider_name(provider) }} - {{ category_dict[provider.category] }}"
		itemprop="image">
		{% else %}
		<img src="{{ provider.get_profile_photo_image_url(150) }}" width="150"
		alt="{{ macro.display_provider_name(provider) }} - {{ category_dict[provider.category] }}"
		itemprop="image">
		{% endif %}

		<br>
		<br>

		{% if provider.specialty|remove_empty_strings_from_list %}
		<h4>{{ _("Specialties") }}</h4>
		<ul class="unstyled">
			{% for s in provider.specialty %}
			<li>
				{{ specialty_dict[s] }}
			</li>
			{% endfor %}
		</ul>
		{% endif %}

		<br>
		<br>
		{% if 'admin' in roles %}
		<a href="/provider/profile/{{ provider.vanity_url }}" class="btn btn-danger"><i>Edit Profile</i></a>
		{% endif %}

	</div>
	<div class="span10">

		<h2>{{ _("Choose your appointment date and time") }}</h2>
		<br>

		<table style="width: 100%" class="table table-condensed centered">			
			<thead>
				{% for (day_key, day_times) in dtm|dictsort %}
				<th style="min-width: 75px; text-align: center"> 
						{{ day_key|format_weekday|capitalize }} <br>
						{{ day_key|format_date_medium }}
				</th>
				{% endfor %}
			</thead>
			
			<tr>
				{% for (day_key, day_times) in dtm|dictsort %}
				<td style="text-align: center">
					{% for t in day_times %}
					<form action="/{{provider.vanity_url}}/book/1" method="post" id="form-{{day_key~"-"~t.hour}}">
					  	<input type="hidden" name="booking_datetime" value="{{ t|format_datetime_booking_form }}"/>
					  	<button style="width=100%" type="submit" class="btn btn-primary" id="button-{{day_key~"-"~t.hour}}">
							{{t|format_datetime_hour_min}}
						</button>
				  	 </form>
				  	{% endfor %}
				</td>
				{% endfor %}
			</tr>
			
		</table>
		
		<table style="width: 100%">
			<tr>
			<td>
			{% if week_nav.prev_week %}
			<a class="btn btn-success" href="/{{ provider.vanity_url }}/book/date/{{week_nav.prev_week}}" > {{ _("Previous Week") }}</a>
			{% endif %}
			</td>
			{% if week_nav.next_week %}
			<td align="right">
			<a class="btn btn-success" href="/{{ provider.vanity_url }}/book/date/{{week_nav.next_week}}" > {{ _("Next Week") }}</a>
			</td>	
			{% endif %}
		</tr>
		</table>
	</div>

</div>


{% endblock content %}

