{% extends "/layout/provider_nav.html" %}

{% set active_page = "bookings" %}

{% block subhead %}{{ _('Bookings') }}{% endblock %}
{% block lead %}{{ _('Your upcoming bookings.') }}{% endblock %}

{% block content %}
<div class="row">
	{% if bookings|length > 0 %}
	<div class="span12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="25%">{{ _('Date and Time') }}</th>
					<th width="25%">{{ _('Patient') }}</th>
					<th width="50%">{{ _('Comments') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for b in bookings %}
				{% if b.patient %}
				{% set patient = b.patient.get() %}
				<tr>
					<!-- Date (Booking) -->
					<td>
						{% if b.cancelled %}<del>{% endif %}

						{{b.datetime|format_datetime_full}}
						
						{% if b.cancelled %}</del>{% endif %}
						<br>
						{% if b.cancelled %}
							<span class="badge badge-warning">Cancelled</span>
						{% endif %}
					</td>
					<!-- Patient -->
					<td>
					{{patient.first_name}} {{patient.last_name}}
					<br>
					{{patient.email}}
					<br>
					{{patient.telephone}}
					</td>
					<td>{{b.comments}}</td>
				</tr>
				{% else %}
				<!-- booking with a linked patient -->
				{% endif%}
				{% endfor %}
			</tbody>
		</table>
	</div>

	{% else %}
	<div class="span8">
		<div class="alert alert-error">
			{{ _('No upcoming bookings. Is there any time marked as available in your schedule?') }}
		</div>
	</div>
	{% endif %}

</div>
<!-- row -->
{% endblock content %}
