{% extends "/layout/provider_nav.html" %}

{% set active_page = "cv" %}

{% block subhead %}{{ _('CV') }}{% endblock %}
{% block lead %}{{ _('Your history.') }}{% endblock %}

{% block content %}
<!-- Form -->
<div class="row">
	<div class="span6">
		<!-- CV -->
		<h3>Education</h3>
		<ul class="unstyled">

			{% for e in provider.get_education() %}
			<li>
				<h4>{{ e.degree_type|code_to_string }} {{ e.degree_title }} <a href="/provider/cv/education/{{ provider.vanity_url }}/edit/{{ e.key.urlsafe() }}"><i class="bs-icon icon-edit"> </i></a></h4>
				<h6>{{ e.school_name|code_to_string }} ({{ e.start_year }}-{{ e.end_year }})</h6>
				<p>
					{{ e.description }}
				</p>
			</li>
			{% endfor %}
		</ul>
		<a data-toggle="modal" href="#education_modal" class="btn btn-primary">Add Education</a>
		<br>
		<br>
		<h3>Experience</h3>
		<ul class="unstyled">

			{% for e in provider.get_experience() %}
			<li>

				<h4>{{ e.title }} <a href="/provider/cv/experience/{{ provider.vanity_url }}/edit/{{ e.key.urlsafe() }}"><i class="bs-icon icon-edit"> </i></a></h4>
				<h6>{{ e.company_name }} ({{ e.start_year }}-{{ e.end_year }})</h6>
				<p>
					{{ e.description|markdown|safe }}
				</p>
			</li>
			{% endfor %}
		</ul>
		<a data-toggle="modal" href="#experience_modal" class="btn btn-primary">Add Experience</a>

		<br>
		<br>
		<h3>Continuing Education</h3>
		<ul class="unstyled">

			{% for e in provider.get_continuing_education() %}
			<li>

				<h4>{{ e.title }} <a href="/provider/cv/continuing_education/{{ provider.vanity_url }}/edit/{{ e.key.urlsafe() }}"><i class="bs-icon icon-edit"> </i></a></h4>
				<h6>{{e.type}}, {{ e.hours }} hours ({{ e.year }}/{{ e.month }})</h6>
				<p>
					{{ e.description }}
				</p>
			</li>
			{% endfor %}
		</ul>
		<a data-toggle="modal" href="#continuing_education_modal" class="btn btn-primary">Add Continuing Education</a>
	</div>
</div>

{# CV Sections #}

{% set section_label = {
	'education' : _('Education'), 
	'experience' : _('Experience'),
	'continuing_education' : _('Continuing Education'),
} %}

{% set section_form = {
	'education' : education_form, 
	'experience' : experience_form,
	'continuing_education' : continuing_education_form,
} %}

{% for section in ('education', 'experience', 'continuing_education') %}

<div class="modal hide" id="{{ section }}_modal" style="display: none;">
	<div class="modal-header">
		{% if edit %}
		<a class="close" href="/provider/cv/{{ provider.vanity_url }}">×</a>
		{% else %}
		<a class="close" data-dismiss="modal">×</a>
		{% endif %}

		<h3>{{ section_label[section] }}</h3>
	</div>
	{% if edit %}
	{% set post_url = '/provider/cv/' + section + '/' + provider.vanity_url + '/edit/' + edit_key %}
	{% else %}
	{% set post_url = '/provider/cv/' + section + '/' + provider.vanity_url + '/add' %}
	{% endif %}
	<form method="post" action="{{ post_url }}" class="form-horizontal" id="{{ section }}_form">
		<div class="modal-body">
			{{ macro.make_standard_form(section_form[section]) }}
		</div>

		<div class="modal-footer">
			{% if edit %}
			<a class="btn btn-danger pull-left" href="/provider/cv/{{ section }}/{{ provider.vanity_url }}/delete/{{ edit_key }}"> {{ _('Delete') }} </a>
			{% endif %}

			<button type="submit" class="btn btn-primary">
				{{ _('Save') }}
			</button>
			<a class="btn" href="/provider/cv/{{ provider.vanity_url }}">{{ _('Cancel') }}</a>
		</div>
	</form>
</div>
{% endfor %}

{% endblock %}

{% block extra_javascript %}

{% if education_form and (edit == 'education' or education_form.errors) %}
<script>$('#education_modal').modal('show')</script>
{% endif %}
{% if experience_form and (edit == 'experience' or experience_form.errors) %}
<script>$('#experience_modal').modal('show')</script>
{% endif %}
{% if continuing_education_form  and (edit == 'continuing_education' or continuing_education_form.errors) %}
<script>$('#continuing_education_modal').modal('show')</script>
{% endif %}

{% endblock %}
