{% extends "/layout/provider_nav.html" %}

{% set active_page = "notes" %}

{% block subhead %}
	{{ provider.first_name }}
	{{ provider.last_name }}
	<!-- TODO: Make this a block, reuse on provider list -->
	{% if provider.recently_created() %} <span class="label label-success">new</span>{% endif %}
	{% if not provider.terms_agreement %} <span class="label label-important">missing terms</span>{% endif %}
{% endblock %}

{% block lead %} {{ _('Sales and Notes') }} {% endblock %}

{% block content %}

<div class="row">

	<div class="span12">
		<p style="font-style:italic">Add a note about {{ provider.first_name }} {{ provider.last_name }}</p>
		<form class="form-inline" action="/admin/provider/notes/{{ provider.vanity_url }}" method="post">
			<fieldset>
				<table class="table">
					<tr style="vertical-align: top">
						<td>
							<div class="control-group">
								<div class="controls">
									{{ form.body(style="width: 95%", rows=5) }}
								</div>
							</div>
						</td>
						
						<td>
							<div class="control-group">
								<div class="controls">
									{{ form.note_type(class="span2") }}
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									{{ form.event_date() }}
								</div>
							</div>
							
							<div class="control-group">
								<div class="controls">
									<button type="submit" class="btn btn-primary">
										{{ _('Add Note') }}
									</button>
								</div>
							</div>
						</td>
					</tr>
				</table>			

			</fieldset>
		</form> <!-- new note form -->
		
		<table id="notes_table" class="table">
			<thead>
				<tr>
					<th width="5%">Type</th>
					<th width="30%">Note</th>	
					<th width="10%">Date</th>
					<th width="15%">created / user</th>
				</th>
			</thead>
			<tbody>	
				{% for n in notes %}
					<!-- display -->
					<tr id="{{n.key.id()}}" style="vertical-align: top" >
						<td>
							{{n.note_type|capitalize}}
						</td>
						<td>
							{{ n.body }}
							<br>
						</td>
						<td>
							{{n.note_type|capitalize}} on {{n.event_date}}
						</td>
						<td>
							<p style="font-style: italic">
											<i class="icon-asterisk"></i> {{n.created_on|format_datetime_full}}<br>
											<i class="icon-user"></i> {{n.user}}</p>
						</td>
    
					</tr>
					<!-- edit -->
					<tr id="edit{{n.key.id()}}" style="display: none;">
						<form class="form-inline" action="/admin/provider/notes/{{ provider.vanity_url }}/edit/{{n.key.urlsafe()}}" method="post">
							<td>
								{{ n.edit_form.note_type(class="span2") }}
							</td>
							<td>
								{{ n.edit_form.body(style="width: 90%", rows=5) }}
							</td>
							<td>
								{{ n.edit_form.event_date() }}
							</td>
							<td>
								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn btn-primary">
											{{ _('Save Note') }}
										</button>
										<a href="/admin/provider/notes/{{ provider.vanity_url }}">Cancel</a>
										<br>
										<br>
										<p style="font-style: italic">
											<i class="icon-asterisk"></i> {{n.created_on|format_datetime_full}}<br>
											<i class="icon-user"></i> {{n.user}}</p>
									</div>
								</div>
							</td>
						</form>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
</div>

{% endblock %}


{% block extra_javascript %}
    <script type="text/javascript">

        $("#notes_table tr:odd").click(function () {
        	tr_parent = $(this)
        	//.parents("tr:first")
        	note_id = tr_parent.attr("id")
            tr_parent.hide()
            $("#edit"+note_id).show()
            //$("#editForm").css("display", "block");
        });

    </script>
{% endblock extra_javascript %}


