{% extends "/layout/provider_nav.html" %}

{% set active_page = "notes" %}

{% block subhead %}
	{{ provider.full_name() }}
	<!-- TODO: Make this a block, reuse on provider list -->
	{% if provider.recently_created() %} <span class="label label-success">new</span>{% endif %}
	{% if not provider.terms_agreement %} <span class="label label-important">missing terms</span>{% endif %}
	{% if not provider.enable %} <span class="label label-important">disabled</span>{% endif %}
{% endblock %}

{% block lead %} {{ _('Sales and Notes') }} {% endblock %}

{% block content %}

<div class="row">

	<div class="span12">
		<p style="font-style:italic">Add a note about {{provider.full_name()}}</p>
		<form class="form-inline" action="/admin/provider/notes/{{ provider.vanity_url }}" method="post">
			<fieldset>				
				<div class="control-group">
					<div class="controls">
						{{ form.body }}
					</div>
				</div>
				
				<div class="control-group">
					<div class="controls">
						{{ form.note_type }}
					</div>
				</div>
				
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary">
							{{ _('Add Note') }}
						</button>
					</div>
				</div>
			</fieldset>
		</form>
		
		<!-- Notes -->
		<table class="table">
			<thead>
				<tr>
					<th width="20%">created / user</th>
					<th width="50%">Note</th>
				</th>
			</thead>
			<tbody>	
				{% for n in notes %}
					<tr style="vertical-align: top">
						<td>
							{{n.created_on|format_datetime_full}}<br>
							by {{n.user}}
						</td>
						<td>
							<i class="{{n.get_icon_name()}}"></i> 
							{{n.body}}
							<br>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	
</div>

{% endblock %}