{% extends "/layout/provider_nav.html" %}

{% set active_page = "profile" %}

{% block subhead %}{{ _('Profile') }}{% endblock %}
{% block lead %}{{ _('Fill out your profile for better patient matches.') }}{% endblock %}

{% block content %}
<!-- Form -->
<div class="row">
	<div class="span12">
		<form method="post" action="/admin/provider/profile/{{ provider.vanity_url }}" class="form-horizontal">
			<fieldset>
				<div class="row">
					<div class="span6">
						{{ macro.make_standard_form(profile_form) }}
					</div>
					<!-- CV -->
					<div class="span6">
						<div class="row-fluid">
							<h3>Education</h3>
							<ul class="unstyled">

								{% for e in provider.get_education() %}
								<li>
									<a href="/admin/provider/profile/cv/education/{{ provider.vanity_url }}/delete/{{ e.key.urlsafe() }}" class="pull-right"> <i class="bs-icon icon-remove-circle"> </i> </a>

									<h4>{{ e.degree_type|code_to_string }} {{ e.degree_title }}</h4>
									<h6>{{ e.school_name|code_to_string }} ({{ e.start_year }}-{{ e.end_year }})</h6>
									<p>
										{{ e.description }}
									</p>
								</li>
								{% endfor %}
							</ul>
							<a data-toggle="modal" href="#education_modal" class="btn btn-primary pull-right">Add Education</a>
						</div>
						<div class="row-fluid">
							<h3>Experience</h3>
							<ul class="unstyled">

								{% for e in provider.get_experience() %}
								<li>
									<a href="/admin/provider/profile/cv/experience/{{ provider.vanity_url }}/delete/{{ e.key.urlsafe() }}" class="pull-right"> <i class="bs-icon icon-remove-circle"> </i> </a>

									<h4>{{ e.title }}</h4>
									<h6>{{ e.company_name }} ({{ e.start_year }}-{{ e.end_year }})</h6>
									<p>
										{{ e.description }}
									</p>
								</li>
								{% endfor %}
							</ul>
							<a data-toggle="modal" href="#experience_modal" class="btn btn-primary pull-right">Add Experience</a>
						</div>
					</div>
				</div>
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					{{ _('Save') }}
				</button>
			</div>
		</form>
	</div>
</div>

<div class="modal hide" id="education_modal" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>{{ _('Education') }}</h3>
	</div>
	<form method="post" action="/admin/provider/profile/cv/education/{{ provider.vanity_url }}/add" class="form-horizontal" id="education_form">
		<div class="modal-body">
			{{ macro.make_standard_form(education_form) }}
		</div>

		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">
				{{ _('Save') }}
			</button>
		</div>
	</form>
</div>

<div class="modal hide" id="experience_modal" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>{{ _('Experience') }}</h3>
	</div>
	<form method="post" action="/admin/provider/profile/cv/experience/{{ provider.vanity_url }}/add" class="form-horizontal" id="experience_form">
		<div class="modal-body">
			{{ macro.make_standard_form(experience_form) }}
		</div>

		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">
				{{ _('Save') }}
			</button>
		</div>
	</form>
</div>
{% endblock %}

{% block extra_javascript %}

{% if education_form and education_form.errors %}
<script>$('#education_modal').modal('show')</script>
{% endif %}

{% endblock %}
