{% extends "/layout/provider_nav.html" %}

{% set active_page = "profile" %}

{% block subhead %}{{ _('Profile') }}{% endblock %}
{% block lead %}{{ _('Fill out your profile for better patient matches.') }}{% endblock %}

{% block content %}
<!-- Form -->
<div class="row">
	<div class="span12">
		<form method="post" action="/admin/provider/profile/{{ provider.vanity_url }}" class="form-horizontal">
			<fieldset>
				{{ macro.make_standard_form(profile_form) }}
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					{{ _('Save') }}
				</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}
