{% extends "/layout/base.html" %}

{% block subhead %}
{{ macro.display_provider_name(provider) }}
{% endblock %}
{% block lead %}
{{ category_dict[provider.category] }}
{% endblock %}

{% block content %}

{% if facebook_like_enabled %}
<div id="fb-root"></div>
<script>
	( function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk')); 
</script>
{% endif %}

<div class="row">
	<!-- left column -->
	<div class="span2">
		{% if provider.profile_photo_blob_key == None %}
		<img src="/assets/img/default-profile.png" width="150" height="150"
		alt="{{ macro.display_provider_name(provider) }} - {{ category_dict[provider.category] }}">
		{% else %}
		<img src="{{ provider.get_profile_photo_image_url(150) }}" width="150"
		alt="{{ macro.display_provider_name(provider) }} - {{ category_dict[provider.category] }}">
		{% endif %}

		<br>
		<br>

		{% if provider.category and provider.category|remove_empty_strings_from_list %}
		<h4>{{ _("Category") }}</h4>
		<ul class="unstyled">
			<li>
				{{ category_dict[provider.category] }}
			</li>
		</ul>
		{% endif %}

		{% if provider.specialty|remove_empty_strings_from_list %}
		<h4>{{ _("Specialties") }}</h4>
		<ul class="unstyled">
			{% for s in provider.specialty %}
			<li>
				{{ specialty_dict[s] }}
			</li>
			{% endfor %}
		</ul>
		{% endif %}

		{# Not for now
		<h4>Home Care Visits</h4>
		<ul class="unstyled">
			<li>
				Downtown
			</li>
			<li>
				West-Island
			</li>
		</ul>
		#}

		{% if provider.address_enabled %}
		<h4><a data-toggle="modal" href="#contact_modal" onclick="loadScript()">Address</a><a data-toggle="modal" href="#contact_modal" onclick="loadScript()"><i class="bs-icon icon-share-alt"> </i></a></h4>
		<br>
		{% endif %}

		{% if facebook_like_enabled %}
		<div class="fb-like" data-href="http://www.veosan.com/{{ provider.vanity_url }}" data-send="true" data-layout="button_count" data-width="150" data-show-faces="false"></div>

		<!-- Place this tag where you want the +1 button to render. -->
		<div class="g-plusone" data-size="small" data-href="http://www.veosan.com/{{ provider.vanity_url }}"></div>

		{% endif %}
		<br>
		<br>

		{% if provider.booking_enabled %}
		<button type="submit" class="btn btn-success btn-large" style="width:100%">
			{{ _('Book Now') }}
		</button>
		{% endif %}

		{% if 'admin' in roles %}
		<a href="/provider/profile/{{ provider.vanity_url }}" class="btn btn-danger"><i>Edit Profile</i></a>
		{% endif %}

	</div>
	<div class="span5">
		{% if provider.bio %}
		<p>
			{{ provider.bio }}
		</p>
		<br>
		{% endif %}

		{% if provider.quote %}
		<p style="font-style: italic; font-family:serif; font-size:x-large">
			“ {{ provider.quote }} ”
		</p>
		<br>
		{% endif %}

		{% if provider.get_experience()|remove_empty_strings_from_list %}
		<h3>{{ _('Experience') }}</h3>
		<ul class="unstyled">
			{% for e in provider.get_experience() %}
			<li>
				<h4>{{ e.title }}</h4>
				<h6>{{ e.company_name }}
				{{ macro.display_cv_years(e.start_year, e.end_year) }} </h6>
				{% if e.description %}
				<p>
					{{ e.description|markdown|safe }}
				</p>
				{% endif %}

			</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if provider.get_education()|remove_empty_strings_from_list %}
		<h3>{{ _('Education') }}</h3>
		<ul class="unstyled">
			{% for e in provider.get_education() %}
			<li>
				<h4>{{ e.degree_type|code_to_string }} {{ e.degree_title }}</h4>
				<h6> 
				{{ e.school_name }}

				{{ macro.display_cv_years(e.start_year, e.end_year) }} </h6>
				{% if e.description %}
				<p>
					{{ e.description|markdown|safe }}
				</p>
				{% endif %}

			</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if provider.get_continuing_education()|remove_empty_strings_from_list %}
		<h3>{{ _('Continuing Education') }}</h3>
		<ul class="unstyled">
			{% for e in provider.get_continuing_education() %}
			<li>
				<h4>{{ e.title }}</h4>
				<h6>{{ e.type|code_to_string }}, {% if e.hours  %}
				{{ e.hours  }} {{ _('Hours') }}
				{% endif %} ({{ e.year }}/{{ e.month }})</h6>
				{% if e.description %}
				<p>
					{{ e.description|markdown|safe }}
				</p>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>

	<div class="span5">
		{% if provider.get_organization()|remove_empty_strings_from_list %}
		<h3>{{ _('Organization Memberships') }}</h3>
		<ul class="unstyled">
			{% for e in provider.get_organization() %}
			<li>
				<h4> {% if e.organization == 'other' %}
				{{ e.other }}
				{% else %}
				{{ association_dict[e.organization] }}
				{% endif %} </h4>
				<h6>{{ macro.display_cv_years(e.start_year, e.end_year) }}</h6>
			</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if provider.get_certification()|remove_empty_strings_from_list %}
		<h3>{{ _('Certifications') }}</h3>
		<ul class="unstyled">
			{% for e in provider.get_certification() %}
			<li>
				<h4> {% if e.certification == 'other' %}
				{{ e.other }}
				{% else %}
				{{ certification_dict[e.certification] }}
				{% endif %} </h4>
				<h6>{{ e.year }} </h6>
			</li>
			{% endfor %}
		</ul>
		{% endif %}

	</div>

</div>

{% if provider.address_enabled %}
<!-- modal for contact info -->

<div class="modal hide" id="contact_modal" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>{{provider.first_name or ''}} {{ provider.last_name}}</h3>
	</div>
	<div class="modal-body">
		<div style="width:100%">
			<div style="margin: 0px auto; width:100%;">
				<div class="row-fluid">
					<div class="span4">
						{% if provider.profile_photo_blob_key == None %}
						<img src="/assets/img/default-profile.png" width="100" height="100">
						{% else %}
						<img src="{{ provider.get_profile_photo_image_url(100) }}" width="100">
						{% endif %}

						<br>
						<br>
						<br>
						<br>
						<br>
					</div>
					<div class="span8">
						<div class="row-fluid">
							<div class="span6">
								<h5>Address</h5>
								{{ provider.address }}
								<br>
								{{ provider.city }}
								<br>
								{{ provider.postal_code }}
								<br>
							</div>
							<div class="span6">
								<h5>Telephone</h5>
								{{ provider.phone }}

								<h5>Email</h5>
								{{ provider.email }}
							</div>
						</div>
						<br>
						<h5>Map</h5>
						<div id="map_canvas" style="width:100%; height:200px"></div>
					</div>

				</div>

			</div>
			{% if provider.booking_enabled %}
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">
					{{ _('Book Now') }}
				</button>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}

{% endblock content %}

{% block extra_javascript %}

{% if facebook_like_enabled %}
<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
	(function() {
		var po = document.createElement('script');
		po.type = 'text/javascript';
		po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(po, s);
	})(); 
</script>
{% endif %}

{% if provider.address_enabled %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDmWzdH93nBMmpuTvw7DKQEV210PmUIu64&sensor=false"></script>

<script type="text/javascript">
	var geocoder;
	var map;

	function initialize() {
		var myLatlng = new google.maps.LatLng(45.5000000, -73.5833333);
		geocoder = new google.maps.Geocoder();

		var myOptions = {
			zoom : 15,
			center : myLatlng,
			mapTypeId : google.maps.MapTypeId.ROADMAP,
			zoomControl : true,
			mapTypeControl : false,
			streetViewControl : false,
		}
		map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		codeAddress();
	}

	function codeAddress() {
		var address = '{{ provider.address }}, {{ provider.city }}, {{ provider.postal_code }}';

		geocoder.geocode({
			'address' : address
		}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				map.setCenter(results[0].geometry.location);
				var marker = new google.maps.Marker({
					map : map,
					position : results[0].geometry.location
				});
			} else {
				alert("Geocode was not successful for the following reason: " + status);
			}
		});
	}

	function loadScript() {
		var script = document.createElement("script");
		script.type = "text/javascript";
		script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyDmWzdH93nBMmpuTvw7DKQEV210PmUIu64&sensor=false&callback=initialize";
		document.body.appendChild(script);
	}
</script>
{% endif %}

{% endblock extra_javascript %}
