{% extends "/layout/provider_nav.html" %}

{% set active_page = "schedule" %}

{% block subhead %}{{ _('Schedule') }}{% endblock %}
{% block lead %}{{ _('Organize your time.') }}{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
		<table class="table table-condensed centered">

			<!-- header week days -->
			<thead>
				<th></th>
				{% for (day_key, day_label) in days %}
				<th style="min-width: 55px; text-align: center"> {{ day_label }}
				<br>
				<br>
				</th>
				{% endfor %}
			</thead>

			<!-- columns -->
			{% for (hour_key, hour_label) in times %}
				{% if loop.last %}
					{# don't show the last row #}
				{% else %}
				<tr>
				<td style="text-align: right;"> {{ hour_label }} </td>
				{% for (day_key, day_label) in days %}
	
					{% if schedules[day_key].has_key(hour_key) %}
						{% set s = schedules[day_key][hour_key] %}
						<td style="text-align: center;" rowspan="{{s.span}}"><a href="/provider/schedule/{{ provider.vanity_url }}/edit/{{ s.key.urlsafe() }}"
						class="btn btn-mini btn-success" style="width: 70%; height: 100%">
						<div style="width: 100%">
							<strong>{{day_label}}</strong>
							<br>
							<br>
							<small>{{s.start_time|format_hour}}-{{s.end_time|format_hour}}</small>
							<br>
						</div> </a> 
					{% elif schedules.within_span(day_key, hour_key) %}
						<!-- pass --> 
					{% else %}
						<td style="text-align: center;"><a class="btn btn-small" href="/provider/schedule/{{ provider.vanity_url }}/add/{{day_key}}/{{hour_key}}"> <i class="bs-icon icon-plus"> </i></a></td>
					{% endif %}
					</td>
				{% endfor %}
				</tr>
				{% endif %}
			{% endfor %}

		</table>
	</div>

</div>

{# Modal for Add Available Time #}
<div class="modal hide" id="schedule_form_modal" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Add an Available Timeslot</h3>
	</div>
	{% if edit_key %}
		{% set post_url = '/provider/schedule/' + provider.vanity_url + '/edit/' + edit_key %}
	{% else %}
		{% set post_url = '/provider/schedule/' + provider.vanity_url + '/add' %}
	{% endif %}
	<form method="post" action="{{ post_url }}" class="form-horizontal" id="add_form">
		<div class="modal-body">
			{{ macro.make_standard_form(schedule_form) }}
		</div>

		<div class="modal-footer">
			{% if edit_key %}
			<a class="btn btn-danger pull-left" href="/provider/schedule/{{ provider.vanity_url }}/delete/{{ edit_key }}"> {{ _('Delete') }} </a>
			{% endif %}

			<button type="submit" class="btn btn-primary">
				{{ _('Save') }}
			</button>
			<a class="btn" href="/provider/schedule/{{ provider.vanity_url }}">{{ _('Cancel') }}</a>
		</div>

	</form>
</div>

{% endblock %}

{% block extra_javascript %}

{% if edit_key or add or schedule_form.errors %}
<script>
	$('#schedule_form_modal').modal('show')

	$('#schedule_form_modal').on('hidden', function() {
		window.location = "/provider/schedule/{{ provider.vanity_url }}"
	})
</script>
{% endif %}

{% endblock %}

