{% extends "/layout/provider_nav.html" %}

{% set active_page = "schedule" %}

{% block subhead %}{{ _('Schedule') }}{% endblock %}
{% block lead %}{{ _('Organize your time.') }}{% endblock %}

{% block content %}


<div class="row">
	<div class="span12">
		<table class="table table-condensed centered">
			
			<!-- header week days --> 
			<thead>
				<th></th>
				{% for (day_key, day_label) in days %}
				<th style="min-width: 55px; text-align: center">
					{{ day_label }} <br><br>
					<a data-toggle="modal" href="#add_modal" class="btn btn-primary">{{ _('Add Time') }}</a>
				</th>
				{% endfor %}
			</thead>
			
			
			<!-- columns -->
			{% for hour in range(7,22) %}
			<tr>
				<td> 
					{{hour}}
				</td>
				
				{% for (day_key, day_label)  in days %}
					{% if schedules[day_key].has_key(hour) %}
						{% set s = schedules[day_key][hour] %}
						<td id="tt" style="text-align: center;" rowspan="{{s.span}}">
							<a href="#" class="btn btn-mini btn-success" rel="tooltip" title="{{ _('Free') }}" style="width: 70%; height: 100%">
								<div style="width: 100%">
									<strong>{{day_label}} <br> 
									{{ts_name}}</strong> <br>
									<br>
									<i class="icon-ok-circle"> </i> <br>
									<br>
									<small>{{s.start|format_hour}}-{{s.end|format_hour}}</small><br>
								</div> 
							</a>
						
						
					{% else %}
						<td>-</td>	
					{% endif %}
				</td>
				
				{% endfor %}
			</tr>
			{% endfor %}

			
			
		</table>
	</div>
	
	<p>schedules: {{ schedules }}</p>
	
</div>



{# Modal for Add Available Time #}
<div class="modal hide" id="add_modal" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Add an Available Timeslot</h3>
	</div>
	{% if edit == section %}
	{% set post_url = '/provider/schedule/' + provider.vanity_url + '/edit/' + edit_key %}
	{% else %}
	{% set post_url = '/provider/schedule/' + provider.vanity_url + '/add' %}
	{% endif %}
	<form method="post" action="{{ post_url }}" class="form-horizontal" id="add_form">
		<div class="modal-body">
			{{ macro.make_standard_form(schedule_form) }}
		</div>

		<div class="modal-footer">
			{% if edit == section %}
			<a class="btn btn-danger pull-left" href="/provider/schedule/{{ provider.vanity_url }}/delete/{{ edit_key }}"> {{ _('Delete') }} </a>
			{% endif %}

			<button type="submit" class="btn btn-primary">
				{{ _('Save') }}
			</button>
			<a class="btn" href="/provider/schedule/{{ provider.vanity_url }}">{{ _('Cancel') }}</a>
		</div>

	</form>
</div>

{% endblock %}
