{% extends "/layout/provider_nav.html" %}

{% set active_page = "social" %}

{% block subhead %}{{ _('Social') }}{% endblock %}
{% block lead %}Share your skills{% endblock %}

{% block content %}

<div class="row">
	<div class="span6">
		<h2>Your Network</h2>
		{% if provider.provider_network %}
		Your network contains {{ provider.provider_network|length }} health-care professionals.
		<table class="table-condensed">
			{% for pkey in provider.provider_network %}
			{% set p = pkey.get() %}
			
			{# create a row every 2 providers #}
			{% set tr = loop.cycle('<tr>', '') %}
			{% set close_tr = loop.cycle('', '</tr>') %}
				
				{{ tr|safe }}
				<td width="50"><a href="/{{ p.vanity_url }}"> {% if p.profile_photo_blob_key %} <img src="{{ p.get_profile_photo_image_url(50) }}" width="50"
				alt="{{ macro.display_provider_name(p) }} - {{ category_dict[p.category] }}"> {% else %} <img src="/assets/img/default-profile.png" width="50" height="50"
				alt="{{ macro.display_provider_name(p) }} - {{ category_dict[p.category] }}"> {% endif %} </a></td>
				<td width="150"><a href="/{{ p.vanity_url }}"><h4> {{ p.first_name }}
				{{ p.last_name }} </h4></a> {{ category_dict[p.category] }} </td>

				{{ close_tr|safe }}

				{% endfor %}
		</table>
		{% else %}
		Your network is empty! You can add people by sending invites.
		{% endif %}

		{# Search disabled
		<form method="post" action="/provider/search/{{ provider.vanity_url }}" class="form-inline" id="provider_search_form">
			<input type="text" name="search" id="search" placeholder="search">
			<button type="submit" class="btn btn-primary">
				{{ _('Search') }}
			</button>
		</form>
		#}
		{% if provider_search_results %}
		{% for p in provider_search_results %}
		{% if p.profile_photo_blob_key %}
		<img src="{{ p.get_profile_photo_image_url(50) }}" width="50">
		{% endif %}
		{{ p.first_name }} {{ p.last_name }}
		<br>
		<br>
		{% endfor %}
		{% endif %}
	</div>
	<div class="span6">
		<h2>Send an Invitation</h2>
		<p>
			Hi! We hope you like Veosan. We've definitely been working hard to make it better.
			Meanwhile, the Veosan family has been growing largely through invitations--sent by users
			who want to share their skills with the people they care about. We hope you'll want to as well.
			Just fill in the form below and we'll send your friend or colleague an invitation to see your profile.
		</p>
		<br>
		<form method="post" action="/provider/social/{{ provider.vanity_url }}/invite" class="form-horizontal" id="invite_provider_form">
			{{ macro.make_standard_form(provider_invite_form) }}

			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary">
						{{ _('Send Invite') }}
					</button>
				</div>
			</div>
		</form>

		<h2>Web Link</h2>
		<p>
			Here's a link you can paste in an email or put on your business cards.
		</p>
		<code>
			veosan.com/{{ provider.vanity_url }}
		</code>
	</div>
</div>

{% endblock %}
