{% extends "/layout/provider_nav.html" %}

{% set active_page = "upgrade" %}

{% block subhead %}{{ _('Upgrade') }}{% endblock %}
{% block lead %}{{ _('Access new features by upgrading your account.') }}{% endblock %}

{% block content %}
<style>
	.table tbody tr:hover td, .table tbody tr:hover th {
		background-color: transparent;
	}
</style>

<div class="row">
	<div class="span12">
		<table class="table table-bordered" style="width: 85%; margin: 0px auto">
			<thead>
				<th width="21%"></th>
				<th width="27%"><h2>Profile</h2><span style="font-size: smaller">Free</span></th>
				<th width="27%" style="background:#dddddd"><h2>Presence</h2><span style="font-size: smaller">9.99 / month</span></th>
			</thead>
			<tr>
				<td><h2>Get Online</h2></td>
				<td>
				<ul>
					<li>
						Complete profile and contact information
					</li>
					<li>
						Optimized for search engine and social networks
					</li>
				</ul></td>
				<td style="background:#eeeeee">
				<ul>
					<li>
						Complete profile and contact information
					</li>
					<li>
						Optimized for search engine and social networks
					</li>
					<li>
						<span style="font-weight:bold">See statistics about who is searching for your expertise</span>
					</li>
				</ul></td>
			</tr>
			<tr>
				<td><h2>Get Patients</h2></td>
				<td>
				<ul>
					<li>
						Use your online profile to promote your practice
					</li>
					<li>
						Build your referral network by connecting with other professionals
					</li>
				</ul></td>
				<td style="background:#eeeeee">
				<ul>
					<li>
						Use your online profile to promote your practice
					</li>
					<li>
						Build your referral network by connecting with other professionals
					</li>
					<li>
						<span style="font-weight:bold">Display your schedule and let patients book appointments online</span>
					</li>
				</ul></td>
			</tr>
		</table>
		<br>
		<table style="width: 85%; margin: 0px auto" border="0">
			<tr>
				<td width="20%"></td>
				<td width="27%"></td>
				<td width="27%" style="text-align: center;">
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="B8HZ67EVDW646">
					<table>
						<tr>
							<td>
							<input type="hidden" name="on0" value="Payment Options">
							Payment Options</td>
						</tr>
						<tr>
							<td>
							<select name="os0">
								<option value="Veosan Presence">Veosan Presence : $9.99 CAD - monthly</option>
								<option value="2 months free!">2 months free! : $99.99 CAD - yearly</option>
							</select></td>
						</tr>
					</table>
					<input type="hidden" name="currency_code" value="CAD">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form></td>
			</tr>
		</table>

	</div>
</div>
{% endblock %}
