{% extends "/layout/provider_nav.html" %}

{% set active_page = "upgrade" %}

{% block subhead %}{{ _('Upgrade') }}{% endblock %}
{% block lead %}{{ _('Access new features by upgrading your account.') }}{% endblock %}

{% block content %}
<style>
	.table tbody tr:hover td, .table tbody tr:hover th {
		background-color: transparent;
	}
</style>

<div class="row">
	<div class="span12">
		<table class="table table-bordered" style="width: 85%; margin: 0px auto">
			<thead>
				<th width="21%"></th>
				<th width="27%"><h2>Profile</h2><span style="font-size: smaller">Free</span></th>
				<th width="27%" style="background:#dddddd"><h2>Presence</h2><span style="font-size: smaller">9.99 / month</span></th>
			</thead>
			<tr>
				<td><h2>Get Online</h2></td>
				<td>
				<ul>
					<li>
						Complete profile and contact information
					</li>
					<li>
						Optimized for search engine and social networks
					</li>
				</ul></td>
				<td style="background:#eeeeee">
				<ul>
					<li>
						Complete profile and contact information
					</li>
					<li>
						Optimized for search engine and social networks
					</li>
					<li>
						<span style="font-weight:bold">See statistics about who is searching for your expertise</span>
					</li>
				</ul></td>
			</tr>
			<tr>
				<td><h2>Get Patients</h2></td>
				<td>
				<ul>
					<li>
						Use your online profile to promote your practice
					</li>
					<li>
						Build your referral network by connecting with other professionals
					</li>
				</ul></td>
				<td style="background:#eeeeee">
				<ul>
					<li>
						Use your online profile to promote your practice
					</li>
					<li>
						Build your referral network by connecting with other professionals
					</li>
					<li>
						<span style="font-weight:bold">Display your schedule and let patients book appointments online</span>
					</li>
				</ul></td>
			</tr>
		</table>
		<br>
		<table style="width: 85%; margin: 0px auto" border="0">
			<tr>
				<td width="20%"></td>
				<td width="27%"></td>
				<td width="27%" style="text-align: center;"><a data-toggle="modal" href="#upgrade_modal" class="btn btn-success btn-large">Upgrade</a></td>
			</tr>
		</table>

	</div>
</div>

<div class="modal hide" id="upgrade_modal" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>

		<h3>Choose your plan</h3>
	</div>
	<form action="/provider/upgrade/{{ provider.vanity_url }}" method="post" id="payment-form">
		<div class="modal-body">
			<div class="row-fluid">
				<div class="span6">
					<label class="control-label"><input type="radio" name="plan" value="veosan_presence_yearly" checked> Yearly - $99.99</label>
					<em>Get two months free when you sign up for a year!</em><br><br>
					<label class="control-label"><input type="radio" name="plan" value="veosan_presence_monthly"> Monthly - $9.99</label><br>
				</div>
				<div class="span6">
					<span class="payment-errors"></span>
					<div class="form-row">
						<label>Card Number</label>
						<input type="text" maxlength="20" autocomplete="off" class="card-number stripe-sensitive required">
					</div>
					<div class="form-row">
						<label>CVC</label>
						<input type="text" maxlength="4" autocomplete="off" class="card-cvc stripe-sensitive required input-small">
					</div>

					<div class="form-row">
						<label>Expiration (MM / YYYY)</label>
						<div class="expiry-wrapper">
							<select class="card-expiry-month stripe-sensitive required input-small"></select>
							<span> / </span>
							<select class="card-expiry-year stripe-sensitive required input-small"></select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<button type="submit" class="btn btn-success" name="submit-button">
				Upgrade
			</button>
		</div>
	</form>
</div>

{% endblock %}

{% block extra_javascript %}
<script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript">
	Stripe.setPublishableKey('pk_0CGm7P3z0UJVLSfX3Pj5z7NKuzUjj');

	$(document).ready(function() {
		function addInputNames() {
			// Not ideal, but jQuery's validate plugin requires fields to have names
			// so we add them at the last possible minute, in case any javascript
			// exceptions have caused other parts of the script to fail.
			$(".card-number").attr("name", "card-number")
			$(".card-cvc").attr("name", "card-cvc")
			$(".card-expiry-year").attr("name", "card-expiry-year")
		}

		function removeInputNames() {
			$(".card-number").removeAttr("name")
			$(".card-cvc").removeAttr("name")
			$(".card-expiry-year").removeAttr("name")
		}

		function addYearsToExpiry() {
			var select = $(".card-expiry-year");
			var year = new Date().getFullYear();

			for (var i = 0; i < 12; i++) {
				select.append($("<option value='" + (i + year) + "' " + (i === 0 ? "selected" : "") + ">" + (i + year) + "</option>"))
			}
		}

		function addMonthsToExpiry() {
			var select = $(".card-expiry-month");
			var month = new Date().getMonth() + 1;

			for (var i = 1; i <= 12; i++) {
				select.append($("<option value='" + i + "' " + (month === i ? "selected" : "") + ">" + i + "</option>"))
			}
		}

		function submit(form) {			
			// remove the input field names for security
			// we do this *before* anything else which might throw an exception
			removeInputNames();
			// THIS IS IMPORTANT!

			// given a valid form, submit the payment details to stripe
			$(form['submit-button']).attr("disabled", "disabled")

			Stripe.createToken({
				number : $('.card-number').val(),
				cvc : $('.card-cvc').val(),
				exp_month : $('.card-expiry-month').val(),
				exp_year : $('.card-expiry-year').val()
			}, function(status, response) {
				if (response.error) {
					// re-enable the submit button
					$(form['submit-button']).removeAttr("disabled")

					// show the error
					$(".payment-errors").html(response.error.message);

					// we add these names back in so we can revalidate properly
					addInputNames();
				} else {
					// token contains id, last4, and card type
					var token = response['id'];

					// insert the stripe token
					var input = $("<input name='stripeToken' value='" + token + "' style='display:none;' />");
					form.appendChild(input[0])

					// and submit
					form.submit();
				}
			});

			return false;
		}

		addYearsToExpiry();
		addMonthsToExpiry();

		// add custom rules for credit card validating
		jQuery.validator.addMethod("cardNumber", Stripe.validateCardNumber, "Please enter a valid card number");
		jQuery.validator.addMethod("cardCVC", Stripe.validateCVC, "Please enter a valid security code");
		jQuery.validator.addMethod("cardExpiry", function() {
			return Stripe.validateExpiry($(".card-expiry-month").val(), $(".card-expiry-year").val())
		}, "Please enter a valid expiration");

		// We use the jQuery validate plugin to validate required params on submit
		$("#payment-form").validate({
			submitHandler : submit,
			rules : {
				"card-cvc" : {
					cardCVC : true,
					required : true
				},
				"card-number" : {
					cardNumber : true,
					required : true
				},
				"card-expiry-year" : "cardExpiry" // we don't validate month separately
			}
		});

		// adding the input field names is the last step, in case an earlier step errors
		addInputNames();
	}); 
</script>

{% endblock %}
