{% extends "/layout/provider_nav.html" %}

{% set active_page = "upgrade" %}

{% block subhead %}{{ _('Oops!') }}{% endblock %}
{% block lead %}{{ _('There was a problem processing that card') }}{% endblock %}

{% block content %}


<div class="row">
	<div class="span2">
	</div>

	<div class"span10">
		<h2></h2>
		<br>
		<h3>Your transaction was not able to complete.</h3>
		<br>
		<h3>Please <a href="/provider/upgrade/{{ provider.vanity_url }}">try again</a> with a different card.</h3>
	</div>
</div>


{% endblock %}
