{% extends "/layout/provider_nav.html" %}

{% set active_page = "upgrade" %}

{% block subhead %}{{ _('Upgrade Successful') }}{% endblock %}
{% block lead %}{% endblock %}

{% block content %}

<img src="/assets/img/green-check.png">

Per the user agreement, you must provide verbiage on the page displayed by the Return URL that will help the buyer understand that the payment has been made and that the transaction has been completed.
You must provide verbiage on the page displayed by the Return URL that explains that payment transaction details will be emailed to the buyer.
Example: Thank you for your payment. Your transaction has been completed, and a receipt for your purchase has been emailed to you. You may log into your account at www.paypal.com/ca to view details of this transaction.

<h1>PDT Response</h1>
{{ status }}

<h1>Provider Details</h1>
Provider name: {{ provider.first_name }} {{ provider.last_name }}
Provider email: {{ provider.email }} 

{% endblock %}
