{% extends "/layout/provider_nav.html" %}

{% set active_page = "upgrade" %}

{% block subhead %}{{ _('Oops!') }}{% endblock %}
{% block lead %}{{ _('There was a problem processing that card') }}{% endblock %}

{% block content %}

<div class"span10">

		<br>
		<h3>{{ _("Your transaction was not able to complete.") }}</h3>
		<br>
		<h3>{{ _("Please") }} <a href="/provider/upgrade/{{ provider.vanity_url }}">{{ _("try again") }}</a> {{ _("with a different card.") }}</h3>
		<br>
		<br>	
</div>


{% endblock %}
