{% extends "/layout/provider_nav.html" %}

{% set active_page = "welcome" %}

{% block subhead %}{{ _('Welcome!') }}{% endblock %}
{% block lead %}{{ _("Hi there, thanks for signing up to Veosan, the best place to connect with patients. Here's a quick tour to get you started!") }}{% endblock %}

{% block content %}

<div class="row">
	<div class="span6">
		<h3>{{ _('How to Navigate the Site') }}</h3>
		<p>
			{{ _('You can change pages by clicking on the tabs.') }}
		</p>
		<dl class="dl-horizontal">
			<dt>{{ _('Profile') }}</dt>
			<dd>{{ _('Tell patients a bit about yourself') }}</dd>

			<dt>{{ _('CV') }}</dt>
			<dd>{{ _('Let patients learn about your background') }}</dd>

			<dt>{{ _('Address') }}</dt>
			<dd>{{ _('Help patients locate you easily') }}</dd>
		</dl>
		<img src="/assets/img/navigation-tabs.png">

		<div class="alert alert-info">
			<a class="close" href="/provider/welcome/{{ provider.vanity_url }}/disable">&times;</a> 
			<a href="/provider/welcome/{{ provider.vanity_url }}/disable">{{ _("Thanks for showing me around. Please don't display this welcome page again.") }}</a>
		</div>
	</div>
	<div class="span6">

		<div id="tour_carousel" class="carousel slide">
			<!-- Carousel items -->
			<div class="carousel-inner" style="width:80%; margin: 0px auto;">
				<div class="item active">
					<div align="center">
						<h1>{{ _('Set Yourself Apart') }}</h1>
						<br>
						<img src="/assets/img/profile-bio-crop.png" width="280" height="200">
					</div>
					<br>
					<h3>{{ _('Your bio and quote are a way to tell your story in your own words. This is a good opportunity to make a personal connection with visitors to your profile.') }} </h3>
				</div>
				<div class="item">
					<div align="center">
						<h1>{{ _("Say Cheese! Don't Forget to Upload Your Photo") }}</h1>
						<br>
						<img src="/assets/img/profile-image-crop.png" width="280" height="200">
					</div>
					<br>
					<h3> {{ _('A good profile photo makes patients feel comfortable with you. Profiles with photos get up to 8 times more views.') }} </h3>
				</div>
				<div class="item">
					<div align="center">
						<h1>{{ _('Tell Us a Bit About Yourself') }}</h1>
						<br>
						<img src="/assets/img/profile-cv-crop.png" width="280" height="200">
					</div>
					<br>
					<h3> {{ _('Build trust by completing your CV and showing your skills. Things like education, work experience, and professional memberships can all be listed here.') }}</h3>
				</div>

			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#tour_carousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#tour_carousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>
</div>



{% endblock %}

{% block extra_javascript %}

{% if google_analytics_enabled %}

<!-- Google Code for Signup Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 998511414;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "eLvBCLKJiQQQtqaQ3AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/998511414/?value=0&amp;label=eLvBCLKJiQQQtqaQ3AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

{% endif %}
{% endblock %}

