{% extends "/layout/provider_nav.html" %}

{% set active_page = "welcome" %}

{% block content %}

<h1>Welcome!</h1>

<h4>Hi there, thanks for signing up to Veosan, the best place to connect with patients.</h4>
<br>
<br>
<h2>Here's a quick tour to get you started.</h2>

<br>
<br>
<h2>You can navigate through your profile by clicking on the tabs above.</h2>
<h3>There are three different sections. </h3>

<br>
<br>
<h2>You should start by telling us a bit about yourself.</h2>
<h3>Make it easy for people to find you by completing your CV.</h3>

<br>
<br>
<h2>Set yourself apart.</h2>
<h3>Your bio is a way to tell your story in your own words.</h3>
<h3>Say it in your own words with a quote.</h3>

<br>
<br>
<h2>Say cheese! Don't forget to upload your photo.</h2>
<h3>There are three different sections. </h3>

{% endblock %}
