{% extends "/layout/provider_nav.html" %}

{% set active_page = "welcome" %}

{% block subhead %}{{ _('Welcome!') }}{% endblock %}
{% block lead %}{{ _("Hi there, thanks for signing up to Veosan, the best place to connect with patients. Here's a quick tour to get you started!") }}{% endblock %}

{% block content %}

<div class="row">
	<div class="span6">
		<h3>{{ _('How to Navigate the Site') }}</h3>
		<p>
			You can change pages by clicking on the tabs.
		</p>
		<ol>
			<li>
				Profile - Fill in your information
			</li>
			<li>
				CV - Fill in your background
			</li>
			<li>
				Address - Where you can be found
			</li>
		</ol>
		<img src="/assets/img/navigation-tabs.png">

		<div class="alert alert-info">
			<a class="close" href="/provider/welcome/{{ provider.vanity_url }}/disable">&times;</a> 
			<a href="/provider/welcome/{{ provider.vanity_url }}/disable">{{ _("Thanks for showing me around. Please don't display this welcome page again.") }}</a>
		</div>
	</div>
	<div class="span6">

		<div id="tour_carousel" class="carousel slide">
			<!-- Carousel items -->
			<div class="carousel-inner" style="width:80%; margin: 0px auto;">
				<div class="item active">
					<div align="center">
						<h1>{{ _('Set Yourself Apart') }}</h1>
						<br>
						<img src="/assets/img/profile-bio-crop.png" width="280" height="200">
					</div>
					<br>
					<h3>{{ _('Your bio and quote are a way to tell your story in your own words. This is a good opportunity to make a personal connection with visitors to your profile.') }} </h3>
				</div>
				<div class="item">
					<div align="center">
						<h1>{{ _("Say Cheese! Don't Forget to Upload Your Photo") }}</h1>
						<br>
						<img src="/assets/img/profile-image-crop.png" width="280" height="200">
					</div>
					<br>
					<h3> {{ _('A good profile photo makes patients feel comfortable with you. Profiles with photos get up to 8 times more views.') }} </h3>
				</div>
				<div class="item">
					<div align="center">
						<h1>{{ _('Tell Us a Bit About Yourself') }}</h1>
						<br>
						<img src="/assets/img/profile-cv-crop.png" width="280" height="200">
					</div>
					<br>
					<h3> {{ _('Build trust by completing your CV and showing your skills. Things like education, work experience, and professional memberships can all be listed here.') }}</h3>
				</div>

			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#tour_carousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#tour_carousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>
</div>

{% endblock %}
