{#

Macro to generate a standard form.

This will iterate over a WTForms form object and print out every
field in the order it was created. Displays well inside the
Twitter Bootstrap horizontal form layout.

#}

{% macro makeStandardForm(name, inputClass='input-xlarge') -%}
{% for field in form %}
{% if field.type != "FileField" %}
<div class="control-group {% if field.errors %} error {% endif %}">
	{% if field.type == "CustomBooleanField" %}
	{# don't show the label on the left side for boolean #}
	{% else %}
	{{ field.label(class="control-label") }}
	{% endif %}
	<div class="controls">
		{% if field.errors %}

		<p class="help-block">
			{% for error in field.errors %} <i class="icon-exclamation-sign"></i> {{ error }}
			<br>
			{% endfor %}
		</p>
		{% endif %}
		{% if field.type in ['MultiCheckboxField', 'CustomBooleanField'] %}
			{{ field(class="checkbox") }}
		{% elif field.type == 'TextAreaField' %}
			{{ field(class="field span6", rows="10") }}
		{% else %}
			{{ field(class=inputClass) }}
		{% endif %}
	</div>
</div>
{% endif %}
{% endfor %}
{%- endmacro %}

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>{{ _('clikcare! find a health care professional today') }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Le styles -->
		<link href="/assets/css/bootstrap.css" rel="stylesheet">
		<style type="text/css">
			body {
				position: relative;
				padding-top: 60px; /* causes extra space at top on ios */
				padding-bottom: 40px;
			}

			.foot {
				font-size: small;
				color: #aaaaaa;
			}
			.foot ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
				list-style-image: none;
			}
			.foot li {
				display: inline;
				padding: 0px 5px 0px 0px
			}
			.foot a {
				color: #aaaaaa;
			}
			.foot a:hover {
				color: #666666;
			}
			.foot hr {
				margin: 18px 0px 0px 0px;
			}

		</style>
		<link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
		<link href="assets/css/docs.css" rel="stylesheet">
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
					<a class="brand" href="/">{{ _('clikcare') }}</a>
					<div class="nav-collapse">
						<ul class="nav pull-right">
							{% if user %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ username }} <b class="caret"></b></a>
									<ul class="dropdown-menu">
						                {% if 'admin' in roles %}
										<li>
											<a href="/admin"  title="{{ google_user.nickname() }}">Administration</a>
										</li>
										{% endif%}
						                <li class="divider"></li>
						                <li>
											<a href="{{logout_url}}">{{ _('Logout') }}</a>
										</li>
					                </ul>
				               </li>
							{% else %}
								<li><a href="{{login_url}}">{{ _('My Account') }}</a></li>
								{% if 'admin' in roles %}
								<li><a href="/admin">Administration</a></li>
								{% endif%}
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /navbar -->

		<div class="container">
			{% block subnav %}{% endblock %}
			<header class="jumbotron subhead">
				<h1>{% block subhead %}{% endblock %}</h1>
				<p class="lead">
					{% block lead %}{% endblock %}
				</p>
			</header>
			<hr>
			<!-- content goes here -->
			{% block content %}{% endblock %}

			<div class="foot">
				<hr>
				<ul>
					<li>
						<a href="/about">{{ _('About') }}</a>
					</li>
					<li>
						<a href="/contact">{{ _('Contact') }}</a>
					</li>
					<li>
						<a href="/careers">{{ _('Careers') }}</a>
					</li>
					<li>
						<a href="/terms">{{ _('Terms') }}</a>
					</li>
					<li>
						<a href="/privacy">{{ _('Privacy') }}</a>
					</li>
					<li class="pull-right">
						&copy; 2012 Cliksante inc.
					</li>
				</ul>
			</div>
		</div>
		<!-- /container -->

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/assets/js/jquery.js"></script>
		<script src="/assets/js/bootstrap-button.js"></script>
		<script src="/assets/js/bootstrap-dropdown.js"></script>
		<script src="/assets/js/bootstrap-collapse.js"></script>
		<script src="/assets/js/bootstrap-tooltip.js"></script>
		<script src="/assets/js/bootstrap-popover.js"></script>
		<script src="/assets/js/bootstrap-transition.js"></script>
		<script src="/assets/js/bootstrap-carousel.js"></script>
		<script src="/assets/js/bootstrap-modal.js"></script>
		<script>
			$(function() {
				$('a[rel=tooltip]').tooltip();
				$('a[rel=popover]').popover();
				$('#carouselProfile').carousel({
					interval : 15000
				});
				$('#carouselQuote').carousel({
					interval : 15000
				});
				$('.uploadProfileModal').modal();
			});

		</script>
	</body>
</html>