<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<a class="brand" href="/">{{ _('clikcare') }}</a>
			<div class="nav-collapse">
				<ul class="nav pull-right">
					{% if user %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ username }} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							{% if provider and 'provider' in roles %}
							<li id="bookings" {% if "bookings" == active_page %} class="active" {% endif %}>
								<a href="{{provider.get_edit_link(route='/provider/bookings')}}">{{ _('Bookings') }}</a>
							</li>
							<li id="schedule" {% if "schedule" == active_page %} class="active" {% endif %}>
								<a href="{{provider.get_edit_link(route='/provider/schedule')}}">{{ _('Schedule') }}</a>
							</li>
							<li class="divider"></li>
							{% endif%}

							{% if 'admin' in roles %}
							<li id="profile" {% if  "profile" == active_page %} class="active" {% endif %} style="font-style:italic">
								<a href="{{provider.get_edit_link(route='/admin/provider/profile')}}">{{ _('Profile') }}</a>
							</li>
							<li id="address" {% if  "address" == active_page %} class="active" {% endif %} style="font-style:italic">
								<a href="{{provider.get_edit_link(route='/admin/provider/address')}}">{{ _('Address') }}</a>
							</li>
							<li id="administration" {% if  "administration" == active_page %} class="active" {% endif %} style="font-style:italic">
								<a href="{{provider.get_edit_link(route='/admin/provider')}}">{{ _('Administration') }}</a>
							</li>
							<li class="divider"></li>

							<li style="font-style:italic">
								<a href="/admin"  title="{{ google_user.nickname() }}">System Admin</a>
							</li>
							<li style="font-style:italic">
								<a href="{admin_logout_url{}}"  title="Logout of {{ google_user.nickname() }}">Admin Logout</a>
							</li>
							<li class="divider"></li>
							{% endif%}
							<li class="">
								<a href="{{logout_url}}">{{ _('Logout') }}</a>
							</li>
						</ul>
					</li>
					{% else %}
					<li>
						<a href="{{login_url}}">{{ _('My Account') }}</a>
					</li>

					{% if 'admin' in roles %}
					<li style="font-style:italic">
						<a href="/admin" title="{{ google_user.nickname() }}">Administration</a>
					</li>
					<li style="font-style:italic">
						<a href="{{admin_logout_url}}"  title="Logout of {{ google_user.nickname() }}">Admin Logout</a>
					</li>
					{% endif%}
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- /navbar -->
