<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<a class="brand" style="font-family: 'Karla', sans-serif;" href="/">{{ _('veosan') }}</a>
			<div class="nav-collapse">
				<ul class="nav pull-right">
					<!-- language -->
					{% for l in other_languages %}
					<li><a href="/lang/{{l}}">{{ language_labels[l] }}</a></li>
					{% endfor %}
					
					{% if user %}
					<!-- User menu -->

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ username }} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							{% if provider and 'provider' in roles %}
							<li>
								<a href="{{provider.get_edit_link(route='/provider/bookings')}}">{{ _('Bookings') }}</a>
							</li>
							<li>
								<a href="{{provider.get_edit_link(route='/provider/schedule')}}">{{ _('Schedule') }}</a>
							</li>
							{% endif%}
							
							{# Always show logout #}
							<li class="divider"></li>
							<li class="">
								<a href="{{logout_url}}">{{ _('Logout') }}</a>
							</li>

							{% if provider and 'admin' in roles %}
							{# Show provider administration menu items #}
							<li class="divider"></li>
							<li id="profile" style="font-style:italic">
								<a href="{{provider.get_edit_link(route='/admin/provider/profile')}}">{{ _('Profile') }}</a>
							</li>
							<li id="address" style="font-style:italic">
								<a href="{{provider.get_edit_link(route='/admin/provider/address')}}">{{ _('Address') }}</a>
							</li>
							<li id="administration" style="font-style:italic">
								<a href="{{provider.get_edit_link(route='/admin/provider')}}">{{ _('Administration') }}</a>
							</li>
							{% endif%}
						</ul>
					</li>
					{% else %}
					{# No user logged in #}
					<li>
						<a href="{{login_url}}">{{ _('My Account') }}</a>
					</li>
					{% endif%}

					{% if 'admin' in roles %}
					{# Possible to have no user logged in but still have an admin logged in #}
					{# show only admin menu #}
					<li class="divider"></li>
					<li style="font-style:italic">
						<a href="/admin"  title="{{ google_user.nickname() }}">System Admin</a>
					</li>
					<li style="font-style:italic">
						<a href="{{ admin_logout_url }}"  title="Logout of {{ google_user.nickname() }}">Admin Logout</a>
					</li>
					{% endif%}
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- /navbar -->
