{% extends "/layout/base.html" %}

{% block subnav %}
<ul class="nav nav-tabs">
	<li id="bookings" {% if "bookings" == active_page %} class="active" {% endif %}>
		<a href="{{p.get_edit_link(section='bookings')}}">{{ _('Bookings') }}</a>
	</li>
	<li id="schedule" {% if "schedule" == active_page %} class="active" {% endif %}>
		<a href="{{p.get_edit_link(section='schedule')}}">{{ _('Schedule') }}</a>
	</li>
	<li id="profile" {% if  "profile" == active_page %} class="active" {% endif %}>
		<a href="{{p.get_edit_link(section='profile')}}">{{ _('Profile') }}</a>
	</li>
	<li id="address" {% if  "address" == active_page %} class="active" {% endif %}>
		<a href="{{p.get_edit_link(section='address')}}">{{ _('Address') }}</a>
	</li>
	<li id="administration" {% if  "administration" == active_page %} class="active" {% endif %}>
		<a href="{{p.get_edit_link(section='administration')}}">{{ _('Administration') }}</a>
	</li>
</ul>
{% endblock %}