{% extends "/layout/admin.html" %}

{% set active_page = "providers" %}

{% block subhead %} <!-- Providers -->
{% endblock %}
{% block lead %} <!-- Provider administration -->
{% endblock %}

{% block content %}
{% if success_message %}
<div class="alert alert-success">
	{{success_message}}
</div>
{% endif %}
<!-- span -->
<div class="row">
	<div class="span12">
		<ul class="unstyled">
			{% for p in providers %}
			<li>
				<a href="{{p.get_edit_link()}}"
				rel="popover"
				title="{{p.first_name}} {{p.last_name}}"
				data-content="{{p.get_html_summary()}}"> {{p.last_name}}, {{p.first_name}} [{{p.email}}] </a>
				{% if p.recently_created() %} <span class="label label-success">new</span>{% endif %}
				{% if not p.terms_agreement %} <span class="label label-important">missing terms</span>{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
<hr>
<div class="row">
	<div class="span6">
		<h3>Create new provider</h3>
		<form method="post" action="/admin/provider/init" class="well form-inline">
			Generate a new ID for provider. You will have to login with their ID to complete the profile.
			<fieldset>
				{% if form.provider_email.errors %}
				<p class="help-block">
					{% for error in form.provider_email.errors %} <i class="icon-exclamation-sign"></i> {{ error }}
					<br>
					{% endfor %}
				</p>
				{% endif %}

				{{ form.provider_email }}

				<button type="submit" class="btn btn-primary">
					Initialize New Provider
				</button>
			</fieldset>
		</form>
	</div>
</div>
{% endblock content %} 