{% extends "/layout/admin_nav.html" %}

{% set active_page = "bookings" %}

{% block subhead %} Admin Bookings {% endblock %}
{% block lead %} View and administer bookings {% endblock %}

{% block content %}
<div class="row">
	<div class="span12">
		<table class="table">
			<thead>
				<tr>
					<th width="33%">Booking</th>
					<th width="33%">Patient</th>
					<th width="33%">Provider</th>
				</tr>
			</thead>
			<tbody>
				{% for b in bookings %}
				<tr>
					<td>
						<a href="/booking/detail">{{b.request_datetime|format_datetime_noseconds}}</a>
					</td>

					<td> 
						{% if b.patient %} 
						{% set patient = b.patient.get() %}
						<a href="#">
							 {{patient.first_name}} {{patient.last_name}} 
						</a> 
						{% elif b.request_email %}
							{{b.request_email}} 
							<br>
							<span class="badge badge-warning">!</span> 
							User never confirmed their appointment
						{% else %}
							<span class="badge badge-important">x</span> 
							User dropped out
						{% endif %}
					</td>
					
					<td> 
						{% if b.provider %}
						{% set provider = b.provider.get() %} 
							<a href="{{provider.get_edit_link()}}"> {{provider.email}}</a> 
						{% else %}
							<span class="badge badge-important">x</span> 
							No provider booked
						{% endif %} 
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}

{% block extra_javascript %}
<script>
	$(function() {
		$('a[rel=tooltip]').tooltip();
		$('a[rel=popover]').popover();
	}); 
</script>
{% endblock extra_javascript %}
