{% extends "/layout/admin_nav.html" %}

{% set active_page = "patients" %}

{% block subhead %}Patients{% endblock %}
{% block lead %}Patient administration{% endblock %}

{% block content %}
<!-- span -->
<div class="row">
	<div class="span12">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>email</th>
					<th>confirmed</th>
					<th>appointments</th>
				</tr>
			</thead>
			<tbody>
				{% for p in patients %}
				<tr>
					<td>{{ p.last_name }},  {{ p.first_name }}</td>
					<td>{{ p.email }}</td>
					<td>{{ p.confirmed }}</td>
					<td>not impl. yet</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock content %} 
