{% extends "/layout/base.html" %}

{% block subhead %}{{ _("Community Spirit") }}{% endblock %}

{% block lead %}
We like to help out
{% endblock %}
{% block content %}

<div class="row">
	<div class="span6">
		<h1>We give 100% of our profits from the <b>Veosan Profile</b> product to the Canadian Red Cross.</h1>

		<h1>We give a portion of everything else to them as well.</h1>

		<div align="center">
			<a href="/sales/competition"><img src="/assets/img/left-arrow.png"></a>
			<a href="/sales/price"><img src="/assets/img/right-arrow.png"></a>
		</div>

	</div>

</div>

{% endblock %}
