{% extends "/layout/base.html" %}

{% block subhead %}{{ _("Corporations") }}{% endblock %}

{% block lead %}
{% endblock %}

{% block content %}

<div class="row">
	<div class="span6">
		<div>
			<h3>Volume Discounts</h3>
			<ul>
				<li>
					Your company has scale and you are used to getting volume discounts on everything from paperclips to private jets
				</li>
				<li>
					But you aren't getting any of these advantages from your healthcare providers
				</li>
				<li>
					Your employees are going to see whoever they want and you can't negotiate with each provider
				</li>
				<li>
					With Veosan you can buy a block of hours across our entire network of specialists
				</li>
				<li>
					The more your employees use the system, the more you save!
				</li>
			</ul>

			<h3>Quality Control</h3>
			<ul>
				<li>
					Did you ever wonder where your employees are going to get their health care?
				</li>
				<li>
					You are footing the bill through your insurance premiums, after all
				</li>
				<li>
					You want to make sure they get the best care possible
				</li>
				<li>
					With Veosan you can select your professionals to create your own custom care network
				</li>
			</ul>

		</div>
	</div>
	<div class="span6">
		<h1> Happy employees are productive employees. Help them find health care quickly and easily. </h1>
	</div>
</div>

{% endblock %}
