{% extends "/layout/base.html" %}

{% block subhead %}{{ _("Health Care Institutions") }}{% endblock %}

{% block lead %}
{% endblock %}

{% block content %}

<div class="row">
	<div class="span6">
		<div>
			<h3>Increase Patient Turnover</h3>
			<ul>
				<li>Make room in your clinic for patients who really need to be there, send everyone else home with Veosan.</li>
			</ul>
			
			<h3>Quality Control</h3>
			<ul>
				<li>Did you ever wonder where your patients are going to get their health care when they leave your office?</li>
				<li>You want to make sure they get the best care possible</li>
				<li>With Veosan you can select your professionals to create your own custom care network</li>
			</ul>

		</div>
	</div>
</div>

{% endblock %}
