{% extends "/layout/base.html" %}

{% block subhead %}{{ _("Competitive Analysis") }}{% endblock %}

{% block lead %}
Veosan has a unique position in the marketplace.
{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
		<table class="table table-bordered">
			<thead>
				<th width="40%"></th>
				<th width="15%" style="background-color:#50a8dc"><span class="brand">{{ _('veosan') }}</span></th>
				<th width="15%">Generic Sites
				<br>
				<i>Facebook, LinkedIn, etc.</i></th>
				<th width="15%">Associations
				<br>
				<i>CMA, OPPQ, etc.</i></th>
				<th width="15%">Competitors
				<br>
				</th>
			</thead>
			<tr>
				<td><h4>Tools to run your business</h4></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Access to new patients from our extensive network of partner corporations and institutions</td>
				<td>Yes</td>
				<td>No</td>
				<td>No</td>
				<td>No</td>
			</tr>
			<tr>
				<td>Online agenda that makes it easy for patients to book an appointment and for you to keep track of your schedule</td>
				<td>Yes</td>
				<td>No</td>
				<td>No</td>
				<td>No</td>
			</tr>
			<tr>
				<td>Detailed records and notes on patients, get all the information you need quickly before they show up</td>
				<td>Yes</td>
				<td>No</td>
				<td>No</td>
				<td>No</td>
			</tr>
			<tr>
				<td><h4>Tools to market yourself</h4></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Search Engine Optimization</td>
				<td>Yes</td>
				<td>No</td>
				<td>No</td>
				<td>No</td>
			</tr>
			<tr>
				<td>Professional Profile Photo</td>
				<td>Yes</td>
				<td>No</td>
				<td>No</td>
				<td>No</td>
			</tr>
			<tr>
				<td><h4>Price</h4></td>
				<td>From $4.99</td>
				<td>Free</td>
				<td>Free</td>
				<td>Thousands of dollars</td>
			</tr>

		</table>

	</div>
</div>
{% endblock %}
