{% extends "/layout/base.html" %}

{% block subhead %}{{ _("Prices") }}{% endblock %}

{% block lead %}
Veosan is a great way to get started on your own today.
{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
		<table class="table table-bordered">
			<thead>
				<th width="40%"><h3>Tools to run your business</h3></th>
				<th width="15%"><h4>Veosan Presence</h4>
				<br>
				$9.99</th>
				<th width="15%"><h4>Veosan Network</h4><del>$49.99</del>
				<br>
				$29.99 for launch</th>
				<th width="15%"><h4>Veosan Clinic</h4>
				<br>
				$129.99</th>
			</thead>
			<tr>
				<td><h4>Agenda</h4>Make it easy for patients to book an appointment and for you to keep track of your schedule.</td>
				<td><i class="bs-icon icon-pencil"> </i>
				<br>
				+ $9.99 per appointment</td>
				<td><i class="bs-icon icon-pencil"> </i>
				<br>
				+ $9.99 per appointment</td>
				<td><i class="bs-icon icon-pencil"> </i>
				<br>
				+ $9.99 per appointment</td>
			</tr>
			<tr>
				<td><h4>Notes</h4>Keep detailed records on your patients and get all the information you need before they show up.</td>
				<td><i class="bs-icon icon-pencil"> </i><br>Unlimited Notes</td>
				<td><i class="bs-icon icon-pencil"> </i><br>Unlimited Notes</td>
				<td><i class="bs-icon icon-pencil"> </i><br>Unlimited Notes</td>
			</tr>
			<tr>
				<td><h4>New Patients</h4>Gain access our extensive network of partner corporations and institutions for new patients.</td>
				<td></td>
				<td><i class="bs-icon icon-pencil"> </i>
				<br>
				+ $29.99 per new patient (includes appointment fee)</td>
				<td><i class="bs-icon icon-pencil"> </i>
				<br>
				+ $29.99 per new patient (includes appointment fee)</td>
			</tr>
			<tr>
				<td><h4>Billing</h4>Accept credit cards and keep track of your billing online.</td>
				<td></td>
				<td><i class="bs-icon icon-pencil"> </i></td>
				<td><i class="bs-icon icon-pencil"> </i></td>
			</tr>
			<tr>
				<td><h4>Cancellation Insurance</h4>Eliminate the frustration from patients not showing up for their appointments.</td>
				<td></td>
				<td></td>
				<td><i class="bs-icon icon-pencil"> </i></td>
			</tr>
			<tr>
				<td><h4>Receptionist</h4>Have a professional receptionnist take all your calls while you are busy helping your patients.</td>
				<td></td>
				<td></td>
				<td><i class="bs-icon icon-pencil"> </i></td>
			</tr>
		</table>

		<table class="table table-bordered">
			<thead>
				<th width="40%"><h3>Tools to market yourself</h3></th>
				<th width="15%"><h4>Veosan Presence</h4>
				<br>
				$9.99</th>
				<th width="15%"><h4>Veosan Network</h4><del>$49.99</del>
				<br>
				$29.99 for launch</th>
				<th width="15%"><h4>Veosan Clinic</h4>
				<br>
				$129.99</th>
			</thead>
			<tr>
				<td><h4>Online Presence</h4>Before this, you didn't exist.</td>
				<td><i class="bs-icon icon-ok"> </i></td>
				<td><i class="bs-icon icon-ok"> </i></td>
				<td><i class="bs-icon icon-ok"> </i></td>
			</tr>
			<tr>
				<td><h4>Search Engine Optimization</h4>Make sure Google, Yahoo, and Bing can find you.</td>
				<td><i class="bs-icon icon-ok"> </i></td>
				<td><i class="bs-icon icon-ok"> </i></td>
				<td><i class="bs-icon icon-ok"> </i></td>
			</tr>
			<tr>
				<td><h4>Master of Your Domain</h4>Always wanted to have your own domain name but were too afraid to ask? We make it easy!</td>
				<td><i class="bs-icon icon-ok"> </i></td>
				<td><i class="bs-icon icon-ok"> </i></td>
				<td><i class="bs-icon icon-ok"> </i></td>
			</tr>
			<tr>
				<td><h4>Contact</h4>Display your contact information and map so people can get in touch with you easily.</td>
				<td><i class="bs-icon icon-ok"> </i></td>
				<td><i class="bs-icon icon-ok"> </i></td>
				<td><i class="bs-icon icon-ok"> </i></td>
			</tr>
			<tr>
				<td><h4>Profile Assistance</h4>Not sure what to say? We'll help you write a catchy and professional biography.</td>
				<td></td>
				<td><i class="bs-icon icon-ok"> </i></td>
				<td><i class="bs-icon icon-ok"> </i></td>
			</tr>
			<tr>
				<td><h4>Profile Verification</h4>We verify your profile so patients know they can trust you.</td>
				<td></td>
				<td><i class="bs-icon icon-ok"> </i></td>
				<td><i class="bs-icon icon-ok"> </i></td>
			</tr>
			<tr>
				<td><h4>Professional Profile Photo</h4>Get a real profile photo from a professional photographer.</td>
				<td></td>
				<td><i class="bs-icon icon-ok"> </i></td>
				<td><i class="bs-icon icon-ok"> </i></td>
			</tr>
			<tr>
				<td><h4>Marketing Kit</h4>We'll provide you with a paper marketing kit that includes business cards and brochures you can use to promote yourself in the real world.</td>
				<td></td>
				<td><i class="bs-icon icon-ok"> </i></td>
				<td><i class="bs-icon icon-ok"> </i></td>
			</tr>
		</table>
	</div>
</div>

{% endblock %}
