{% extends "/layout/base.html" %}

{% block subhead %}{{ _("Prices") }}{% endblock %}

{% block lead %}
Veosan is a great way to get started on your own today.
{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
		<table class="table table-bordered">
			<thead>
				<th width="40%"></th>
				<th width="15%"><h4>Veosan Lite</h4>
				<br>
				$4.99</th>
				<th width="15%"><h4>Veosan Presence</h4>
				<br>
				$29.99</th>
				<th width="15%"><h4>Veosan Network</h4><del>$49.99</del>
				<br>
				$29.99 for launch</th>
				<th width="15%"><h4>Veosan Clinic</h4>
				<br>
				$129.99</th>
			</thead>
			<tr>
				<td><h3>Tools to run your business</h3></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><h4>Online agenda</h4>Make it easy for patients to book an appointment and for you to keep track of your schedule</td>
				<td>Yes<br> + $14.99 per appointment</td>
				<td>Yes</td>
				<td>Yes</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td><h4>Notes</h4>Keep detailed records and notes on patients, get all the information you need quickly before they show up</td>
				<td>Yes</td>
				<td>Yes</td>
				<td>Yes</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td><h4>Access to new patients</h4>From our extensive network of partner corporations and institutions</td>
				<td>No</td>
				<td>No</td>
				<td>Yes</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td><h4>Online billing</h4>Accept credit cards and keep track of your billing online</td>
				<td>No</td>
				<td>No</td>
				<td>Yes</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td><h4>Cancellation insurance</h4>Eliminate the frustration from patients not showing up</td>
				<td>No</td>
				<td>No</td>
				<td>No</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td><h4>Receptionist</h4>Have a professional receptionnist take your calls while you help your patients</td>
				<td>No</td>
				<td>No</td>
				<td>No</td>
				<td>Yes</td>
			</tr>

			<tr>
				<td><h3>Tools to market yourself</h3></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Search Engine Optimization</td>
				<td>Yes</td>
				<td>Yes</td>
				<td>Yes</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Your own domain (www.yourname.com)</td>
				<td>No</td>
				<td>Yes</td>
				<td>Yes</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Profile Assistance and Verification</td>
				<td>No</td>
				<td>No</td>
				<td>Yes</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Professional Profile Photo</td>
				<td>No</td>
				<td>No</td>
				<td>Yes</td>
				<td>Yes</td>
			</tr>
			<tr>
				<td>Marketing Kit (brochures, business cards)</td>
				<td>No</td>
				<td>No</td>
				<td>Yes</td>
				<td>Yes</td>
			</tr>
		</table>

	</div>
</div>
{% endblock %}
