{% extends "/layout/base.html" %}

{% block subhead %}{{ _("Who is it for?") }}{% endblock %}

{% block lead %}
Does this sound like you?
{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
		<table class="table table-bordered" style="font-size:large">
			<thead>
				<th width="15%"><h4>Veosan Presence</h4></th>
				<th width="15%"><h4>Veosan Network</h4></th>
				<th width="15%"><h4>Veosan Clinic</h4></th>
			</thead>
			<tr>
				<td>“ I'm pretty good at finding patients by myself, but I always knew an online presence would help me market my skills in a more efficient way. ”</td>
				<td>“ I have a full-time job but would like to start building a practice with patients on the side while I continue to work. I want to start with something I can grow with while I build my business. ”</td>
				<td>“ I work in a clinic now but want to work independently. I need a professional system to help me run my business without all the hassle of today's clinics. ”</td>
			</tr>
			<tr>
				<td>I just need something to manage my agenda.</td>
				<td>I can handle about 3-5 new patients per month and a few returning patients.</td>
				<td>I can handle more than 10 new patients per month.</td>
			</tr>

		</table>
	</div>
</div>

{% endblock %}
