{% extends "/layout/base.html" %}

{% block subhead %}{{ _('Find Care') }}{% endblock %}
{% block lead %}{{ _('Your appointment with a professional from our network is guaranteed!') }}{% endblock %}

{% block content %}
<div class="row">
	<div class="span6">
		<div class="well">
			<form action="/" method="post">
				<fieldset>
					<div class="control-group">
						{{ form.categories.label(class="control-label",style="font-size:large; font-weight:bold") }}
						<div class="controls">
							{{ form.categories }}
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="dateSelect" style="font-size:large; font-weight:bold"> {{ _('When') }}</label>
						<div class="controls">
							{{ form.dates }}
							{{ form.times }}
						</div>
					</div>
					<div class="control-group">
						{{ form.regions.label(class="control-label", style="font-size:large; font-weight:bold") }}
						<div class="controls">
							{{ form.regions }}
						</div>
					</div>
					<div class="control-group {% if form.email.errors %} error {% endif %}">
						{{ form.email.label(class="control-label", style="font-size:large; font-weight:bold") }}
						{% if form.email.errors %}
						{% for error in form.email.errors %} <i class="icon-exclamation-sign"></i> {{ error }}
						{% endfor %}
						{% endif %}
						<div class="controls">
							{{ form.email(class="input-xlarge") }}
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-primary btn-large">
								{{ _('Reserve Now') }}
							</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div class="span6">
		<div id="carouselProfile" class="carousel">
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="item active" style="width:100%">
					<div style="margin: 0px auto; width:75%;">
						<div class="row-fluid">
							<div class="span">
								<img src="assets/img/profile-thumb1.jpeg">
							</div>
							<div class="span">
								<h3>JULIE S.</h3>
								<h6>B.Sc., M.Cl.Sc., FCAMT</h6>
								<br>
								<br>
								<h5>Specialities</h5>
								<ul class="unstyled">
									<li>
										Manual therapy
									</li>
									<li>
										Rehabilitation
									</li>
									<li>
										Chronic Pain
									</li>
									<li>
										Spinal Conditions
									</li>
									<li>
										Athletic Injuries
									</li>
								</ul>
							</div>
						</div>
						<br><br>
						<div class="row-fluid">
							<blockquote>
								<p>
									“I like to show patients a different perspective. Physiotherapy is all about communication.”
								</p>
							</blockquote>
						</div>
					</div>
				</div>
				<div class="item " style="width:100%">
					<div style="margin: 0px auto; width:75%;">
						<div class="row-fluid">
							<div class="span">
								<img src="assets/img/profile-thumb2.jpeg">
							</div>
							<div class="span">
								<h3>CARLA T.</h3>
								<h6>B.Sc., M.Cl.Sc., FCAMT</h6>
								<br>
								<br>
								<h5>Specialities</h5>
								<ul class="unstyled">
									<li>
										Manual therapy
									</li>
									<li>
										Rehabilitation
									</li>
									<li>
										Chronic Pain
									</li>
									<li>
										Spinal Conditions
									</li>
									<li>
										Athletic Injuries
									</li>
								</ul>
							</div>
						</div>
						<br><br>
						<div class="row-fluid">
							<blockquote>
								<p>
									“I like to show patients a different perspective. Physiotherapy is all about communication.”
								</p>
							</blockquote>
						</div>
					</div>
				</div>
<div class="item " style="width:100%">
					<div style="margin: 0px auto; width:75%;">
						<div class="row-fluid">
							<div class="span">
								<img src="assets/img/profile-thumb3.jpeg">
							</div>
							<div class="span">
								<h3>PATRICK I.</h3>
								<h6>B.Sc., M.Cl.Sc., FCAMT</h6>
								<br>
								<br>
								<h5>Specialities</h5>
								<ul class="unstyled">
									<li>
										Manual therapy
									</li>
									<li>
										Rehabilitation
									</li>
									<li>
										Chronic Pain
									</li>
									<li>
										Spinal Conditions
									</li>
									<li>
										Athletic Injuries
									</li>
								</ul>
							</div>
						</div>
						<br><br>
						<div class="row-fluid">
							<blockquote>
								<p>
									“I like to show patients a different perspective. Physiotherapy is all about communication.”
								</p>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#carouselProfile" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#carouselProfile" data-slide="next">&rsaquo;</a>
		</div>
		{#
		<div id="carouselQuote" class="carousel">
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item">
					<h1>Quote 1</h1>
					abc
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
				</div>
				<div class="item">
					<h1>Quote 2</h1>
					def
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
				</div>
				<div class="item">
					<h1>Quote 3</h1>
					ghi
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
				</div>
			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#carouselQuote" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#carouselQuote" data-slide="next">&rsaquo;</a>
		</div>
		#}
	</div>
</div>
{% endblock content %} 