{% extends "/layout/base.html" %}

{% block subhead %}Log in with OpenID{% endblock %}
{% block lead %}Which account would you like to use?{% endblock %}

{% block content %}
<div class="row">
	<div class="span6">
		<form method="get" action="/_ah/login_required">
			{% if continue_url %}
			<input type="text" name="continue" value="{{continue_url|escape}}" />
			{% endif %}
			<input type="text" name="openid" />
			<input type="submit" value="Log In" />
		</form>
	</div>
</div>
{% endblock content %} 