{% extends "/layout/base.html" %}

{% block subhead %} {{ _('Login to Clikcare')}} {% endblock %}
{% block lead %} {{ _('Enjoy the benefits of being a member today!') }} {% endblock %}

{% block content %}
<div class="row">
	<div class="span6">
		
		<form method="post" action="/login" class="form-horizontal">
			<fieldset>
				{% if booking %}
				<!-- booking key -->
				<input type="hidden" name="booking_key" value="{{booking.key.urlsafe()}}" />
				{% endif %}
				<!-- form -->
				{{ makeStandardForm() }}
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
						{{ _('Login') }}
				</button>
			</div>
		</form>
	</div>
</div>
{% endblock content %} 