{% extends "/layout/base.html" %}

{% block subhead %} {{ _('Login to Veosan')}} {% endblock %}
{% block lead %} {{ _('Enjoy the benefits of being a member today!') }} {% endblock %}

{% block content %}
<form method="post" action="/login" class="form-horizontal">
	<div class="row">
		<fieldset>
			<div class="span6">
				{% if booking %}
				<!-- booking key -->
				<input type="hidden" name="booking_key" value="{{booking.key.urlsafe()}}" />
				{% endif %}
				<!-- form -->
				{{ macro.makeStandardForm(inputClass='span3') }}
			</div>

			<div class="span6">
				<ul class="unstyled">
					<li>
						<h2><a href="/">{{ _("Create an Account") }}</a></h2>
					</li>
					<li>
						&nbsp;
					</li>
					<li>
						<a data-toggle="modal" href="#forgot_password">{{ _("Oops. I forgot my password.") }}</a>
					</li>
				</ul>
			</div>
		</fieldset>
	</div>
	<div class="row">
		<div class="span12">
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					{{ _('Login') }}
				</button>
			</div>
		</div>
	</div>
</form>

<div class="modal hide" id="forgot_password" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>{{ _('Password Recovery') }}</h3>
	</div>
	<div class="modal-body">
		{{ _('No big deal! Please enter your email address below and we will send you the instructions to reset your password.') }}
		<form method="post" action="/user/resetpassword" class="form-inline" id="resetpassword_form">
			<fieldset>
				<input id="email" name="email" type="text" placeholder="{{ _('E-mail Address') }}">
				<button type="submit" class="btn btn-primary">
					{{ _('Submit') }}
				</button>
			</fieldset>
		</form>
	</div>
</div>

{% endblock content %}
