{% extends "/layout/base.html" %}

{% block subhead %} {{ _('Login to Veosan')}} {% endblock %}
{% block lead %} {{ _('Enjoy the benefits of being a member today!') }} {% endblock %}

{% block content %}
<form method="post" action="/login" class="form-horizontal">
	<div class="row">
		<fieldset>
			<div class="span6">
				{% if booking %}
				<!-- booking key -->
				<input type="hidden" name="booking_key" value="{{booking.key.urlsafe()}}" />
				{% endif %}
				<!-- form -->
				{{ macro.makeStandardForm(inputClass='input-medium') }}
			</div>

			<div class="span6">
				<ul class="unstyled">
					<li>
						<h2><a data-toggle="modal" href="#create_account_modal">{{ _("Create an Account") }}</a></h2>
					</li>
					<li>
						&nbsp;
					</li>
					<li>
						<a data-toggle="modal" href="#forgot_password">{{ _("Oops. I forgot my password.") }}</a>
					</li>
				</ul>
			</div>
		</fieldset>
	</div>
	<div class="row">
		<div class="span12">
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					{{ _('Login') }}
				</button>
			</div>
		</div>
	</div>
</form>

<div class="modal hide" id="create_account_modal" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>{{ _("Create an Account") }}</h3>
	</div>
	<div class="modal-body marketing">
		{% if booking_enabled %}
		<i class="bs-icon icon-heart"></i><h3>{{ _("For Patients") }}</h3>
		<p>
			Creating an account is easy! Just <a href="/">book an appointment</a> to get started today.
		</p>

		<i class="bs-icon icon-briefcase"></i><h3>{{ _("For Health Care Providers") }}</h3>
		<p>
			Membership on our platform is currently by invitation-only. Please enter your details below and we will be in touch!
		</p>

		<form method="post" action="/provider/signup" class="form-inline">
			<fieldset>
				<input id="provider_email" name="provider_email" type="text" placeholder="Email Address">
				<input id="provider_postalcode" name="provider_postalcode" type="text" placeholder="Postal Code" class="input-small">
				<button type="submit" class="btn btn-primary">
					Submit
				</button>
			</fieldset>
		</form>
		{% else %}
		{{ _("We are currently opening accounts on a limited basis, please sign up on the <a href='/'>home page</a>.") }}

		{% endif %}
	</div>
</div>

<div class="modal hide" id="forgot_password" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>{{ _('Password Recovery') }}</h3>
	</div>
	<div class="modal-body">
		{{ _('No big deal! Please enter your email address below and we will send you the instructions to reset your password.') }}
		<form method="post" action="/user/resetpassword" class="form-inline">
			<fieldset>
				<input id="email" name="email" type="text" placeholder="{{ _('E-mail Address') }}">
				<button type="submit" class="btn btn-primary">
					{{ _('Submit') }}
				</button>
			</fieldset>
		</form>
	</div>
</div>

{% endblock content %}
