{% extends "/layout/base.html" %}

{% block subhead %}
	{% if patient and	 confirmed_bookings %}
		{{ _('Appointment Confirmation') }}
	{% else %}
		{{ _('Select your password') }}
	{% endif %}
{% endblock %}

{% block content %}


{# Confirmed appointments #}
<div class="row">
	<div class="span12">
		{% if patient %}
			{% if confirmed_bookings %}
				<h1>{{_('The following appointment is confirmed')}}</h1>
				<br>
				{% for booking in confirmed_bookings %}
					<div class="row">
						<div class="span2">
							<img src="/assets/img/green-check.png" width="80" height="80">
						</div>
						<div class="span6 well" style="font-size: large; line-height: 150%">
						{{ macro.appointment_summary(booking) }}
						</div>
					</div>
				{% endfor %}
			{% endif %}
		{% endif %}
	</div>
</div>

<br>

{# Invitation to choose a password and create a profile #}
<div class="row">
	<div class="span12">
		{% if patient %}
		<h2>{{_('Select a password to manage your appointments')}}</h2>
		<br>
		{% endif %}
		<form method="post" action="/user/password/{{ signup_token }}" class="form-horizontal">
			<!-- email display as read-only -->
			<fieldset>
				<div class="control-group ">
					<label class="control-label" for="email"> {{ _('Email') }}</label>
					<div class="controls">
						{% if provider %}
						<input class="input-xlarge" id="email" name="email" type="text" value="{{ provider.email }}" readonly="true">
						{% elif patient %}
						<input class="input-xlarge" id="email" name="email" type="text" value="{{ patient.email }}" readonly="true">
						{% endif %}

					</div>
				</div>

				{{ macro.makeStandardForm() }}

			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					{{ _('Save') }}
				</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}