{% extends "/layout/base.html" %}

{% if domain_setup %}
{% set page_title = domain_setup.brand_name_case + ' - ' + _('For Professionals') %}
{% else %}
{% set page_title = 'Veosan - ' + _('For Professionals') %}
{% endif %}

{% block subhead %} {{ _('The new network for health care professionals.')}} {% endblock %}

{% block content %}
<div class="row">

	<div class="span6">
		<h1>{{ _('Almost done!') }}</h1>
		<br>
		<h2>{{ _('You are just one click away from having your own online presence.') }}</h2>
		<br>
		<h2>{{ _('Your profile will help patients get to know you. The more you share, the more you will be discovered by new patients.') }}</h2>


{# When the product is online
		<br>
		<h2>Our online agenda helps you keep track of your schedule from anywhere and gives your patients the convenience of booking online</h2>
		<br>
		<h2>Our notes make it easy to keep track of patients without having to carry tons of paperwork</h2>		
#}

	</div>
	<div class="span6">
		<div class="well">

			<h1>{{ _('Sign Up') }}</h1>
			<form method="post" action="/{{ lang }}/signup/provider2" class="form-inline" id='provider_signup_form2'>
				<fieldset>
					{{ macro.display_errors_for_field(provider_signup_form2.first_name) }}
					{{ provider_signup_form2.first_name }}

					{{ macro.display_errors_for_field(provider_signup_form2.last_name) }}
					{{ provider_signup_form2.last_name }}

					{{ macro.display_errors_for_field(provider_signup_form2.email) }}
					{{ provider_signup_form2.email }}

					<div class="control-group {% if provider_signup_form2.category.errors %} error {% endif %}">
						<h3 style="margin-top: 18px">{{ _('Please choose your professional category.') }}</h3>
						<div class="controls">
							{{ macro.display_errors_for_field(provider_signup_form2.category) }}
							{{ provider_signup_form2.category(class="span3") }}
						</div>
					</div>

					<h3 style="margin-top: 18px">{{ _('Please choose your password.') }}</h3>
					<div class="control-group {% if provider_signup_form2.password.errors %} error {% endif %}">
						{{ provider_signup_form2.password.label(class="control-label") }}
						<div class="controls">

							{{ macro.display_errors_for_field(provider_signup_form2.password) }}
							{{ provider_signup_form2.password(class="span3") }}
						</div>
					</div>

					<div class="control-group {% if provider_signup_form2.password_confirm.errors %} error {% endif %}">
						{{ provider_signup_form2.password_confirm.label(class="control-label") }}
						<div class="controls">
							{{ macro.display_errors_for_field(provider_signup_form2.password_confirm) }}
							{{ provider_signup_form2.password_confirm(class="span3") }}
						</div>
					</div>

					<div class="control-group {% if provider_signup_form2.terms_agreement.errors %} error {% endif %}">
						<div class="controls">
							{{ macro.display_errors_for_field(provider_signup_form2.terms_agreement) }}
							{{ provider_signup_form2.terms_agreement(class=inputClass) }}
						</div>
					</div>

					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-success btn-large" style="margin-top: 18px">
								{{ _('Create Your Account') }}
							</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>

</div>

{% endblock content %}
