{% extends "/layout/base.html" %}

{% block subhead %} {{ _('The new network for health care professionals.')}} {% endblock %}

{% block content %}
<div class="row">
	<div class="span6">
		<h1>{{ _('Be Present') }}</h1>
		<h2>{{ _("Before this, you didn't exist! Get a professional profile that sets you apart.") }}</h2>
		<br>
		<h1>{{ _('Get Social') }}</h1>
		<h2>{{ _('Share your page with friends and connect with patients and prospective employers.') }}</h2>
		<br>
		<h1>{{ _('Be Productive') }}</h1>
		<h2>{{ _('Get a sneak peek at new features that allow you to run your practice and discover new patients.') }}</h2>
	</div>
	<div class="span6">
		<h1>{{ _('Sign Up') }}</h1>
		<form method="post" action="/signup/provider2" class="form-inline" id='signup_form'>
			<fieldset>
				{{ macro.display_errors_for_field(provider_signup_form2.first_name) }}
				{{ provider_signup_form2.first_name }}

				{{ macro.display_errors_for_field(provider_signup_form2.last_name) }}
				{{ provider_signup_form2.last_name }}

				{{ macro.display_errors_for_field(provider_signup_form2.email) }}
				{{ provider_signup_form2.email }}

				
				<div class="control-group {% if provider_signup_form2.category.errors %} error {% endif %}">
					<h3 style="margin-top: 18px">{{ _('Please choose your professional category.') }}</h3>
					<div class="controls">
						{{ macro.display_errors_for_field(provider_signup_form2.category) }}
						{{ provider_signup_form2.category(class="span3") }}
					</div>
				</div>
				<div class="control-group {% if provider_signup_form2.vanity_url.errors %} error {% endif %}">
					<h3 style="margin-top: 18px">{{ _('Personal Link' )}}</h3>
					<p>
						{{ _('Your personal link allows people to find and remember you easily.') }}
						{{ _('For example, if your name is Gerald Raymond you can use <i>graymond</i>')}}
						<br>
					</p>
					{{ macro.display_errors_for_field(provider_signup_form2.vanity_url) }}
					<div class="input-prepend">
						<span class="add-on">&nbsp;veosan.com&nbsp;</span><span class="add-on">/</span>{{ provider_signup_form2.vanity_url(class="span2", placeholder=_('Personal Link')) }}
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary btn-large" style="margin-top: 18px">
							{{ _('Create Your Account') }}
						</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

{% endblock content %}