{% extends "/layout/base.html" %}

{% if domain_setup %}
{% set page_title = domain_setup.brand_name_case + ' - ' + _('For Professionals') %}
{% else %}
{% set page_title = 'Veosan - ' + _('For Professionals') %}
{% endif %}


{% block subhead %} {{ _('The new network for health care professionals.')}} {% endblock %}

{% block content %}

<div class="row">
	<div class="span6">
		<h1>{{ _('Be Present') }}</h1>
		<h3>{{ _("Before this, you didn't exist! Get a professional profile that sets you apart.") }}</h3>
		<br>
		<h1>{{ _('Get Social') }}</h1>
		<h3>{{ _('Share your page with friends and connect with patients and prospective employers.') }}</h3>
		<br>
		<h1>{{ _('Be Productive') }}</h1>
		<h3>{{ _('Get the tools you need to run your practice and discover new patients.') }}</h3>
	</div>
	<div class="span6">
		<div class="well">
			<h1>{{ _('For Professionals') }}</h1>
			<h4>
			{% if domain_setup %}
			{{ domain_setup.brand_name_case }}
			{% else %}
			{{ _('Veosan') }}
			{% endif %}

				{{ _(' is now open to all health care professionals.') }} </h4>
			<h4>{{ _('Sign up below to get started today!') }} </h4>
			<br>
			<form method="post" action="/{{ lang }}/signup/provider" class="form-horizontal" id="provider_signup_form">
				<fieldset>
					{{ macro.make_standard_form(provider_signup_form, inputClass="input-medium")}}

					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-large btn-success">
								{{ _('Join Now') }}
							</button>
						</div>
					</div>
				</fieldset>
			</form>
			
			
			<h4><a href="/login">{{ _('Already a member? Sign in here.') }}</a></h4>
		</div>
	</div>
</div>

{% endblock content %}

{% block extra_javascript %}

{% if google_analytics_enabled %}

<!-- Google Code for Second Page Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 998511414;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "YVXYCKqKiQQQtqaQ3AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/998511414/?value=0&amp;label=YVXYCKqKiQQQtqaQ3AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

{% endif %}

{% endblock %}
