{% extends "/layout/base.html" %}

{% set page_title = 'Veosan - ' + _('For Professionals') %}
{% block subhead %} {{ _('The new network for health care professionals.')}} {% endblock %}

{% block content %}

<div class="row">
	<div class="span6">
		<h1>{{ _('Be Present') }}</h1>
		<h3>{{ _("Before this, you didn't exist! Get a professional profile that sets you apart.") }}</h3>
		<br>
		<h1>{{ _('Get Social') }}</h1>
		<h3>{{ _('Share your page with friends and connect with patients and prospective employers.') }}</h3>
		<br>
		<h1>{{ _('Be Productive') }}</h1>
		<h3>{{ _('Get the tools you need to run your practice and discover new patients.') }}</h3>
	</div>
	<div class="span6">
		<div class="well">
			<h1>{{ _('For Professionals') }}</h1>
			<h4>{{ _('Veosan is now open to all health care professionals.') }} </h4>
			<h4>{{ _('Sign up below to get started today!') }} </h4>
			<br>
			<form method="post" action="/signup/provider" class="form-horizontal" id="provider_signup_form">
				<fieldset>
					{{ macro.make_standard_form(provider_signup_form, inputClass="input-medium")}}

					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-large btn-success">
								{{ _('Join Now') }}
							</button>
						</div>
					</div>
				</fieldset>
			</form>
			
			
			<h4><a href="/login">{{ _('Already a member? Sign in here.') }}</a></h4>
		</div>
	</div>
</div>

{% endblock content %}