{% extends "/layout/base.html" %}

{% block subhead %} {{ _('The new network for health care professionals.')}} {% endblock %}

{% block content %}
<div class="row">
	<div class="span6">
		<h1>{{ _('Sign Up') }}</h1>
		<form method="post" action="/signup" class="form-inline">
			<fieldset>
				<div class="control-group {% if new_provider_form.vanity_url.errors %} error {% endif %}">
					<h3 style="margin-top: 18px">{{ _('Personalized Address' )}}</h3>
					<p>
						Your personal address allows people to find and remember you easily.
						<br>
					</p>
					{{ macro.display_errors_for_field(new_provider_form.vanity_url) }}
					<div class="input-prepend">
						<span class="add-on">&nbsp;veosan.com&nbsp;</span><span class="add-on">/</span>{{ new_provider_form.vanity_url(class="span2") }}
					</div>
				</div>
				<div class="control-group {% if new_provider_form.email.errors %} error {% endif %}">
					<h3 style="margin-top: 18px">{{ _('E-mail Address' )}}</h3>
					<p>
						Please enter your email address below to get started.
						<br>
					</p>
					<div class="controls">
						{{ macro.display_errors_for_field(new_provider_form.email) }}
						{{ new_provider_form.email(class="span3") }}
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary btn-large" style="margin-top: 18px">
							{{ _('Create Your Account') }}
						</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="span6">
		<h1>Be Present</h1>
		<h2>Before this, you didn't exist! Get a professional profile that sets you apart.</h2>
		<br>
		<h1>Get Social</h1>
		<h2>Share your page with friends and connect with patients and prospective employers.</h2>
		<br>
		<h1>Be Productive</h1>
		<h2>Get a sneak peak at new features that allow you to run your practice and discover new patients.</h2>
	</div>
</div>

{% endblock content %}