{% extends "/layout/base.html" %}

{% set page_title = 'Veosan - ' + _('New Patient') %}
{% block subhead %} {{ _('The better way to care')}} {% endblock %}

{% block content %}

<div class="row">
	<div class="span6">
		<h1>{{ _("The Best Match") }}</h1>
		<h2> {{ _("We match your needs to the best providers in your area, visits can be scheduled right to your home.") }} </h2>
		<br>
		<h1>{{ _("Simple Booking") }}</h1>
		<h2> {{ _("Booking an appointment is just one step away. Don't waste any more time on the phone.") }} </h2>
		<br>
		<h1>{{ _("Quality and Experience") }}</h1>
		<h2> {{ _("Our professionals are screened to meet the highest industry standards.") }} </h2>
	</div>
	<div class="span6">
		<div class="well">
			<h1>{{ _('For Patients') }}</h1>
			<h4> {{ _('Veosan is currently opening patient accounts on a limited basis.') }} </h4>
			<h4> {{ _('Please sign up below to be notified when Veosan is ready for you.') }} </h4>
			<br>
			<form method="post" action="{{ lang }}/signup/patient" class="form-horizontal">
				<fieldset>
					{{ macro.make_standard_form(patient_signup_form, inputClass="input-medium")}}

					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-large btn-success">
								{{ _('Get Invited') }}
							</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

{% endblock content %}

{% block extra_javascript %}

{% if google_analytics_enabled %}

<!-- Google Code for Patient - Second Page Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 998511414;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "RLvECOqviQQQtqaQ3AM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/998511414/?value=0&amp;label=RLvECOqviQQQtqaQ3AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

{% endif %}

{% endblock %}
