{% extends "/layout/base.html" %}

{% block subhead %} {{ _('The better way to care')}} {% endblock %}

{% block content %}

<div class="row">
	<div class="span6">
		<h1>{{ _("The Best Match") }}</h1>
		<h2> {{ _("We match your needs to the best providers in your area, visits can be scheduled right to your home.") }} </h2>
		<br>
		<h1>{{ _("Simple Booking") }}</h1>
		<h2> {{ _("Booking an appointment is just one step away. Don't waste any more time on the phone.") }} </h2>
		<br>
		<h1>{{ _("Quality and Experience") }}</h1>
		<h2> {{ _("Our professionals are screened to meet the highest industry standards.") }} </h2>
	</div>
	<div class="span6">
		<div class="well">
			<h1>{{ _('For Patients') }}</h1>
			<h4> {{ _('Veosan is currently opening patient accounts on a limited basis.') }} </h4>
			<h4> {{ _('Please sign up below to be notified when Veosan is ready for you.') }} </h4>
			<br>
			<form method="post" action="/signup/patient" class="form-horizontal">
				<fieldset>
					{{ macro.make_standard_form(patient_signup_form, inputClass="input-medium")}}

					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-large btn-success">
								{{ _('Get Invited') }}
							</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

{% endblock content %}