{% extends "/layout/base.html" %}

{% block subhead %}{{ _('About') }}{% endblock %}
{% block lead %}{{ _('Connected with care') }}{% endblock %}

{% block content %}
<div class="row">
	<div class="span12">
		<h2>{{ _('Mission Statement') }}</h2>
		<p>
			{{ _('We believe the process of finding health care should be as simple as possible.') }}
			
			{{ _('Veosan is designed to make it easy to connect with high-quality professionals.') }}
			
			No more guess-work and time-consuming research. Hundreds of qualified professionals are at your fingertips.
		</p>

		<h2>Founders and Advisors</h2>
			<h3>David Leblanc</h3>
			<h3>Philippe Caya</h3>
			<h3>Kevin Leblanc</h3>

		<h2>Our Friends</h2>
		<ul class="unstyled">
			<li style="display:inline">
				<a href="#"><img src="/assets/img/about/startupweekend.jpg"></a>
			</li>
			<li style="display:inline">
				<a href="#"><img src="/assets/img/about/fasken.gif"></a>
			</li>
			<li style="display:inline">
				<a href="#"><img src="/assets/img/about/lapresse.jpg"></a>
			</li>
			<li style="display:inline">
				<a href="#"><img src="/assets/img/about/thegazette.jpg"></a>
			</li>
			<li style="display:inline">
				<a href="#"><img src="/assets/img/about/financialpost.jpg"></a>
			</li>
		</ul>

	</div>
</div>
{% endblock content %} 