{% extends "/layout/terms_nav.html" %}

{% set page_title = 'Veosan - ' + _('Learn More') %}
{% set active_page = "learnmore" %}


{% block extra_css %}
	<link href="/assets/css/static.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
	<div class="span12 promo-wrapper">
		<section id="tourIntro" class="tour-section">
			<div class="width-wrapper">
				<div class="height-wrapper">
					<h1>Help<br>
						patients<br> 
						find you</h1>
					<p class="intro">
						Improve your online presence with a profile focused on health care.
					</p>
				</div>
				<img src="/assets/img/tour-main-profile.png" alt="Example Veosan Profile and Membership" id="tourExampleBoard">
				<img src="/assets/img/tour-main-profile.png" alt="Example Trello board: Kitchen Remodeling" id="tourExampleBoardWide">
			</div>
			<div class="tour-details clearfix">
				<ul class="width-wrapper">
					<li class="first">
						<h2>It's who you are</h2>
						<p>
							Share your specialties, your education and your professional affiliations. Stand out by showcasing your continuing education.
						</p>
					</li>
					<li class="second">
						<h2>Online Booking *</h2>
						<p>
							Display your availabilities and let patients do the booking online. Reduce the amount of time spent on the phone. Online scheduling is the answer and it has many other benefits.  Reduce cancellations and missed appointments with automatic reminders.
						</p>
					</li>
					
					<li class="third">
						<h2>Professional Network</h2>
						<p>
							Do your patients need other specialists and you don’t know where to refer him? Refer him to a specialist in our database and establish a connection that can be mutually beneficial. 
						</p>
					</li>
				</ul>
			</div>
		</section>
		
		
		<section id="tourCards" class="tour-section">

			<div class="tour-features-wrapper">
				<ul class="tour-features width-wrapper clearfix">
					<li>
						<div class="pic"><img src="/assets/img/tour-build-trust.jpeg" alt="Your profile picture">
						</div>
						<h2>Build Trust</h2>
						<p>
							A Veosan profile looks professional and presents all your credentials and contact information.  
							A photo will improve your patients sense of comfort. They meet you before their first appointment.
						</p>
					</li>
					<li>
						<div class="pic"><img src="/assets/img/tour-be-found.jpeg" alt="Search Reesults">
						</div>
						<h2>Be Found</h2>
						<p>
							Your Veosan profile creates a professional website that shows up high in search engines. This makes it easier for your existing and future patients to find you online. 
							Have you googled yourself recently? What shows up? That is what your potential patients see. 
							

						</p>
					</li>
					<li>
						<div class="pic"><img src="/assets/img/tour-reputation.jpeg" alt="Your CV">
						</div>
						<h2>Establish and Maintain Your Reputation</h2>
						<p>
							
						</p>
					</li>

					<li>
						<div class="pic"><img src="/assets/img/tour-network.jpeg" alt="Your Professional Network">
						</div>
						<h2>Expand Your Referral Network</h2>
						<p>
							Share your credentials with potential patients and extend your professional network. Meet different professionals.  Does your patient need a specialist and you don’t know where to refer him? Refer him to a specialist in our database and establish a connection that can be mutually beneficial. 
						</p>
					</li>

				</ul>
			</div>
		</section>
		
		
		
	
		<p class="c0">
			<span>* The asterisk denote services available through premium membership</span>
		</p>


		
		
		
	</div>
</div>
{% endblock content %} 