			<div class="width-wrapper card-pics">
				<h1>Tailored for Health Care</h1>
				<p class="intro">
					Less time on administrative work<br>
					more time caring for patients
				</p>
				<div id="tourCardFront">
					<div class="card-pic">
						<img src="#" alt="Trello card front">
					</div>
					<div class="label">
						<span class="arrow"></span><h2>Online Booking *</h2>
						<p>
							Get a quick overview of all the information that’s on the card.
						</p>
					</div>
				</div>
				<div id="tourCardBack">
					<div class="card-pic">
						<img src="#" alt="Trello card back">
					</div>
					<div class="label">
						<span class="arrow"></span><h2>Your CV with a medical focus</h2>
						<p>
							<strike>Add all kinds of information: due dates, checklists, attachments, comments, and more.</strike>
						</p>
					</div>
				</div>
			</div>