{% extends "/layout/terms_nav.html" %}

{% set page_title = 'Veosan - ' + _('Learn More') %}
{% set active_page = "tour" %}


{% block extra_css %}
	<link href="/assets/css/static.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
	<div class="span12 promo-wrapper">
		<section id="tourIntro" class="tour-section">
			<div class="width-wrapper">
				<div class="height-wrapper">
					<h1>{{_('Help')}}<br>
						{{_('patients')}}<br> 
						{{_('find you')}}</h1>
					<p class="intro">
						{{_('Improve your online presence with a profile focused on health care.')}}
					</p>
				</div>
				<img src="/assets/img/tour-main-profile.png" alt="Example Veosan Profile and Membership" id="tourExampleBoard">
			</div>
			<div class="tour-details clearfix">
				<ul class="width-wrapper">
					<li class="first">
						<h2>{{_("It's Who You Are!")}}</h2>
						<p>
							{{_('Share your specialties, your education and your professional affiliations. Stand out by showcasing your continuing education. Let patients get comfortable with you before they show up.')}}
						</p>
					</li>
					<li class="second">
						<h2>{{_('Professional Network')}}</h2>
						<p>
							{{_("Establish credibility and refer your patients your trusted colleagues. Establish a connection that benefits everyone.")}}
						</p>
					</li>
					<li class="third">
						<h2>{{_("Yes. It's Free!")}}</h2>
						<p>
							{{_('There is no reason anybody should pay a monthly invoice for a simple website. Our profile is more efficient and completely free and will stay that way.')}}
						</p>
					</li>
				</ul>
			</div>
		</section>
		
		
		<section id="tourCards" class="tour-section">

			<div class="tour-features-wrapper">
				<ul class="tour-features width-wrapper clearfix">
					<li>
						<div class="pic"><img src="/assets/img/tour-add-education.png" alt="Your profile picture">
						</div>
						<h2>{{_("Ridiculously Easy to Use")}}</h2>
						<p>
							{{_("We like to keep things simple. A few click let you add items on your CV. Our live preview let's you see exactly how your profile willl look to your patients and peers.")}}
						</p>
					</li>
					<li>
						<div class="pic"><img src="/assets/img/tour-add-schedule.png" alt="Search Reesults">
						</div>
						<h2>{{_("Manage Your Time")}}</h2>
						<p>
							{{_("Display your availabilities and let patients book their own appointments online.  Reduce cancellations and missed appointments with automatic reminders.")}}
						</p>
					</li>
					<li>
						<div class="pic"><img src="/assets/img/tour-add-map.png" alt="Your CV">
						</div>
						<h2>{{_("Easy to Find")}}</h2>
						<p>
							{{_("Your Veosan profile creates a professional website that shows up high in search engines. This makes it easier for your existing and future patients to find you online. Have you googled yourself recently? What shows up? That is what your potential patients see.")}}
						</p>
					</li>
					<li>
						<div class="pic"><img src="/assets/img/tour-add-network.png" alt="Your Professional Network">
						</div>
						<h2>{{_("Expand Your Referral Network")}}</h2>
						<p>
							{{_("Share your credentials with potential patients and extend your professional network in complementary specialties.")}}
							{{_("Does one of your patients need a specialist and you don't know where to refer him? Refer him to a specialist in our database and establish a connection that can be mutually beneficial.")}} 
						</p>
					</li>
				</ul>
			</div>
		</section>
	</div>
</div>
{% endblock content %} 