{% extends "/layout/base.html" %}

{% set page_title = 'Veosan - ' + _('Tour') %}
{% set active_page = "tour" %}

{% block extra_css %}
<link href="/assets/css/tour.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
	<div class="span12 promo-wrapper">
		<section id="tourIntro" class="tour-section">
			<div class="width-wrapper">
				<div class="height-wrapper">
					<h1>{{_('Help')}}
					<br>
					{{_('patients')}}
					<br>
					{{_('find you')}}</h1>
					<p class="intro">
						{{_('Improve your online presence with a profile focused on health care.')}}
					</p>
				</div>
				<img src="/assets/img/tour-main-profile.png" alt="Example Veosan Profile and Membership" id="tourExampleBoard">
			</div>
			<div class="tour-details clearfix">
				<ul class="width-wrapper">
					<li class="first">
						<h2>{{_("It's Who You Are!")}}</h2>
						<p>
							{{_('Share your specialties, your education and your professional affiliations. Stand out by showcasing your biography and continuing education. Let patients get comfortable with you before they show up.')}}
						</p>
					</li>
					<li class="second">
						<h2>{{_('Referral Network')}}</h2>
						<p>
							{{_("Establish credibility through your referral network. Refer and receive new patients patients from your trusted colleagues. These connections benefit everyone.")}}
						</p>
					</li>
					<li class="third">
						<h2>{{_("Yes. It's Free!")}}</h2>
						<p>
							{{_("There's no reason having a professional presence online should cost you a fortune. Our profiles are easy to use, quick to set up, and completely free.")}}
						</p>
					</li>
				</ul>
			</div>
		</section>
	</div>
</div>

<div class="row">
	<div class="span12">
		<div class="tour-features-wrapper">
			<ul class="tour-features width-wrapper clearfix">
				<li>
					<div class="pic"><img src="/assets/img/tour-add-education.png" alt="Your profile picture">
					</div>
					<h2>{{_("Easy to Use")}}</h2>
					<p>
						{{_("We like to keep things simple. It only takes a few clicks to have a great looking CV online. Our live preview system lets you see exactly how your profile will appear to patients and colleagues.")}}
					</p>
				</li>
				<li>
					<div class="pic"><img src="/assets/img/tour-add-schedule.png" alt="Search Reesults">
					</div>
					<h2>{{_("Manage Your Time")}}</h2>
					<p>
						{{_("Display your availabilities and let patients book their own appointments online.  Reduce cancellations and missed appointments with automatic reminders.")}}
					</p>
				</li>
				<li>
					<div class="pic"><img src="/assets/img/tour-add-map.png" alt="Your CV">
					</div>
					<h2>{{_("Easy to Find")}}</h2>
					<p>
						{{_("Your Veosan profile is a professional website optimized for search engines. This makes it easy for patients to find you online. You can also add detailed contact information to help them find you in the real world too.")}}
					</p>
				</li>
				<li>
					<div class="pic"><img src="/assets/img/tour-add-network.png" alt="Your Professional Network">
					</div>
					<h2>{{_("Expand Your Network")}}</h2>
					<p>
						{{_("Share your credentials with patients and extend your referral network into complementary specialties.")}}
					</p>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<div style="text-align: center;">
			<a href="/signup/provider/{{ lang }}" class="btn btn-large btn-success" style="padding: 12px 24px; font-size:20px" > {{ _("Click Here to Become a Member, it's Free") }} </a>
			<br>
			<br>
			<em>{{ _('Get a great looking profile online in less than a minute') }}</em>
		</div>
	</div>
</div>
{% endblock content %} 