{% extends "/layout/base.html" %}

{% set active_page = "public_profile" %}


{% block subhead %}
{{ macro.display_provider_name(provider) }}
{% endblock %}

{% block lead %}
{{ provider.category|code_to_string }}
{% if provider.city or provider.province %}
{{ _('in') }}
{% if provider.city %} {{ provider.city }}{% endif %}{% if provider.city and provider.province and provider.province != 'nothing' %},
		{% endif %}
		{% if provider.province %} {{ provider.province|code_to_string }}{% endif %}
{% endif %}
{% endblock %}

{% block content %}
<style>
	.table tbody tr:hover td, .table tbody tr:hover th {
		background-color: transparent;
	}
</style>


<div class="row">
	<!-- left column -->
	<div class="span2">
		{% if provider.profile_photo_blob_key == None %}
		<a href="/{{ provider.vanity_url }}"><img src="/assets/img/default-profile.png" width="150" height="150"
		alt="{{ macro.display_provider_name(provider) }} - {{ provider.category|code_to_string }}"
		itemprop="image"></a>
		{% else %}
		<a href="/{{ provider.vanity_url }}"><img src="{{ provider.get_profile_photo_image_url(150) }}" width="150"
		alt="{{ macro.display_provider_name(provider) }} - {{ provider.category|code_to_string }}"
		itemprop="image"></a>
		{% endif %}
	</div>
	<div class="span10">

		<h2>{{ _("Choose your appointment date and time") }}</h2>
		<br>

		<table style="width: 100%" class="table table-condensed centered">			
			<thead>
				{% for (day_key, day_times) in dtm|dictsort %}
				<th style="min-width: 75px; text-align: center"> 
						{{ day_key|format_weekday|capitalize }} <br>
						{{ day_key|format_date(format="medium") }}
				</th>
				{% endfor %}
			</thead>
			
			<tr>
				{% for (day_key, day_times) in dtm|dictsort %}
				<td style="text-align: center; padding-top: 4px; padding-bottom: 4px;">
					
					<table class="table centered">
					{% for t in day_times %}
					<tr><td style="text-align: center; border: none;">
					<a href="/{{provider.vanity_url}}/book/{{day_key}}/{{t.hour}}/{{t.minute}}" style="font-size:small; width=100%" type="submit" class="btn btn-primary btn-mini" id="button-{{day_key~"-"~t.hour~"-"~t.minute}}">
						{{t|format_time(format="short", rebase=False)}}
					</a>
					</td></tr>
				  	{% endfor %}
				  	</table>
				</td>
				{% endfor %}
			</tr>
			
		</table>
		
		<table style="width: 100%">
			<tr>
			<td>
			{% if week_nav.prev_week %}
			<a class="btn btn-success" id="prev_week_button" href="/{{ provider.vanity_url }}/book/date/{{week_nav.prev_week}}" > {{ _("Previous Week") }}</a>
			{% endif %}
			</td>
			{% if week_nav.next_week %}
			<td align="right">
			<a class="btn btn-success" id="next_week_button" href="/{{ provider.vanity_url }}/book/date/{{week_nav.next_week}}" > {{ _("Next Week") }}</a>
			</td>	
			{% endif %}
		</tr>
		</table>
	</div>

</div>


{% endblock content %}

