{% extends "/layout/base.html" %}

{% block subhead %} {{ _('New Appointment') }} {% endblock %}
{% block lead %}{{ _('Please complete the following booking details') }}{% endblock %}

{% block content %}
<form class="form-horizontal" action="/{{provider.vanity_url}}/book/register" method="post" id="booking_form">
	<div class="row">
		<div class="span6">
			{{ macro.make_standard_form(email_details_form) }}
		</div>
		<div class="span6">
			<div class="well">
				<h2>{{ _('Your Appointment') }}</h2>
				<br>
				{{ macro.booking_summary(provider=provider,
				booking_date=email_details_form.booking_date.data,
				booking_time=email_details_form.booking_time.data) }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					{{ _('Confirm') }}
				</button>
			</div>
		</div>
	</div>
</form>

{% endblock content %}

{% block extra_javascript %}
<script>
$(document).ready(function () {
  var validateUsername = $('#validateUsername');
  $('#email').keyup(function () {
    var t = this; 
    if (this.value != this.lastValue) {      
      this.timer = setTimeout(function () {
        $.ajax({
  		  url: "/book/patientlookup",
          data: { email: t.value },
          type: 'post',
          success: function (json) {
          	if (!jQuery.isEmptyObject(json)) {
				var patient = jQuery.parseJSON(json);
				$("#first_name").val(patient.first_name)
				$("#last_name").val(patient.last_name)
				$("#telephone").val(patient.telephone)
				$("#first_name").attr("disabled", "disabled"); 
				$("#last_name").attr("disabled", "disabled"); 
				$("#telephone").attr("disabled", "disabled"); 
          	} else {
				$("#first_name").val("")
				$("#last_name").val("")
				$("#telephone").val("")
				$("#first_name").removeAttr("disabled"); 
				$("#last_name").removeAttr("disabled"); 
				$("#telephone").removeAttr("disabled"); 
          	}
          }
        });
      }, 200);
      
      this.lastValue = this.value;
    }
  });
  
  $('#booking_form').submit(function () {
				$("#first_name").removeAttr("disabled"); 
				$("#last_name").removeAttr("disabled"); 
				$("#telephone").removeAttr("disabled"); 
  });

});

</script>
{% endblock %}
