{% extends "/layout/base.html" %}

{% block subhead %} {{ _('New Patient') }} {% endblock %}
{% block lead %}{{ _('Please complete the following details') }}{% endblock %}

{% block content %}
<form class="form-horizontal" action="/{{provider.vanity_url}}/book/patient" method="post" id="patient_form">
	<div class="row">
		<div class="span6">
			{{ macro.make_standard_form(patient_form) }}
		</div>
		<div class="span6">
			<div class="well">
				<h2>{{ _('Your Appointment') }}</h2>
				<br>
				{{ macro.booking_summary(provider=provider,
				booking_date=patient_form.booking_date.data,
				booking_time=patient_form.booking_time.data) }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					{{ _('Confirm') }}
				</button>
			</div>
		</div>
	</div>
</form>

{% endblock content %}

{% block extra_javascript %}
{% endblock %}
