{% extends "/layout/base.html" %}

{% set active_page = "public_profile" %}

{% block subhead %}
<span itemprop="name">{{ macro.display_provider_name(provider) }}</span>

{% endblock %}
{% block lead %}

<span itemprop="jobTitle">{{ provider.category|code_to_string }}</span>
{% if provider.city or provider.province %}
{{ _('in') }}
<span itemprop="workLocation"> <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"> {% if provider.city %} <span itemprop="addressLocality">{{ provider.city }}</span>{% endif %}{% if provider.city and provider.province and provider.province != 'nothing' %},
		{% endif %}
		{% if provider.province %} <span itemprop="addressRegion">{{ provider.province|code_to_string }}</span> {% endif %} </span> </span>
{% endif %}

{% endblock %}

{% block content %}

{% if facebook_like_enabled %}
<div id="fb-root"></div>
<script>
	( function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk')); 
</script>
{% endif %}

<div class="row">
	<!-- left column -->
	<div class="span2">
		<div style="width:90%; margin: 0px auto; text-align: center;">
		{% if provider.profile_photo_blob_key == None %}
		<img src="/assets/img/default-profile.png" width="150" height="150"
		alt="{{ macro.display_provider_name(provider) }} - {{ provider.category|code_to_string }}"
		itemprop="image">
		{% else %}
		<img src="{{ provider.get_profile_photo_image_url(150) }}" width="150"
		alt="{{ macro.display_provider_name(provider) }} - {{ provider.category|code_to_string }}"
		itemprop="image">
		{% endif %}
		</div>
		<br>

		{% if 'provider' in roles and provider_from_user == provider %}
		<div style="width:100%; padding-top:10px; margin: 0px auto; border-top: 1px solid #e5e5e5; text-align:center">
		<a href="/provider/profile/{{ provider.vanity_url }}" class="btn btn-primary" style="width:80%; margin: 0px auto">{{ _('Edit Your Profile') }}</a>
		</div>
		<br>
		{% endif %}

		{% if provider.booking_enabled and provider.get_total_available_hours_per_week() > 0 %}
		<div style="width:100%; padding-top:10px; margin: 0px auto; border-top: 1px solid #e5e5e5; text-align:center">
			<a href="/{{ provider.vanity_url }}/book" id="book_button" type="submit" class="btn btn btn-success" style="width:80%; margin: 0px auto">{{ _('Book Now') }}</a>
		</div>
		<br>
		{% endif %}

		{% if provider.address_enabled %}
		<div style="width:100%; padding-top:10px; margin: 0px auto; border-top: 1px solid #e5e5e5;">
		<h3>{{ _('Address') }}</h3>
		<span itemprop="workLocation"> <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"> {% if provider.address %} <span itemprop="streetAddress">{{ provider.address }}</span>
				<br>
				{% endif %}
				{% if provider.city %} <span itemprop="addressLocality">{{ provider.city }}</span>{% endif %}{% if provider.city and provider.province and provider.province != 'nothing' %},
				{% endif %}
				{% if provider.province and provider.province != 'nothing' %} <span itemprop="addressRegion">{{ provider.province|code_to_string }}</span> {% endif %} </span> 
				{% if provider.phone %}
				<br><span itemprop="telephone"> {{ provider.phone }}</span>
				{% endif %}
		</span>
		<br>
		<a data-toggle="modal" href="#contact_modal" onclick="loadScript()"><i class="bs-icon icon-globe"></i></a><a data-toggle="modal" href="#contact_modal" onclick="loadScript()">{{ _('Map') }}</a>
		</div>
		<br>
		{% endif %}

		{% if provider.connect_enabled %}
		<div style="width:100%; padding-top:10px; margin: 0px auto; border-top: 1px solid #e5e5e5; text-align:center">

		{% if provider_from_user and provider_from_user == provider %}
		{# self, don't show button #}
		{% elif provider_from_user and provider_from_user.is_connected_to(provider) %}
			{{ _('You and %(name)s are connected!', name=provider.first_name) }} 
		{% else %}
		<a href="/{{ provider.vanity_url }}/connect" id="connect_button" type="submit" class="btn btn btn-success" style="width:80%; margin: 0px auto"> {{ _('Connect') }} </a>

		<br>
		<br>
		{% endif %}

		{{ provider.first_name }} {{ _('is connected to') }} {{ provider.get_provider_network_count() }} {{ _('health care professionals.') }}
		<br>
		<a data-toggle="modal" href="#network_modal">{{ _('See all connections') }}</a><a data-toggle="modal" href="#network_modal"><i class="bs-icon icon-share-alt"> </i></a>

		<br>
		<br>
		</div>
		{% endif %}

		{% if facebook_like_enabled %}
		<div style="width:100%; padding-top:10px; margin: 0px auto; border-top: 1px solid #e5e5e5; text-align:center">

		<div class="fb-like" data-href="http://www.veosan.com/{{ provider.vanity_url }}" data-send="true" data-layout="button_count" data-width="150" data-show-faces="false"></div>
		<br>
		<!-- Place this tag where you want the +1 button to render. -->
		<div class="g-plusone" data-size="small" data-href="http://www.veosan.com/{{ provider.vanity_url }}"></div>

		</div>
		{% endif %}
	</div>
	<div class="span6">		
		
		{# totally empty profile, fill this space with something #}
		{% if not (provider.bio or provider.quote 
					or provider.get_specialty()|remove_empty_strings_from_list 
			        or provider.get_experience()|remove_empty_strings_from_list 
			        or provider.get_organization()|remove_empty_strings_from_list
			        or provider.get_education()|remove_empty_strings_from_list
			        or provider.get_certification()|remove_empty_strings_from_list
			        or provider.get_continuing_education()|remove_empty_strings_from_list)
		%}
		<h3>{{ provider.first_name }} {{ _('has an empty profile!') }}</h3>
		{# 
		<a href="#">Click here to let them know you visted their profile and would like more information!</a>
		#}
		{% endif %}
		
		{% if provider.bio %}
		<p>
			<span itemprop="description"> {{ provider.bio }} </span>
		</p>
		<br>
		{% endif %}

		{% if provider.quote %}
		<p style="font-style: italic; font-family:serif; font-size:x-large; line-height: 110%">
			“{{ provider.quote }}”
		</p>
		<br>
		{% endif %}

		{% if provider.get_specialty()|remove_empty_strings_from_list %}
		<h3>{{ _("Specialties") }}</h3>
		{% for s in provider.get_specialty() %}
			<span class="label">
					{% if s.specialty == 'other' %}
						{{ s.other }}
					{% else %}
						{{ s.specialty|code_to_string }}
					{% endif %}
			</span>&nbsp;
		{% endfor %}
		<br>
		<br>
		{% endif %}

		{% if provider.get_experience()|remove_empty_strings_from_list %}
		<h3>{{ _('Experience') }}</h3>
		<ul class="unstyled">
			{% for e in provider.get_experience() %}
			<li>
				<h4>{{ e.title }}</h4>
				<h6><span itemprop="worksFor"> {{ e.company_name }} </span> {{ macro.display_cv_years(e.start_year, e.end_year) }} </h6>
				{% if e.description %}
				<p>
					{{ e.description|markdown|safe }}
				</p>
				{% endif %}

			</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if provider.get_organization()|remove_empty_strings_from_list %}
		<h3>{{ _('Organization Memberships') }}</h3>
		<ul class="unstyled">
			{% for e in provider.get_organization() %}
			<li>
				<h4><span itemprop="memberOf"> {% if e.organization == 'other' %}
					{{ e.other }}
					{% else %}
					{{ e.organization|code_to_string }}
					{% endif %} </span></h4>
				<h6>{{ macro.display_cv_years(e.start_year, e.end_year) }}</h6>
			</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if provider.get_education()|remove_empty_strings_from_list %}
		<h3>{{ _('Education') }}</h3>
		<ul class="unstyled">
			{% for e in provider.get_education() %}
			<li>
				<h4>{{ e.degree_type|code_to_string }} {{ e.degree_title }}</h4>
				<h6><span itemprop="alumniOf">{{ e.school_name }}</span> {{ macro.display_cv_years(e.start_year, e.end_year) }} </h6>
				{% if e.description %}
				<p>
					{{ e.description|markdown|safe }}
				</p>
				{% endif %}

			</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if provider.get_certification()|remove_empty_strings_from_list %}
		<h3>{{ _('Certifications') }}</h3>
		<ul class="unstyled">
			{% for e in provider.get_certification() %}
			<li>
				<h4> {% if e.certification == 'other' %}
				{{ e.other }}
				{% else %}
				{{ e.certification|code_to_string }}
				{% endif %} </h4>
				<h6>{{ e.year }} </h6>
			</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% if provider.get_continuing_education()|remove_empty_strings_from_list %}
		<h3>{{ _('Continuing Education') }}</h3>
		<ul class="unstyled">
			{% for e in provider.get_continuing_education() %}
			<li>
				<h4>{{ e.title }}</h4>
				<h6>{{ e.type|code_to_string }}{% if e.hours %}, {{ e.hours }} {{ _('Hours') }}
				{% endif %}
				
				{% if e.year and e.month %}
				({{ e.year }}/{{ e.month }})
				{% elif e.year %}
				({{ e.year }})
				{% endif %}
				</h6>
				{% if e.description %}
				<p>
					{{ e.description|markdown|safe }}
				</p>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>

	<div class="span4">
		{% if not 'provider' in roles %}
		<div class="well well-small pull-right" style="width: 80%;">
			<h3>{{ _('Are you a health care professional?') }}</h3>
			<i class="bs-icon icon-bullhorn"> </i>
			<a href="/signup/provider">{{ _("Sign up to get your own professional profile. It's free!") }}</a>
		</div>
		<br>
		{% endif %}
		
		<div class="well well-small pull-right" style="width: 80%;">
			<h3>{{ _('Services Offered') }}</h3>
			<ul class="unstyled">
				{% for e in provider.get_provider_services() %}
				<li>
					<h4>{{ e.description }}</h4>
						{% if e.duration and e.duration > 0 %}
						{{ e.duration }} {{ _(' minutes') }}
						{% endif %}
						{% if e.duration and e.duration > 0 and e.cost and e.cost > 0 %}
						 - 
						{% endif %}
						{% if e.cost and e.cost > 0  %}
						{{ e.cost|string_to_currency }}
						{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>


		{% if provider.booking_enabled and provider.get_total_available_hours_per_week() > 0 %}
		<div class="well well-small pull-right" style="width: 80%;">
			<h3>{{_("Book an Appointment")}}</h3>
			{{_("Here are some times when %(name)s is free.", name=provider.first_name) }}
			<br>
			<a href="/{{ provider.vanity_url }}/book">{{ _("Click here to see the full list.") }}</a>
			<br>
			<br>
			<ul class="unstyled">
				{% for (day_key, day_times, t) in date_time_list %}
				<li>
					<i class="bs-icon icon-time"> </i>
					<a href="/{{provider.vanity_url}}/book/{{day_key}}/{{t.hour}}" style="width=100%" id="button-{{day_key~"-"~t.hour}}">
						{{ day_key|format_weekday|capitalize }}
						{{ day_key|format_date(format="medium") }}
						{{ _('at') }}
						{{t|format_time(format="short", rebase=False)}}
					</a>
				</li>
				{% endfor %}
			</ul>
			<a href="/{{ provider.vanity_url }}/book" style="width:80%; margin 5px auto" class="btn btn-primary"> {{ _("View Full Schedule") }} </a>
		</div>
		<br>
		<br>
		{% endif %}

		{% if provider.connect_enabled and provider.get_provider_network_count() > 0 %}
		<div class="well well-small pull-right" style="width: 80%;">
		<h3>Professional Network</h3>
		{{ _('This network contains') }} {{ provider.get_provider_network_count() }} {{ _('health care professionals.') }}
	
			<table class="table-condensed">
				{% for p in provider.get_provider_network() %}
				
				{% if loop.index < 3 %}
				{# only display first 3 results #}
				<tr>
			
				<td width="50"><a href="/{{ p.vanity_url }}"> {% if p.profile_photo_blob_key %} <img src="{{ p.get_profile_photo_image_url(50) }}" width="50"
				alt="{{ macro.display_provider_name(p) }} - {{ p.category|code_to_string }}"> {% else %} <img src="/assets/img/default-profile.png" width="50" height="50"
				alt="{{ macro.display_provider_name(p) }} - {{ p.category|code_to_string }}"> {% endif %} </a></td>
				<td width="150"><a href="/{{ p.vanity_url }}" itemprop="knows"><h4> {{ p.first_name }}
				{{ p.last_name }} </h4></a> {{ p.category|code_to_string }} </td>
	
				</tr>
				{% endif %}
	
				{% endfor %}
			</table>
		<a data-toggle="modal" href="#network_modal" style="width:80%; margin 5px auto" class="btn btn-primary">{{ _('View Full Network') }}</a>
		</div>
		{% endif %}
	</div>

</div>

{% if provider.address_enabled %}
<!-- modal for contact info -->

<div class="modal hide" id="contact_modal" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>{{provider.first_name or ''}} {{ provider.last_name}}</h3>
	</div>
	<div class="modal-body">
		<div style="width:100%">
			<div style="margin: 0px auto; width:100%;">
				<div class="row-fluid">
					<div class="span4">
						{% if provider.profile_photo_blob_key == None %}
						<img src="/assets/img/default-profile.png" width="100" height="100">
						{% else %}
						<img src="{{ provider.get_profile_photo_image_url(100) }}" width="100">
						{% endif %}

						<br>
						<br>
						<br>
						<br>
						<br>
					</div>
					<div class="span8">
						<div class="row-fluid">
							<div class="span6">
								{% if provider.address or provider.city or (provider.province and provider.province != 'nothing')  %}

								<h5>{{ _('Address') }}</h5>
								{% if provider.address %}
								{{ provider.address }}
								<br>
								{% endif %}
								{% if provider.city %}
								{{ provider.city }}{% endif %}{% if provider.city and provider.province and provider.province != 'nothing' %},
								{% endif %}
								{% if provider.province and provider.province != 'nothing' %}
								{{ provider.province|code_to_string }}
								{% endif %}
								<br>
								{% endif %}
							</div>
							<div class="span6">
								{% if provider.phone %}
								<h5>{{ _('Telephone') }}</h5>
								{{ provider.phone }}
								{% endif %}

								<h5>{{ _('Email') }}</h5>
								{{ provider.email }}
							</div>
						</div>
						<br>
						{% if provider.address or provider.postal_code %}
						<h5>{{ _('Map') }}</h5>
						<div id="map_canvas" style="width:100%; height:200px"></div>
						{% endif %}
					</div>

				</div>

			</div>
			{% if provider.booking_enabled %}
			<div class="modal-footer">
				<a href="/{{ provider.vanity_url }}/book"  class="btn btn-primary"> View Full Schedule </a>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}

{% if provider.connect_enabled %}
<div class="modal hide" id="network_modal" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>{{ _("%(name)s's Health Network", name=provider.first_name) }}</h3>
	</div>
	<div class="modal-body">
		{{ _('This network contains') }} {{ provider.get_provider_network_count() }} {{ _('health care professionals.') }}
		<table class="table-condensed">
			{% for p in provider.get_provider_network() %}

			{# create a row every 2 providers #}
			{% set tr = loop.cycle('
			<tr>
				', '') %}
				{% set close_tr = loop.cycle('', '
			</tr>') %}

			{{ tr|safe }}
			<td width="50"><a href="/{{ p.vanity_url }}"> {% if p.profile_photo_blob_key %} <img src="{{ p.get_profile_photo_image_url(50) }}" width="50"
			alt="{{ macro.display_provider_name(p) }} - {{ p.category|code_to_string }}"> {% else %} <img src="/assets/img/default-profile.png" width="50" height="50"
			alt="{{ macro.display_provider_name(p) }} - {{ p.category|code_to_string }}"> {% endif %} </a></td>
			<td width="150"><a href="/{{ p.vanity_url }}" itemprop="knows"><h4> {{ p.first_name }}
			{{ p.last_name }} </h4></a> {{ p.category|code_to_string }} </td>

			{{ close_tr|safe }}

			{% endfor %}
		</table>
	</div>
</div>
{% endif %}

{% endblock content %}

{% block extra_javascript %}

{% if facebook_like_enabled %}
<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
	(function() {
		var po = document.createElement('script');
		po.type = 'text/javascript';
		po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(po, s);
	})(); 
</script>
{% endif %}

{% if provider.address_enabled %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmWzdH93nBMmpuTvw7DKQEV210PmUIu64&sensor=false"></script>

<script type="text/javascript">
	var geocoder;
	var map;

	function initialize() {
		var myLatlng = new google.maps.LatLng(45.5000000, -73.5833333);
		geocoder = new google.maps.Geocoder();

		var myOptions = {
			zoom : 15,
			center : myLatlng,
			mapTypeId : google.maps.MapTypeId.ROADMAP,
			zoomControl : true,
			mapTypeControl : false,
			streetViewControl : false,
		}
		map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		codeAddress();
	}

	function codeAddress() {
		var address = '{{ provider.address }}, {{ provider.city }}, {{ provider.postal_code }}';

		geocoder.geocode({
			'address' : address
		}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				map.setCenter(results[0].geometry.location);
				var marker = new google.maps.Marker({
					map : map,
					position : results[0].geometry.location
				});
			} else {
				alert("Geocode was not successful for the following reason: " + status);
			}
		});
	}

	function loadScript() {
		var script = document.createElement("script");
		script.type = "text/javascript";
		script.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyDmWzdH93nBMmpuTvw7DKQEV210PmUIu64&sensor=false&callback=initialize";
		document.body.appendChild(script);
	}
</script>
{% endif %}

{% endblock extra_javascript %}

</div>
