{% extends "/layout/admin_nav.html" %}

{% set active_page = "campaigns" %}

{% block subhead %}Campaigns{% endblock %}
{% block lead %}"Computers have enabled people to make more mistakes faster than almost any invention in history, with the possible exception of tequila and hand guns{% endblock %}

{% block content %}
<div class="row">
	<div class="span12">
		<table class="table">
			<thead>
				<tr>
					<th width="10%">Campaign Name</th>
					<th width="10%">Description</th>
					<th width="10%">Prospects</th>
					<th width="10%">Operations</th>
				</tr>
			</thead>
			<tbody>
				{% for c in campaigns %}
				<tr>
					<td><a id="campaign-detail-link-{{loop.index}}" href="/admin/campaign/{{ c.key.urlsafe() }}">{{ c.name }}</a></td>
					<td> {{ c.description }} </td>
					<td> {{ c.prospects|count }}</td>	 
					<td> <!-- <a href="/admin/campaign/delete/{{ c.key.urlsafe() }}" class="btn btn-danger">Delete</a> --> </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	<div class="span12">
		<div class="well">
			<h3>Add New Campaign</h3>
			<form class="form-inline" action="/admin/campaigns" method="post" id="campaign_form">
					{{ macro.display_errors_for_field(add_campaign_form.name) }}
					{{ add_campaign_form.name(placeholder='New Campaign Name') }}
					<button type="submit" class="btn btn-primary">
						{{ _('Add') }}
					</button>
			</form>
		</div>
	</div>
</div>
{% endblock content %}

