{% extends "/layout/admin_nav.html" %}


{% set active_page = "bookings" %}

{% if booking.patient %} 
	{% set patient = booking.patient.get() %}
{% endif %}
{% if booking.provider %} 
	{% set provider = booking.provider.get() %}
{% endif %}

{% block subhead %} Booking Details {% endblock %}
{% block lead %}{{patient.first_name}} {{patient.last_name}} booked {{ provider.first_name }} {{ provider.last_name }} on {{booking.request_datetime|format_datetime(format="short")}}{% endblock %}

{% block content %}
<div class="row">
	<div class="span6">
		<div class="well">
		<h3>Patient</h3>
		{% if patient %} 
			{% if not patient.user.get().confirmed %}
				<span class="badge badge-warning">Patient not confirmed</span><br><br>
			{% endif %}

			{{patient.first_name}} {{patient.last_name}}<br>
			{{patient.telephone}}<br>
			{{patient.email}}<br>
		
			<br>
			{% if patient.address %}
			{{patient.address}} <br>
			{{patient.city}} <br>
			{{patient.postal_code}} <br>
			{% else %}
			No patient address!
			{% endif %}
		</div>	
		
		<div class="well">
		<h3>Booking</h3>
			appointment time: {{booking.datetime|format_datetime(format="short")}} <br>
			created on: {{ booking.created_on|format_datetime(format="short") }} <br>
			comments: {{booking.comments}} <br>
			<br>
		</div>
		
		<div class="well">
		<h3>Provider</h3>
		{% if provider %}
		<div class="row-fluid">
			<div class="span2">
				{% if provider.profile_photo_blob_key == None %}
				<img src="/assets/img/default-profile.png" width="75" height="75"
				alt="{{ macro.display_provider_name(provider) }} - {{ category_dict[provider.category] }}"
				itemprop="image">
				{% else %}
				<img src="{{ provider.get_profile_photo_image_url(75) }}" width="75"
				alt="{{ macro.display_provider_name(provider) }} - {{ category_dict[provider.category] }}"
				itemprop="image">
				{% endif %}
			</div>
			<div class="span10">
			<h4><a href="/provider/bookings/{{ provider.vanity_url }}">{{ provider.first_name }} {{ provider.last_name }}</a></h4>
			 {{ category_dict[provider.category] }}<br>
			 {{ provider.email }}<br>
			 {{ provider.phone }}<br>
			</div>
		</div>
		{% endif %}
		</div>
		
		{# not sure if still used ... #}
		{% elif booking.request_email %}
			<h1>{{booking.request_email}} </h1>
			<span class="badge badge-warning">Unfilled profile</span> 
			<br>
		{% else %}
			<span class="badge badge-important">User dropped out</span> 
			<br>
		{% endif %}

	</div>
	
	<div class="span6">
		<div class="well">
			<h3>Operations</h3>
			{% if booking.cancelled %}
				<a href="/admin/booking/reactivate/{{ booking.key.urlsafe() }}">Reactivate Booking</a>
			{% else %}
				<a href="/admin/booking/cancel/{{ booking.key.urlsafe() }}">Cancel Booking</a>
			{% endif %}
		</div>
	</div>
	
</div>
{% endblock content %}

{% block extra_javascript %}
<script>
	$(function() {
		$('a[rel=tooltip]').tooltip();
		$('a[rel=popover]').popover();
	}); 
</script>
{% endblock extra_javascript %}
