{% extends "/layout/admin_nav.html" %}

{% set active_page = "bookings" %}

{% block subhead %} Booking #{{ b.key.id() }} ({{ b.status }}){% endblock %}
{% block lead %} [short description] {% endblock %}

{% block content %}
<div class="row">
	<div class="span6">
		
		<h6>Patient</h6>
		{% if b.patient %} 
			{% set patient = b.patient.get() %}
			<a href="#">
				 <h4>{{patient.first_name}} {{patient.last_name}}</h4>
				 ({{patient.email}})
				 <br>
			</a>
			
			<br>
		
			{{patient.address}} <br>
			{{patient.city}} <br>
			{{patient.postal_code}} <br>
			<br>
			
				
		{% elif b.request_email %}
			<h1>{{b.request_email}} </h1>
			<span class="badge badge-warning">Unfilled profile</span> 
			<br>
		{% else %}
			<span class="badge badge-important">User dropped out</span> 
			<br>
		{% endif %}

		<br>
		
		<h6>Booking</h6>
			booking: {{b.datetime|format_datetime(format="short")}} <br>
			specialty: {{b.specialty}} <br>
			insurance: {{b.insurance}} <br>
			comments: {{b.comments}} <br>
			<br>
			request: {{b.request_datetime|format_datetime(format="short")}} <br>
			created: {{ b.created_on|format_datetime(format="short") }} <br>
		<br>
		
		<h6>Provider</h6>
		{% if b.provider %} 
			{% set provider = b.provider.get() %}
			<h4> {{ provider.first_name }} {{ provider.last_name }}</h4>
			{{ b.request_category|code_to_string }}
		{% endif %}
		
		<br>
		<br>
		<br>
		
	</div>
	
	<div class="span6">
		<div>
		{% if not patient.user.get().confirmed %}
			<span class="badge badge-warning">Patient not confirmed</span>
		{% endif %}
		</div>
		<div class="well">
			<h6>Operations</h6>
			{% if b.status != 'canceled' %}
				<a href="/admin/booking/cancel/{{ b.key.urlsafe() }}">Cancel Booking</a>
			{% else %}
				<a href="/admin/booking/reactivate/{{ b.key.urlsafe() }}">Reactivate Booking</a>
			{% endif %}
		</div>
	</div>
	
</div>
{% endblock content %}

{% block extra_javascript %}
<script>
	$(function() {
		$('a[rel=tooltip]').tooltip();
		$('a[rel=popover]').popover();
	}); 
</script>
{% endblock extra_javascript %}
