{% extends "/layout/admin_nav.html" %}

{% set active_page = "providers" %}

{% block subhead %}Providers{% endblock %}
{% block lead %}Provider administration{% endblock %}

{% block content %}
<!-- span -->
<div class="row">
	<div class="span12">
		
		<table class="table">
			<thead>
				<tr>
					<th width="2%">ID</th>
					<th width="5%">Category</th>
					<th width="5%">Photo</th>
					<th width="10%">Name</th>
					<th width="10%">Profile URL</th>
					<th width="10%">Email</th>
					<th width="10%">Status</th>
					<th width="10%">Created On</th>
					<th width="15%">Upcoming bookings</th>
				</tr>
			</thead>
			<tbody>
				{% for p in providers %}
				<tr>
					<td>
						<a href="{{p.get_edit_link()}}">{{ p.key.id() }}</a>
					</td>
					<td>
						{{ _(p.category|code_to_string) }}
					</td>
					<td>
						{% if p.profile_photo_blob_key %}
						<img src="{{ p.get_profile_photo_image_url(50) }}" width="50">
						{% endif %}
					</td>
					<td>
						{{p.last_name}}, {{p.first_name}}
					</td>
					<td>
						<a href='/{{ p.vanity_url }}'>{{p.vanity_url}}</a>
					</td>
					<td>
						{{p.email}}
					</td>
					<td>
						{{ p.status }}
						{% if p.recently_created() %} <span class="label label-success">new</span>{% endif %}
						{% if not p.terms_agreement %} <span class="label label-important">missing terms</span>{% endif %}
						{% if not p.enable %} <span class="label label-important">disabled</span>{% endif %}
						{% if p.onsite %} <span class="label label-info">onsite</span>{% endif %}
					</td>
					<td>
						{{p.created_on|format_datetime_full}}
					</td>
					

					<td>
						bookings
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<hr>
<div class="row">
	<div class="span6">
		<h3>Create new provider</h3>
		<form method="post" action="/admin/provider/init" class="well form-inline">
			<p>Generate a new ID for provider. You will have to login with their ID to complete the profile.</p>
			<fieldset>
				{{ macro.makeStandardForm() }}

				<button type="submit" class="btn btn-primary">
					Initialize New Provider
				</button>
			</fieldset>
		</form>
	</div>
</div>

{% endblock content %} 

{% block extra_javascript %}
{% endblock extra_javascript %}
