{% extends "/layout/admin_nav.html" %}

{% set active_page = "providers" %}

{% block subhead %}Providers{% endblock %}
{% block lead %}Provider administration{% endblock %}

{% block content %}
<!-- span -->
<div class="row">
	<div class="span12">
		
		<table class="table">
			<thead>
				<tr>
					<th width="2%">ID</th>
					<th width="5%">Category</th>
					<th width="5%">Photo</th>
					<th width="10%">Name</th>
					<th width="10%">Profile views</th>
					<th width="10%">Connections</th>
					<th width="10%">Email</th>
					<th width="10%">Status</th>
					<th width="10%">Created On</th>
					<th width="10%">Available Hours</th>
					<th width="15%">Upcoming bookings</th>
				</tr>
			</thead>
			<tbody>
				{% for p in providers %}
				<tr>
					<td>
						<a href="/provider/profile/{{p.vanity_url}}">{{ p.vanity_url }}</a>
					</td>
					<td>
						{{ _(p.category|code_to_string) }}
					</td>
					<td>
						{% if p.profile_photo_blob_key %}
						<img src="{{ p.get_profile_photo_image_url(50) }}" width="50">
						{% endif %}
					</td>
					<td>
						{{p.last_name}}, {{p.first_name}}
					</td>
					<td>
						<a href='/{{ p.vanity_url }}'>{{p.profile_views}}</a>
					</td>
					<td>
						Network: <a href='/provider/network/{{ p.vanity_url }}'>{{p.get_provider_network_count()}}</a>
						<br>
						Pending: <a href='/provider/network/{{ p.vanity_url }}'>{{p.get_provider_network_pending_count()}}</a>
						<br>
						Rejecter: <a href='/provider/network/{{ p.vanity_url }}'>{{p.get_provider_network_rejecter_count()}}</a>     
						<br>
						Rejectee: <a href='/provider/network/{{ p.vanity_url }}'>{{p.get_provider_network_rejectee_count()}}</a>     
					</td>
					<td>
						{{p.email}}
					</td>
					<td>
						{{ p.status }}
						{% if p.recently_created() %} <span class="label label-success">new</span>{% endif %}
						{% if not p.terms_agreement %} <span class="label label-important">missing terms</span>{% endif %}
						{% if p.onsite %} <span class="label label-info">onsite</span>{% endif %}
					</td>
					<td>
						{{p.created_on|format_datetime_full}}
					</td>
					<td>
						{{p.get_total_available_hours_per_week()}}
					</td>
					<td>
						bookings
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock content %} 

{% block extra_javascript %}
{% endblock extra_javascript %}
