{% extends "/layout/admin_nav.html" %}

{% set active_page = "campaigns" %}

{% block subhead %} {{ campaign.name }} {% endblock %}
{% block lead %} {{ campaign.description }} {% endblock %}


{% block content %}

<div class="row">
	<div class="span12">
		<div class="well">
			<div class="span4">
				{{ campaign.prospects|count }} prospects
				<br>
				{{ campaign.get_email_notes_count() }} emails sent
				<br>
				<!-- X converted (x%) -->
				<br>
			</div>
			
			<div class="span4">
				Created on: {{campaign.created_on|format_datetime(format="medium", rebase=True)}}
				<br>
				<br>
				
			</div>
			
			<div class="span3">
				<a class="btn btn-mini btn-info" href="/admin/campaign/{{campaign.key.urlsafe()}}/emails" data-toggle="modal">Generate All Emails</a>
				<br>
			</div>
			<!-- space at bottom -->
			<div class="row">
				&nbsp;
			</div>
		</div>
	</div>
</div>

<br>

<div class="row">	
	<div class="span12">
		<h2>{{ campaign.prospects|count }} Campaign Prospects  <a id="edit-prospects-link" class="btn btn-mini btn-primary" href="/admin/campaign/{{campaign.key.urlsafe()}}/prospects">Edit Prospects</a></h2>
		<!-- Add Prospects button -->
		
		<div class="scrollable">
			<table class="table">
				<thead>
					<tr>
						<th width="10%">Prospect ID</th>
						<th width="12%">Language</th>
						<th width="12%">Email</th>
						<th width="12%">First Name</th>
						<th width="12%">Last Name</th>
						<th width="12%">Category</th>
						<th width="5%">Hits</th>
						<th width="5%">Emails Sent</th>
						<th width="5%">Ops</th>
					</tr>
				</thead>
				<tbody>
					{% for prospect in campaign.prospects %}
					{% set p = prospect.get() %}
					<tr>
						<td><a href="/admin/prospects/{{ p.prospect_id }}">{{ p.prospect_id }}</a></td>
						<td>{{ p.language }}</td>
						<td>{{ p.email }}</td>
						<td>{{ p.first_name }}</td>
						<td>{{ p.last_name }}</td>
						<td>{{ p.category }}</td>
						<td>{{ p.landing_hits }}</td>
						<td>{{ p.get_email_notes_for_campaign_count(campaign) }}</td>
						<td><a id="email-link-{{loop.index}}" class="btn btn-mini btn-info" href="/admin/campaign/{{campaign.key.urlsafe()}}/email/{{p.prospect_id}}" data-toggle="modal">Email</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="span12">
		
		<form class="form-inline" action="/admin/campaign/{{campaign.key.urlsafe()}}" method="post" id="campaign_form">
			<h2>Email Templates
			<button type="submit" class="btn btn-mini btn-primary">
				{{ _('Save') }}
			</button>
			
			<!-- delete button -->
			<a data-toggle="modal" href="#delete_modal" class="btn btn-mini btn-danger">{{ _('Delete Campaign') }}</a>
		
			</h2>
			<br>
			{% set f = edit_campaign_form %}
			<table class="table table-condensed" >

				<tbody>
					<tr> 
						<td style="border-top:none;"> {{f.name.label}} {{ f.name(class="input-xxlarge") }}</td> 
						<td style="border-top:none;">{{f.description.label}} {{f.description(class="input-xxlarge") }}</td>
					</tr>
					<tr> 
						<td style="border-top:none;"> {{f.subject_fr.label}} {{ f.subject_fr(class="input-xxlarge") }}</td>
						<td style="border-top:none;"> {{f.subject_en.label}} {{f.subject_en(class="input-xxlarge") }}</td>
					</tr>
					<tr>
						<td style="border-top:none;"> {{f.body_fr.label}} {{ f.body_fr(class="input-xxlarge", style="height:300px") }}</td>
						<td style="border-top:none;"> {{f.body_en.label}} {{ f.body_en(class="input-xxlarge", style="height:300px") }}</td>
					</tr>
				</tbody>
			</table>
		</form>
		
		<h3>Variables</h3>
		<div class="well">
			<div class="row">		
				<div class="span5">
				    First name: <strong>%(first_name)s</strong> <br>
				    Last name: <strong>%(last_name)s</strong> <br>
	    			Email: <strong>%(email)s</strong>
	    		</div>
	    		<div class="span5">
	    			Last name: <strong>%(blog_url)s</strong> <br>
	    			Last name: <strong>%(signup_url)s</strong> <br>
	    			Last name: <strong>%(tour_url)s</strong>
	  			</div>
			</div>
		</div>
		
	</div>
</div>		


		{# ################################# #}
		{#   Modal for Edit Prospect List    #}
		{# ################################# #}
		
		<div class="modal hide" id="edit_prospects_modal" style="display: none;">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
		
				<h3>Edit Prospects</h3>
			</div>
			{% set post_url = '/admin/campaign/' + campaign.key.urlsafe() + '/prospects' %}
		
			<form method="post" action="{{ post_url }}" class="form-horizontal" id="edit_campaign_prospects_form">
				<div class="modal-body">
		
				<table class="table">
					<thead>
						<tr>
							<th width="5%">#</th>
							<th width="10%">Prospect ID</th>
							<th width="12%">Language</th>
							<th width="12%">Email</th>
							<th width="12%">First Name</th>
							<th width="12%">Last Name</th>
							<th width="12%">Category</th>
						</tr>
					</thead>
					<tbody>
						{% for p in all_prospects %}
						<tr>
							<td> 
								<input type="checkbox" name="prospect" value="{{p.key.urlsafe()}}" {% if p.key in campaign.prospects %} checked {% endif %}> </input> </td>
							<td>{{ p.prospect_id }}</td>
							<td>{{ p.language }}</td>
							<td>{{ p.email }}</td>
							<td>{{ p.first_name }}</td>
							<td>{{ p.last_name }}</td>
							<td>{{ p.category }}</td>
							
						</tr>
						{% endfor %}
					</tbody>
				</table>
				
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">
						{{ _('Save') }}
					</button>
					<a class="btn" href="/admin/campaign/{{ campaign.key.urlsafe() }}">{{ _('Cancel') }}</a>
				</div>
			</form>
		</div>
		
		
		{# ################################# #}
		{# Modal for single generated email  #}
		{# ################################# #}
		
		{% if prospect %}
		<div class="modal modal-large hide" id="email_modal" style="display: none;">
			
			
			
			<div class="modal-header">
				{% if modal_success_message %}
				<!-- Success Message -->
				<div class="alert alert-success">
					{{modal_success_message|safe}}
				</div>
				{% endif %}
				
				<a class="close" data-dismiss="modal">×</a>
		
				<h1>{{ prospect.email }}</h1>
			</div>
		
			<div class="modal-body" style="padding: 0px">
				{% include 'email/campaign_email.html' %}
			</div>
			
			<div class="modal-footer">
				<span style="float: left;">Ctrl-C to copy email</span><br>
				
				
				{% if prospect.is_campaign_email_sent(campaign) %}
					{% set last_email = prospect.get_last_campaign_email(campaign) %}
					<strong>last campaign email sent {{ last_email.event_date|human_readable_date_decay|lower }} by {{last_email.user }}</strong> <br><br>
					{% set mark_as_sent_text = 'Mark as sent again' %}
				{% else %}
					{% set mark_as_sent_text = 'Mark as sent' %}
				{% endif %}
				
				<form id="mark-as-read-form" class="form-inline" action="/admin/campaign/{{campaign.key.urlsafe()}}/sent/{{prospect.prospect_id}}" method="post">
					<input type="hidden" name="email_body" id="email_body">
					<button type="submit" class="btn btn-info">
						<i class="icon-ok icon-white"></i> {{mark_as_sent_text}}
					</button>
				</form>
				
				<a class="btn" href="/admin/campaign/{{ campaign.key.urlsafe() }}">{{ _('Cancel') }}</a>
			</div>
		
		</div>
		{% endif %}
		
		


		{# ################################# #}
		{# Modal for Delete confirmation     #}
		{# ################################# #}
		
		<div class="modal hide" id="delete_modal" style="display: none;">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>Delete Campaign: {{ campaign.name }}</h3>
			</div>
			<div class="modal-body">
				Are you sure?
			</div>
	
			<div class="modal-footer">
				<a class="btn btn-danger" href="/admin/campaign/delete/{{ campaign.key.urlsafe() }}">{{ _('Delete Campaign') }}</a>
				<a class="btn" href="/admin/campaign/{{ campaign.key.urlsafe() }}">{{ _('Cancel') }}</a>
			</div>
		</div>

{% endblock content %}

{# Modal extra Javascript #}
{% block extra_javascript %}

	<script>
		function grabDivContent() {
		    document.getElementById('email_body').value = document.getElementById("email-body-edit-div").innerHTML;
		}
		document.getElementById("mark-as-read-form").onsubmit = grabDivContent;
	</script>

	{% if show_modal == 'campaign_prospects' %}
	<script>
		$('#edit_prospects_modal').modal('show')
	
		$('edit_prospects_modal').on('hidden', function() {
			window.location = "/admin/campaign/{{ campaign.key.urlsafe() }}"
		})
	</script>
	{% endif %}
	
	{% if show_modal == 'email' %}
	<script>
		$('#email_modal').modal('show')
	
		$('email_modal').on('hidden', function() {
			window.location = "/admin/campaign/{{ campaign.key.urlsafe() }}"
		})
		
		function selectText(element) {
		    var doc = document
		        , text = doc.getElementById(element)
		        , range, selection
		    ;    
		    if (doc.body.createTextRange) { //ms
		        range = doc.body.createTextRange();
		        range.moveToElementText(text);
		        range.select();
		    } else if (window.getSelection) { //all others
		        selection = window.getSelection();        
		        range = doc.createRange();
		        range.selectNodeContents(text);
		        selection.removeAllRanges();
		        selection.addRange(range);
		    }
		}

		selectText('email-body-edit-div')
		
	</script>
	{% endif %}
{% endblock %}

