{% extends "/layout/admin_nav.html" %}

{% set active_page = "campaigns" %}

{% block subhead %} {{ campaign.name }} {% endblock %}
{% block lead %} {{ campaign.description }} {% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
		<div class="well">
			{{ campaign.prospects|count }} prospects
			<br>
			X emails sent, X converted (x%)
			<br>
			Created on: {{campaign.created_on|format_datetime(format="medium", rebase=True)}}
			<br>
			<br>
			<a class="btn btn-mini btn-info" href="/admin/campaign/{{campaign.key.urlsafe()}}/emails" data-toggle="modal">Generate All Emails</a>
			<br>
		</div>
	</div>
</div>

<br>

<div class="row">	
	<div class="span12">
		<h2>Campaign Prospects  <a class="btn btn-mini btn-primary" href="#edit_prospects_modal" data-toggle="modal">Edit Prospects</a></h2>
		<!-- Add Prospects button -->
		
		
		<table class="table">
			<thead>
				<tr>
					<th width="10%">Prospect ID</th>
					<th width="12%">Language</th>
					<th width="12%">Email</th>
					<th width="12%">First Name</th>
					<th width="12%">Last Name</th>
					<th width="12%">Category</th>
					<th width="5%">Hits</th>
					<th width="5%">Ops</th>
				</tr>
			</thead>
			<tbody>
				{% for prospect in campaign.prospects %}
				{% set p = prospect.get() %}
				<tr>
					<td><a href="/admin/prospects/{{ p.prospect_id }}">{{ p.prospect_id }}</a></td>
					<td>{{ p.language }}</td>
					<td>{{ p.email }}</td>
					<td>{{ p.first_name }}</td>
					<td>{{ p.last_name }}</td>
					<td>{{ p.category }}</td>
					<td>{{ p.landing_hits }}</td>
					<td><a class="btn btn-mini btn-info" href="/admin/campaign/{{campaign.key.urlsafe()}}/email/{{p.prospect_id}}" data-toggle="modal">Email</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<br>

<div class="row">
	<div class="span8">
		
		<form class="form-horizontal" action="/admin/campaign/{{campaign.key.urlsafe()}}" method="post" id="campaign_form">
			<h2>Email Templates
			<button type="submit" class="btn btn-mini btn-primary">
				{{ _('Save') }}
			</button>
			</h2>
			<br>
			{{ macro.make_standard_form(edit_campaign_form) }}

		</form>

	</div>
</div>		


		{# ################################# #}
		{#   Modal for Edit Prospect List    #}
		{# ################################# #}
		
		<div class="modal hide" id="edit_prospects_modal" style="display: none;">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
		
				<h3>Edit Prospects</h3>
			</div>
			{% set post_url = '/admin/campaign/' + campaign.key.urlsafe() + '/prospects' %}
		
			<form method="post" action="{{ post_url }}" class="form-horizontal" id="edit_campaign_prospects_form">
				<div class="modal-body">
		
				<table class="table">
					<thead>
						<tr>
							<th width="5%">#</th>
							<th width="10%">Prospect ID</th>
							<th width="12%">Language</th>
							<th width="12%">Email</th>
							<th width="12%">First Name</th>
							<th width="12%">Last Name</th>
							<th width="12%">Category</th>
						</tr>
					</thead>
					<tbody>
						{% for p in all_prospects %}
						<tr>
							<td> 
								<input type="checkbox" name="prospect" value="{{p.key.urlsafe()}}" {% if p in campaign.prospects %} checked {% endif %}> </input> </td>
							<td>{{ p.prospect_id }}</td>
							<td>{{ p.language }}</td>
							<td>{{ p.email }}</td>
							<td>{{ p.first_name }}</td>
							<td>{{ p.last_name }}</td>
							<td>{{ p.category }}</td>
							
						</tr>
						{% endfor %}
					</tbody>
				</table>
				
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">
						{{ _('Save') }}
					</button>
					<a class="btn" href="/admin/campaign/{{ campaign.key.urlsafe() }}">{{ _('Cancel') }}</a>
				</div>
			</form>
		</div>
		
		
		{# ################################# #}
		{# Modal for single generated email  #}
		{# ################################# #}
		
		{% if prospect %}
		<div class="modal hide" id="email_modal" style="display: none;">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
		
				<h1>{{ prospect.email }}</h1>
			</div>
		
			<div class="modal-body">
				{% if prospect.language == 'fr' %}
					{% set subject = campaign.subject_fr %}
					{% set body = campaign.body_fr %}
				{% else %}
					{% set subject = campaign.subject_en %}
					{% set body = campaign.body_en %}
				{% endif %}
				
				<h2>{{ subject|markdown|safe|format(**prospect|generate_prospect_email_dict(host) ) }}</h2>
				<br>
				<p>{{ body|markdown|safe|format(**prospect|generate_prospect_email_dict(host) )  }}</p>
				
				<hr>
			</div>
			
			
			<div class="modal-footer">
		
				<a class="btn btn-info" href="/admin/campaign/{{campaign.key.urlsafe()}}/sent/{{prospect.prospect_id}}">
					<i class="icon-ok icon-white"></i> Mark as sent
				</a>
				
				<a class="btn" href="/admin/campaign/{{ campaign.key.urlsafe() }}">{{ _('Cancel') }}</a>
			</div>
		
		</div>
		{% endif %}

{% endblock content %}

{# Modal extra Javascript #}
{% block extra_javascript %}
	{% if show_modal == 'campaign_prospects' %}
	<script>
		$('#edit_prospects_modal').modal('show')
	
		$('edit_prospects_modal').on('hidden', function() {
			window.location = "/admin/campaign/{{ campaign.key.urlsafe() }}"
		})
	</script>
	{% endif %}
	
	{% if show_modal == 'email' %}
	<script>
		$('#email_modal').modal('show')
	
		$('email_modal').on('hidden', function() {
			window.location = "/admin/campaign/{{ campaign.key.urlsafe() }}"
		})
	</script>
	{% endif %}
{% endblock %}

