{% extends "/layout/admin_nav.html" %}

{% set active_page = "campaigns" %}

{% block subhead %} Campaign: {{campaign.name}} {% endblock %}
{% block lead %} {{ campaign.description }} {% endblock %}

{% block content %}

<div class="row">
	<div class="span6">
		<h2>Generated Emails</h2>
		<br>
		{% for prospect in campaign.prospects %}
			{% set p = prospect.get() %}
			
			
				{% if prospect.language == 'fr' %}
					{% set subject = campaign.subject_fr %}
					{% set body = campaign.body_fr %}
				{% else %}
					{% set subject = campaign.subject_en %}
					{% set body = campaign.body_en %}
				{% endif %}
				
				<h2>{{ subject|markdown|safe|format(**prospect|generate_prospect_email_dict(host) ) }}</h2>
				<br>
				<p>{{ body|markdown|safe|format(**prospect|generate_prospect_email_dict(host) )  }}</p>
				<hr>
				
				
		{% endfor %}
	</div>
</div>

{% endblock content %}