{% extends "/layout/admin_nav.html" %}

{% set active_page = "prospects" %}

{% block subhead %} Campaign: {{campaign.name}} {% endblock %}
{% block lead %} {{ campaign.description }} {% endblock %}

{% block content %}

<div class="row">
	<div class="span8">
		<h3>Email templates</h3>
		<form class="form-horizontal" action="/admin/campaigns/{{campaign.key.urlsafe()}}" method="post" id="campaign_form">
				{{ macro.make_standard_form(edit_campaign_form) }}
				<button type="submit" class="btn btn-primary">
					{{ _('Save') }}
				</button>
		</form>

	</div>
	<div class="span4">
		<h3>Stats</h3>
		<div class="well">
			
		</div>
	</div>
</div>


<div class="row">	
	<div class="span12">		
		<h3>Prospects</h3>
		<table class="table">
			<thead>
				<tr>
					<th width="10%">Prospect ID</th>
					<th width="12%">Language</th>
					<th width="12%">Email</th>
					<th width="12%">First Name</th>
					<th width="12%">Last Name</th>
					<th width="12%">Category</th>
					<th width="5%">Hits</th>
					<th width="10%">Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for p in prospects %}
				<tr>
					<td><a href="/admin/prospects/{{ p.prospect_id }}">{{ p.prospect_id }}</a></td>
					<td>{{ p.language }}</td>
					<td>{{ p.email }}</td>
					<td>{{ p.first_name }}</td>
					<td>{{ p.last_name }}</td>
					<td>{{ p.category }}</td>
					<td>{{ p.landing_hits }}</td>
					<td><a href="/admin/prospects/delete/{{ p.prospect_id }}" class="btn btn-danger">Delete</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
</div>		



{% endblock content %}
