{% extends "/layout/admin_nav.html" %}

{% set active_page = "campaigns" %}

{% block subhead %} Campaign: {{campaign.name}} {% endblock %}
{% block lead %} {{ campaign.description }} {% endblock %}

{% block content %}

<div class="row">
	<div class="span6">
		<h2>Generated Emails</h2>
		<br>
		{% for prospect in campaign.prospects %}
			{% set p = prospect.get() %}
			<h2>{{ p.email }}</h2>
			{% if p.language == 'fr' %}
				<strong>{{ campaign.subject_fr }}</strong>
				<p>{{ campaign.body_fr|escape|format(**p|generate_prospect_email_dict)  }}</p>
			{% else %}
				<strong>{{ campaign.subject_en }}</strong>
				<p>{{ campaign.body_en|escape|format(**p|generate_prospect_email_dict)  }}</p>
			{% endif %}
			<hr>
		{% endfor %}
	</div>
</div>

{% endblock content %}