{% extends "/layout/admin_nav.html" %}

{% set active_page = "data" %}

{% block subhead %} Data {% endblock %}
{% block lead %} System level data adminstration{% endblock %}

{% block content %}
<!-- span -->
{% if dev_server %}
<div class="row">
	<div class="span6">
		<form method="post" action="/admin/data/stage" class="well form-inline">
			Generate a few providers to test the search
			<fieldset>
				<button type="submit" class="btn btn-primary">
					Create Stage Data
				</button>
			</fieldset>
		</form>
	</div>

	<div class="span6">
		<form method="post" action="/admin/data/delete" class="well form-inline">
			<fieldset>
				<p>
					Write "delete" in the box
				</p>
				<input type="text" name="confirm_text" >
				<button type="submit" class="btn btn-danger">
					DELETE ALL DATA
				</button>
			</fieldset>
		</form>
	</div>
</div>
{% else %}
<h1>Production Server. Nothing to see here.</h1>
{% endif %}

<div class="row">
	<div class="span6">
		<h3>Index Page - Signup / Booking Switch</h3>

		<div class="well">
			<p>
				Current status is booking_enabled={{ site_config.booking_enabled }}
			</p>
			<form method="post" action="/admin/site_config/booking_enabled" class="form-inline">
				<fieldset>
					{% if site_config.booking_enabled %}
					<button type="submit" class="btn btn-success">
						Disable Booking on Index Page
					</button>
					{% elif not site_config.booking_enabled or site_config.booking_enabled == None %}
					<button type="submit" class="btn btn-danger">
						Enable Booking on Index Page
					</button>
					{% endif %}
				</fieldset>
			</form>
		</div>
	</div>

	<div class="span6">
		<h3>Enable/disable Google Analytics</h3>

		<div class="well">
			<p>
				Current status is google_analytics_enabled={{ site_config.google_analytics_enabled }}
			</p>
			<form method="post" action="/admin/site_config/google_analytics_enabled" class="form-inline">
				<fieldset>
					{% if site_config.google_analytics_enabled %}
					<button type="submit" class="btn btn-success">
						Disable Google Analytics
					</button>
					{% elif not site_config.google_analytics_enabled or site_config.google_analytics_enabled == None %}
					<button type="submit" class="btn btn-danger">
						Enable Google Analytics
					</button>
					{% endif %}
				</fieldset>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="span6">
		<h3>Enable/disable Facebook Like Buttons</h3>

		<div class="well">
			<p>
				Current status is facebook_like_enabled={{ site_config.facebook_like_enabled }}
			</p>
			<form method="post" action="/admin/site_config/facebook_like_enabled" class="form-inline">
				<fieldset>
					{% if site_config.facebook_like_enabled %}
					<button type="submit" class="btn btn-success">
						Disable Facebook Like
					</button>
					{% elif not site_config.facebook_like_enabled or site_config.facebook_like_enabled == None %}
					<button type="submit" class="btn btn-danger">
						Enable Facebook Like
					</button>
					{% endif %}
				</fieldset>
			</form>
		</div>
	</div>
	<div class="span6">
		<h3>Enable/disable Public Signups</h3>

		<div class="well">
			<p>
				Current status is signup_enabled={{ site_config.signup_enabled }}
			</p>
			<form method="post" action="/admin/site_config/signup_enabled" class="form-inline">
				<fieldset>
					{% if site_config.signup_enabled %}
					<button type="submit" class="btn btn-success">
						Disable Public Signups
					</button>
					{% elif not site_config.signup_enabled or site_config.signup_enabled == None %}
					<button type="submit" class="btn btn-danger">
						Enable Public Signups
					</button>
					{% endif %}
				</fieldset>
			</form>
		</div>
	</div>
</div>


<div class="row">
	<div class="span6">
		<h3>Enable/disable Email Error Reporting</h3>

		<div class="well">
			<p>
				Current status is error_email_enabled={{ site_config.error_email_enabled }}
			</p>
			<form method="post" action="/admin/site_config/error_email_enabled" class="form-inline">
				<fieldset>
					{% if site_config.error_email_enabled %}
					<button type="submit" class="btn btn-success">
						Disable Email Error Reporting
					</button>
					{% elif not site_config.error_email_enabled or site_config.error_email_enabled == None %}
					<button type="submit" class="btn btn-danger">
						Enable Email Error Reporting
					</button>
					{% endif %}
				</fieldset>
			</form>
		</div>
	</div>
</div>

{% endblock content %}
