{% extends "/layout/admin_nav.html" %}

{% set active_page = "domain" %}

{% block subhead %} Domain {{ domain }}{% endblock %}
{% block lead %} Set up domain specific configurations {% endblock %}

{% block content %}

{% if domain_list %}
Choose your domain :

{% for domain in domain_list %}
<a class="btn btn-primary" href="/admin/domain/{{ domain }}">{{ domain }}</a>
{% endfor %}

{% else %}

		<form method="post" action="/admin/domain/{{ domain }}/setup" class="form-horizontal" id="domain_form">
			<fieldset>
{{ macro.make_standard_form(form) }}
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					{{ _('Save') }}
				</button>
			</div>
		</form>

{% endif %}


{% endblock content %}
