{% extends "/layout/admin_nav.html" %}

{% set active_page = "patients" %}

{% block subhead %}Patients{% endblock %}
{% block lead %}Patient administration{% endblock %}

{% block content %}
<!-- span -->
<div class="row">
	<div class="span12">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Created On</th>
					<th>confirmed</th>
					<th>appointments</th>
				</tr>
			</thead>
			<tbody>
				{% for p in patients %}
				<tr>
					<td>{{ p.last_name }},  {{ p.first_name }}</td>
					<td>{{ p.email }}</td>
					<td>{{ p.created_on }}</td>
					<td>
					{% if p.user %}
						{{ p.user.get().confirmed }}	
					{% endif %}
					</td>
					
					<td>
						<ul>
						{% for b in p.get_bookings() %}	
							<li> {{ b.provider.get().last_name }} </li>
						{% endfor %}
						</ul>
					</td>
					  
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock content %} 
