{% extends "/layout/admin_nav.html" %}

{% set active_page = "prospects" %}

{% block subhead %} Prospect Details {% endblock %}
{% block lead %} {{ prospect.email }} {% endblock %}

{% block content %}
<div class="row">
	<div class="span4">
		<h3>Contact</h3>
		{{ prospect.first_name }} {{ prospect.last_name }}
		<br>
		<a href="mailto:{{ prospect.email }}">{{ prospect.email }}</a> &nbsp;&nbsp;&nbsp; {{ prospect.phone }}
		<br>
		{{ prospect.category }}
		<br>
		{{ prospect.language }}
		<br>
		<br>
		<a id="edit-prospect-link" class="btn btn-primary" data-toggle="modal" href="#edit_prospect_modal">Edit Prospect</a>
		
	</div>
	<div class="span4">
		<h3>GAE Geography</h3>
		Country: {{ prospect.gae_country }}
		<br>
		Region: {{ prospect.gae_region }}
		<br>
		City: {{ prospect.gae_city }}
	</div>
	<div class="span4">
		<h3>Prospect URLs</h3>
		{{ prospect.get_signup_url(host) }}
		<br>
		{{ prospect.get_tour_url(host) }}
		<br>
		{{ prospect.get_blog_url(host) }}
	</div>
</div>
<br>
<br>
<br>
<div class="row">
	<div class="span4">
		<h3>Tags</h3>
		<form method="post" action="/admin/prospects/{{ prospect.prospect_id }}/tags"  id="prospect_tags_form">
			<div class="form-inline">
			{{ prospect_tags_form.tags(class='input-medium') }}
			</div>
			<button type="submit" class="btn btn-primary">
				{{ _('Update') }}
			</button>
		</form>		
	</div>
	<div class="span4">
		<h3>Employment</h3>
		<form method="post" action="/admin/prospects/{{ prospect.prospect_id }}/employment"  id="prospect_employment_tags_form">
			<div class="form-inline">
			{{ prospect_employment_tags_form.employment_tags(class='input-medium') }}
			</div>
			<button type="submit" class="btn btn-primary">
				{{ _('Update') }}
			</button>
		</form>		
	</div>
	<div class="span4">
		<h3 style="display: inline-block">Campaigns</h3>
		<div style="display: inline-block; float: right;">
			<form style="margin-bottom:0px;" class="form-inline" method="post" action="/admin/prospects/{{ prospect.prospect_id }}/campaign" >
				{{ add_to_campaign_form.campaign(class='input-small') }}
				<button type="submit" class="btn btn-primary">
					{{ _('Add') }}
				</button>
			</form>
		</div>
		<br>
		<div style="display: block; margin-top: 0px;">
			{% for c in prospect.get_campaigns() %}	
				<a id="campaign-detail-link-{{loop.index}}" href="/admin/campaign/{{ c.key.urlsafe() }}">{{ c.name }}</a>
				{% set last_campaign_email = prospect.get_last_campaign_email(c) %}
				{% if last_campaign_email %}
					- Emailed {{ last_campaign_email.event_date|human_readable_date_decay|lower }} by {{last_campaign_email.user }}
				{% endif %}
				<br>
			{% endfor %}
			<br>
			<br>
		</div>
	</div>
</div>
<div class="row">
	<br>
	<br>
	<div class="span12">
		<h3>Notes</h3>
		<table class="table table-striped">
			<thead>
				<th width="1%"></th>
				<th width="10%">Date and Time</th>
				<th width="10%">User</th>
				<th width="5%">Type</th>
				<th width="10%">Campaign</th>
				<th width="80%">Note</th>
			</thead>
			{% for note in prospect.get_notes() %}
			<tr>	
				<td><a href="/admin/prospects/{{ prospect.prospect_id }}/notes/edit/{{ note.key.urlsafe() }}"><i class="bs-icon icon-edit"> </i></a></td>
				<td>{{ note.event_date|format_datetime(format="medium") }}</td>
				<td>{{ note.user }}</td>
				<td>{{ note.note_type }}</td>
				<td>
					{% if note.campaign %}
						{{ note.campaign.get().name }}
					{% else %}
						none
					{% endif %}
				</td>
				<td>{{ note.body|markdown|safe }}</td>
			</tr>
			{% endfor %}
		</table>
		<a data-toggle="modal" href="#note_modal" class="btn btn-primary">Add Note</a>
	</div>
</div>

<div class="row">
	<br>
	<br>
	<div class="span12">
		<h3>Site Logs</h3>
		<table class="table table-striped">
			<thead>
				<th>Date and Time</th>
				<th>Page</th>
				<th>Referer</th>
			</thead>
			{% if prospect %}
			{% for l in prospect.get_site_logs() %}
			<tr>
				<td>{{ l.access_time|format_datetime(format="medium") }}</td>
				<td>{{ l.page }}</td>
				<td>{{ l.referer }}</td>
			</tr>
			{% endfor %}
			{% endif %}
		</table>
	</div>
</div>


<a data-toggle="modal" href="#delete_modal" class="btn btn-danger">{{ _('Delete') }}</a>

<div class="modal hide" id="delete_modal" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>

		<h3>Delete {{ prospect.first_name }} {{ prospect.last_name }}</h3>
	</div>
		<div class="modal-body">
			Are you sure?
		</div>

		<div class="modal-footer">
			<a class="btn btn-danger" href="/admin/prospects/delete/{{ prospect.prospect_id }}">{{ _('Delete') }}</a>

			<a class="btn" href="/admin/prospects/{{ prospect.prospect_id }}">{{ _('Cancel') }}</a>
		</div>
	</form>
</div>

{# ########### #}
{# Note Modal  #}
{# ########### #}

<div class="modal hide" id="note_modal" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>

		<h3>Add Note</h3>
	</div>
	{% if edit == 'note' %}
	{% set post_url = '/admin/prospects/' + prospect.prospect_id + '/notes/edit/' + edit_key %}
	{% else %}
	{% set post_url = '/admin/prospects/' + prospect.prospect_id + '/notes/add' %}
	{% endif %}
	<form method="post" action="{{ post_url }}" class="form-horizontal" id="note_form">
		<div class="modal-body">
			{{ macro.make_standard_form(prospect_note_form) }}
		</div>

		<div class="modal-footer">
			{% if edit == 'note' %}
			<a class="btn btn-danger pull-left" href="/admin/prospects/{{ prospect.prospect_id }}/notes/delete/{{ edit_key }}"> {{ _('Delete') }} </a>
			{% endif %}

			<button type="submit" class="btn btn-primary">
				{{ _('Save') }}
			</button>
			<a class="btn" href="/admin/prospects/{{ prospect.prospect_id }}">{{ _('Cancel') }}</a>
		</div>
	</form>
</div>


{# #################### #}
{# Edit Prospect Modal  #}
{# #################### #}

<div class="modal hide" id="edit_prospect_modal" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>

		<h3>Edit Prospect: {{ prospect.first_name }} {{ prospect.last_name }}</h3>
	</div>
	
	<form method="post" action="/admin/prospects/{{prospect.prospect_id}}" class="form-horizontal" id="edit_prospect_form">
		<div class="modal-body">
			{{ macro.make_standard_form(edit_prospect_form) }}
		</div>
		
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">
				{{ _('Save') }}
			</button>
			<a class="btn" href="/admin/prospects/{{ prospect.prospect_id }}">{{ _('Cancel') }}</a>
		</div>
	</form>
</div>


{% endblock content %}

{% block extra_javascript %}

{% if edit == 'note' or prospect_note_form.errors %}
<script>
	$('#note_modal').modal('show')
	$('#note_modal').on('hidden', function() {
		window.location = "/admin/prospects/{{ prospect.prospect_id }}"
	})
</script>
{% endif %}

{% if edit == 'prospect' or edit_prospect_form.errors %}
<script>
	$('#edit_prospect_modal').modal('show')
	$('#edit_prospect_modal').on('hidden', function() {
		window.location = "/admin/prospects/{{ prospect.prospect_id }}"
	})
</script>
{% endif %}

{% endblock %}

