{% extends "/layout/base.html" %}

{% block subhead %} {{ _('Confirmation') }} {% endblock %}
{% block lead %}{% endblock %}

{% block content %}
<div class="row">
	<div class="span12">
		
		
		<h1><img src="/assets/img/green-check.png" width="80" height="80"> Thank you {{patient.firstName}}!</h1>
		<br>
		
		<h3>Your appointment is confirmed for {{booking.dateTime|format_datetime_full}} </h3>
		<h3>with {{provider.prefix or ''}} {{provider.firstName or ''}} {{provider.lastName}} </h3>
		<h3>at {{provider.address}} in {{provider.city}}</h3>
		<br>
		<br>
		
		<p><i class="icon-envelope"></i> You will receive an email shortly confirming your reservation.</p>
		<p><i class="icon-user"></i> <a href="/contact">Contact us</a> for any questions relating to your appointment</p>
		<br>
	</div>
</div>
{% endblock %} 