{% extends "/layout/base.html" %}

{% block subhead %}R&eacute;servation{% endblock %}
{% block lead %}Votre rendez-vous est maintenant sauvegarder.{% endblock %}

{% block content %}
<div class="row">
	<div class="span12">
		<h3>Patient</h3>
		{{ patient.__dict__ }}
		
		<h3>Booking</h3>
		{{ booking.__dict__ }}
		
		{% if (provider) %}
			<h3>{{provider.fullName()}}</h3>
			<code>{{ provider.key() }}</code>
			{{ provider.__dict__ }}
		{% else %}
			<h3>No provider found for your request</h3>
		{% endif %}

	</div>
</div>
{% endblock %} 