{% extends "/layout/base.html" %}

{% block subhead %}Nouveau Patient{% endblock %}
{% block lead %}Completez votre profile.{% endblock %}

{% block content %}
<div class="row">
	<div class="span12">
		<form class="form-horizontal" action="/patient/book" method="post">
			<fieldset>
				<div class="row">
					<div class="span6">
						{{ makeStandardForm() }}
					</div>
					<div class="span6">
						<h3>Booking Info</h3>
						{# TODO format this nicely #}
						<ul>
							<li>{{ booking.requestCategory }}</li>
							<li>{{ booking.requestRegion }}</li>
							<li>{{ booking.requestDateTime|format_datetime_noseconds }}</li>
						</ul>
					</div>
				</div>
				
				{# repeat previously visible info in hidden format for the form #}
				<input id="category" name="category" type="hidden" value="{{ booking.category }}">
				<input id="location" name="location" type="hidden" value="{{ booking.region }}">
				<input id="booking_date" name="booking_date" type="hidden" value="{{ booking.date }}">
				<input id="booking_time" name="booking_time" type="hidden" value="{{ booking.time }}">
				<input id="bk" name="bk" type="hidden" value="{{ booking.key() }}">

			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					{{ _('Confirm') }}
				</button>
				<button type="submit" class="btn">
					{{ _('Cancel') }}
				</button>
			</div>
		</form>
	</div>
</div>
{% endblock content %}