{% extends "/layout/base.html" %}

{% block subhead %}Nouveau Patient{% endblock %}
{% block lead %}Completez votre profile.{% endblock %}

{% block content %}
<div class="row">
	<div class="span12">
		<form class="form-horizontal" action="/patient/book" method="post">
			<fieldset>
				{{ makeStandardForm() }}
				<div class="control-group ">
					<!-- <label class="control-label" for="booking"></label> -->
					<div class="controls">
						<input class="input-xlarge" id="booking" name="booking" type="hidden" value="{{ booking }}">
					</div>
				</div>
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					{{ _('Confirm') }}
				</button>
				<button type="submit" class="btn">
					{{ _('Cancel') }}
				</button>
			</div>
		</form>
	</div>
</div>
{% endblock content %}