{% extends "/layout/patient_nav.html" %}

{% set active_page = "address" %}

{% block subhead %}{{ _('Address') }}{% endblock %}
{% block lead %}{{ _('Get patients in your neighborhood by completing your contact information.') }}{% endblock %}

{% block content %}
<!-- Form -->
<div class="row">
	<div class="span6">
		<form method="post" action="/patient/address/{{ patient.key.urlsafe() }}" class="form-horizontal" id="address_form">
			<fieldset>
				{{ macro.make_standard_form(address_form) }}
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					{{ _('Save') }}
				</button>
			</div>
		</form>
	</div>
</div>

{% endblock %} 