{% extends "/layout/provider_nav.html" %}

{% set active_page = "patient" %}

{% block subhead %}Upcoming Appointments{% endblock %}
{% block lead %}See what's in your schedule.{% endblock %}

{% block content %}
<div class="row">
	<div class="span6">
		{% for booking in bookings %}
			<div style="{% if loop.index > 1 %} border-top: 1px solid #e5e5e5; padding-top:15px; {% endif %} padding-bottom:15px">
			{{ macro.booking_summary(provider=booking.provider.get(), booking=booking) }}
			</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}