{% extends "/layout/base.html" %}

{% block subhead %} {{ _('New Appointment') }} {% endblock %}
{% block lead %}{{ _('Please complete the following booking details') }}{% endblock %}

{% block content %}
<div class="row">
	<div class="span12">
		<form class="form-horizontal" action="/{{provider.vanity_url}}/book/step/2" method="post">
			<fieldset>
				<div class="row">
					<div class="span6">
						{{ macro.make_standard_form(email_details_form) }}
					</div>
					<div class="span6">
						<div class="well">
							<h2>{{ _('Your Appointment') }}</h2>
							<br>
							<i class="bs-icon icon-user"></i> 
							{{ provider.first_name }} {{ provider.last_name }}
							<br>
							<i class="bs-icon icon-briefcase"></i> 
							{{ provider.category|code_to_string }}
							<br>
							<i class="bs-icon icon-time"></i> {{ email_details_form.booking_datetime.data }}<br>
						</div>
					</div>
				</div>
				
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					{{ _('Confirm') }}
				</button>
			</div>
		</form>
	</div>
</div>
{% endblock content %}