{% extends "/layout/patient_nav.html" %}

{% set active_page = "bookings" %}

{% block subhead %}{{ _('Upcoming Appointments') }}{% endblock %}
{% block lead %}{{ _("See what's in your schedule.") }}{% endblock %}

{% block content %}
<div class="row">
	{% if bookings|length > 0 %}
	<div class="span12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="25%">{{ _('Date and Time') }}</th>
					<th width="25%">{{ _('Provider') }}</th>
					<th width="50%">{{ _('Comments') }}</th>
				</tr>
			</thead>
			<tbody>
				{% for b in bookings %}
				{% if b.provider %}
				{% set provider = b.provider.get() %}
				<tr>
					<!-- Date (Booking) -->
					<td> {% if b.cancelled %}<del>{% endif %}

						{{b.datetime|format_datetime_full}}

						{% if b.cancelled %}</del>{% endif %}
					<br>
					{% if b.cancelled %} <span class="badge badge-warning">Cancelled</span>  <br> {% endif %}
					{% if b.confimed == False %} <span class="badge badge-warning">!</span> Please check your email to confirm this appointment {% endif %}</td>

					<!-- Provider -->
					<td>
					<div class="row-fluid">
						<div class="span3">
							<a href="/{{ provider.vanity_url }}"> {% if provider.profile_photo_blob_key %} <img src="{{ provider.get_profile_photo_image_url(50) }}" width="50"
							alt="{{ macro.display_provider_name(provider) }} - {{ provider.category|code_to_string }}"> {% else %} <img src="/assets/img/default-profile.png" width="50" height="50"
							alt="{{ macro.display_provider_name(provider) }} - {{ provider.category|code_to_string }}"> {% endif %} </a>
						</div>
						<div class="span9">
							<a href="/{{ provider.vanity_url }}">
							<h4> {{ provider.first_name }}
							{{ provider.last_name }} </h4></a> {{ provider.category|code_to_string }}
						</div>
					</div></td>
					<td>{{ b.comments }}</td>
				</tr>
				{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
</div>

{% endblock content %}