{% extends "/layout/base.html" %}

{% block subhead %} {{ _('New Patient') }} {% endblock %}
{% block lead %}{{ _('Please complete your profile') }}{% endblock %}

{% block content %}
<form class="form-horizontal" action="/patient/new" method="post">

	<div class="row">
		<div class="span6">

			{{ macro.makeStandardForm() }}

			{# repeat previously visible info in hidden format for the form #}
			<input id="category" name="category" type="hidden" value="{{ booking.category }}">
			<input id="location" name="location" type="hidden" value="{{ booking.region }}">
			<input id="booking_date" name="booking_date" type="hidden" value="{{ booking.date }}">
			<input id="booking_time" name="booking_time" type="hidden" value="{{ booking.time }}">
			<input id="bk" name="bk" type="hidden" value="{{ booking.key.urlsafe() }}">
		</div>

		<div class="span6">
			<div class="well">
				<h2>{{ _('Your Appointment') }}</h2>
				<br>
				{{ macro.booking_summary(provider=provider, booking=booking) }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">
					{{ _('Confirm') }}
				</button>
			</div>
		</div>
	</div>
</form>

{% endblock content %}
